@import "../../../../../src/styles/base/breakpoints";

.c-stickyNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  margin: auto;
  max-height: 90px;
  background: #f8f8f8;
  opacity: .98;
  z-index: 999;
  display: flex;
  align-items: center;
  border: none;

  @include breakpoint(desktop-sm) {
    border-bottom: solid 1px #d0d0d0;
    max-height: 70px;
  }
}
