@import "./../../../../../../src/styles/base/colors";
@import "./../../../../../../src/styles/base/mixins";
@import "./../../../../../../src/styles/base/breakpoints";

.story-text,
.c-customHTML {
  width: 100%;

  a {
    color: $blue-text;
    padding-bottom: 1px;

    &:hover {
      border-bottom: 1px solid $blue-text;
    }
  }

  @include text-styles(1rem, 2.25, "Gordita");

  @include breakpoint(desktop-sm) {
    @include text-styles(1.25rem, 2, "Gordita");
  }
}
