.pg01-container {
  position: relative;
  background: #000;
  min-width: 720px;
  width: 40vw;
  height: 480px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.125rem;

  .arc_ad {

    .arcad {

      &:not(:empty) {
        
        &:before {
          color: #fff;
        }
      }
    }
  }
}
