@import "../../../../../src/styles/base/breakpoints";

.pg01-container {
  position: relative;
  background: #000;
  min-width: 720px;
  width: 40vw;
  max-height: 480px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.125rem;
  overflow-y: hidden;

  @include between-breakpoints(tablet, gallery) {
    min-width: 620px;
  }

  .arc_ad .arcad:not(:empty):before {
    color: #fff;
  }
}
