@import "../../../../src/styles/base/breakpoints";
@import "./../../../../src/styles/base/mixins";

.c-sponsorBanner {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-width: 576px;
  max-height: 260px;
  margin: 1.25rem auto auto;

  @include breakpoint(tablet) {
    max-width: calc(100% - 40px);
  }

  @include breakpoint(desktop-sm) {
    max-width: 1600px;
    margin-top: 1.875rem;
  }

  .c-sponsorImg {
    width: 100%;
    height: 100%;
  }

  .c-sponsorUrl {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
