@import "./../../../src/styles/base";

.c-homeListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    color: inherit;
  }

  // Common Styles Used By ALl the Display Classes

  .c-homeList {
    width: 100%;
    margin-bottom: 3rem;

    @include breakpoint(desktop-sm) {
      margin-bottom: 2rem;
    }

    .image-component-image img {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .24);
      border-radius: 6px;
    }

    .homeList-text {

      .c-label-wrapper {
        margin: 12px auto 8px;

        .section-label {
          font-size: .75rem;
          font-weight: 600;
        }
      }

      .headline {
        @include text-styles(1.4rem, 1.25, "Average");

        letter-spacing: -.24px;
        text-align: center;

        @include breakpoint(desktop-sm) {
          @include text-styles(1.3vw, 1.28, "Average");
        }
      }
    }
  }

  //////////////////
  // Column Styles
  //////////////////

  &.one-column {
    flex-direction: column;
  }

  &.two-columns {

    .c-homeList {
      @include breakpoint(desktop-sm) {
        width: 47%;
      }
    }
  }

  &.three-columns {

    .c-homeList {
      // @include breakpoint(tablet) {
      //   width: 47%;
      // }

      @include breakpoint(desktop-sm) {
        width: 31%;
      }
    }
  }

  &.four-columns {

    .c-homeList {
      // @include breakpoint(tablet) {
      //   width: 47%;
      // }

      @include breakpoint(desktop-sm) {
        width: 22.5%;
      }
    }
  }

  //////////////////////
  // Display Class Styles
  //////////////////////

  // Top Photo styles

  &.top-photo-display-class {
    margin-left: -30px;
    margin-right: -30px;

    @include breakpoint(tablet) {
      margin-right: 0;
      margin-left: 0;
    }

    .image-component-image img {
      border-radius: 0;

      @include breakpoint(tablet) {
        border-radius: 6px;
      }
    }

    .c-label-wrapper {
      @include breakpoint(desktop-sm) {
        min-height: 25px;
      }

      @include breakpoint(desktop-lg) {
        min-height: initial;
      }
    }

    .homeList-text {
      margin: 0 15px;

      @include breakpoint(tablet) {
        margin: 0;
      }
    }

    .headline {
      text-align: center;
    }
  }

  // Left photo styles

  &.left-photo-display-class {

    .c-homeList {
      margin-bottom: 3rem;

      @include breakpoint(desktop-sm) {
        display: flex;
        margin-bottom: 1rem;
      }

      .homeList-image {
        max-width: 50%;
        margin-right: 20px;

        @include breakpoint(desktop-sm) {
          max-width: 35%;
        }
      }

      .homeList-text {
        @include breakpoint(desktop-sm) {
          max-width: 55%;
        }

        @include breakpoint(desktop-lg) {
          max-width: 60%;
        }

        .c-label-wrapper {
          margin-top: -6px;

          @include breakpoint(desktop-sm) {
            margin: 0 0 7px;
            text-align: left;
          }
        }

        .headline {
          @include breakpoint(desktop-sm) {
            text-align: left;
          }
          
          &.listPage {
            text-align: left;

            @include text-styles(1rem, 1.33, "Average");

            @include breakpoint(desktop-sm) {
              @include text-styles(1.375rem, 1.25, "Average");
            }
          }
        }
      }

      &.listPage {
        margin-bottom: 1rem;

        @include breakpoint(desktop-sm) {
          margin-bottom: 2rem;
        }

        .homeList-image {
          max-width: 40%;
          margin-right: 10px;

          @include breakpoint(desktop-sm) {
            max-width: 35%;
            margin-right: 20px;
          }
        }

        .c-label-wrapper {
          margin-bottom: 2px;
          margin-top: -3px;

          @include breakpoint(desktop-sm) {
            margin-bottom: 7px;
            margin-top: 0;
          }
        }
      }
    }
  }

  // No photo Display Class

  &.no-photo-display-class {

    .c-homeList {
      margin-bottom: .6rem;

      .c-label-wrapper {
        text-align: left;
        margin-bottom: .4rem;
      }

      .headline {
        text-align: left;
      }

      .homeList-image {
        display: none;
      }

      .homeList-text {
        padding-bottom: 20px;
        border-bottom: 1px solid #cdcdcd;
        width: 100%;

        .headline {
          @include breakpoint(tablet) {
            @include text-styles(1.125rem, 1.25, "Average");
          }
        }
      }
    }
  }

  // Link Display Class

  &.link-display-class {

    .c-label-wrapper {
      display: none;
    }

    .c-homeList {
      box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
      border-radius: 6px;
      height: 90px;
      box-sizing: border-box;

      .homeList-image {
        display: none;
      }

      .homeList-text {

        .headline {
          @include text-styles(1.25rem, 90px, "Gordita");

          @include breakpoint(desktop-sm) {
            @include text-styles(1.875rem, 90px, "Gordita");
          }

          letter-spacing: -.3px;
          color: #2e81b7;
          width: 100%;
          height: 90px;
          overflow: hidden;

          a {
            display: inline-block;
            height: 100%;
            padding: 0 30px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
