@import "./../../../src/styles/base";

.c-homeListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.hasNativoAd {
    @include breakpoint(desktop-sm) {

      .ntv-hp1 {

        .homeList-image {
          margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
        }
      }
    }

    .c-homeList:last-child {
      display: none;
    }
  }

  a {
    color: inherit;
  }

  .article-timestamp {
    line-height: 1;
  }

  // Common Styles Used By All the Display Classes

  .c-homeList {
    margin-bottom: 3rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;

      @include breakpoint(desktop-sm) {
        margin-bottom: initial;
      }
    }

    @include breakpoint(desktop-sm) {
      margin-bottom: 2rem;
      margin-right: 3.3%;
      width: 100%;
    }

    .homeList-image {
      position: relative;
      display: inline-block;
      height: fit-content;
      margin-bottom: $min-margin;
    }

    .image-component-image img {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .24);
      border-radius: 6px;
    }

    .homeList-text {

      .c-tease-icon {
        margin-left: 15px;
      }

      .c-label-wrapper {
        margin: .6rem 0 .2rem;
        text-align: left;

        &:empty {
          display: none;
        }

        @include breakpoint(desktop-sm) {
          margin-bottom: .4rem;
        }

        .section-label {
          font-size: .75rem;
          font-weight: 600;

          &.ntv-disc {
            background-color: inherit;
            padding: 0;

            a {
              color: #000 !important; /* stylelint-disable-line declaration-no-important */
            }
          }
        }
      }

      .headline {
        @include text-styles(1rem, 1.38, "Lora");

        letter-spacing: -.09px;
        margin-bottom: 10px;
      }
    }
  }

  //////////////////
  // Column Styles
  //////////////////

  &.one-column {
    flex-direction: column;

    .c-homeList:last-child {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &.two-columns {

    .c-homeList {
      @include breakpoint(desktop-sm) {
        width: 47%;
      }

      &:nth-last-child(-n + 2) {
        @include breakpoint(desktop-sm) {
          margin-bottom: 0;
          border: none;
        }
      }

      &:nth-child(2n) {
        @include breakpoint(desktop-sm) {
          margin-right: 0;
        }
      }
    }
  }

  &.three-columns {

    .c-homeList {
      @include breakpoint(desktop-sm) {
        width: 31%;
      }

      &:nth-last-child(-n + 3) {
        @include breakpoint(desktop-sm) {
          margin-bottom: 0;
          border: none;
        }
      }

      &:nth-child(3n) {
        @include breakpoint(desktop-sm) {
          margin-right: 0;
        }
      }

      .homeList-image {
        width: 100%;
      }
    }
  }

  &.four-columns {

    &.top-photo-display-class {

      .c-tease-icon {
        margin-top: 10px;
        margin-left: 0;

        @include breakpoint(desktop-sm) {
          margin-top: 0;
        }
      }
    }

    .c-homeList {
      @include breakpoint(desktop-sm) {
        width: 22.5%;
      }

      &:nth-last-child(-n + 4) {
        @include breakpoint(desktop-sm) {
          margin-bottom: 0;
          border: none;
        }
      }

      &:nth-child(4n) {
        @include breakpoint(desktop-sm) {
          margin-right: 0;
        }
      }
    }
  }

  //////////////////////
  // Display Class Styles
  //////////////////////

  // Top Photo styles

  &.top-photo-display-class {
    margin-left: -$min-margin;
    margin-right: -$min-margin;

    @include breakpoint(tablet) {
      margin-right: 0;
      margin-left: 0;
    }

    .c-label-wrapper {
      @include breakpoint(desktop-sm) {
        min-height: 25px;
      }

      @include breakpoint(desktop-lg) {
        min-height: initial;
      }
    }

    .homeList-image {
      @include between-breakpoints(mobile, desktop-sm) {
        display: table;
        margin: 0 auto;
      }

      .image-component-image img {
        border-radius: 0;

        @include breakpoint(tablet) {
          border-radius: 6px;
        }
      }
    }

    .homeList-text {
      margin: 0 $min-margin;
      text-align: left;

      @include breakpoint(tablet) {
        margin: 0;
      }
    }

    .headline {
      text-align: left;
    }
  }

  // Left photo styles

  &.left-photo-display-class,
  &.left-photo-small-display-class {

    .c-homeList {
      margin-bottom: 40px;
      display: flex;

      .article-timestamp {
        margin-left: 15px;
      }

      .c-sponsorOverlay,
      .image-component-image .sponsored-story {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      .homeList-image {
        max-width: calc(45% - 7.5px);
      }

      .homeList-text {
        max-width: 55%;

        @include breakpoint(desktop-lg) {
          max-width: 60%;
        }

        .c-label-wrapper {
          margin: 0 0 6px 15px;
          text-align: left;
        }

        .headline {
          text-align: left;
          margin-left: 15px;

          &.listPage {
            text-align: left;
          }
        }
      }

      &.listPage {
        margin-bottom: 1rem;
        width: 100%;

        @include breakpoint(desktop-sm) {
          margin-bottom: 2rem;
        }
      }

      &.isMissingPromo {

        .homeList-text {
          width: 100%;
          max-width: 100%;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  //Left Photo Small Display Class

  &.left-photo-small-display-class {

    .c-homeList {
      margin-bottom: 20px;

      .homeList-image {
        @include breakpoint(desktop-sm) {
          max-width: calc(20% - 7.5px);
          min-width: 110px;
        }
      }

      .homeList-text {

        .c-label-wrapper {
          margin-bottom: 2px;

          @include breakpoint(desktop-sm) {
            margin-bottom: 5px;
          }
        }

        @include breakpoint(desktop-sm) {
          max-width: 80%;
        }
      }

      .headline {
        @include text-styles(1rem, 1.38, "Lora");

        letter-spacing: -.09px;
      }
    }
  }

  // No photo Display Class

  &.no-photo-display-class {

    &.one-column,
    &.two-columns,
    &.three-columns,
    &.four-columns {

      .c-homeList {

        &:not(:first-child) {
          margin: $min-margin 0 0;
        }

        &:last-child {
          border-bottom: none;

          .homeList-text {
            margin-bottom: 0;
          }

          @include between-breakpoints(mobile, tablet) {
            margin-bottom: 30px;
          }
        }

        border-bottom: 1px solid #cdcdcd;
        width: 100%;
        margin-bottom: 0;

        .c-label-wrapper {
          text-align: left;
          margin-bottom: .4rem;
        }

        .headline {
          text-align: left;
        }

        .homeList-image {
          display: none;
        }

        .homeList-text {
          margin: 0 0 $min-margin;
          width: 100%;

          .c-tease-icon {
            margin-left: 0;
          }
        }
      }
    }

    &.two-columns,
    &.three-columns,
    &.four-columns {

      .col-2,
      .col-3,
      .col-4 {
        @include breakpoint(tablet) {
          border-left: 1px solid #cdcdcd;
          padding-left: 20px;

          &:not(:last-child) {
            padding-right: 20px;
          }
        }
      }

      .col-1 {
        margin-right: 0;
        width: 100%;

        @include breakpoint(tablet) {
          padding-right: 20px;
        }
      }
    }

    &.two-columns {

      .col-1,
      .col-2 {
        width: 100%;

        @include breakpoint(tablet) {
          width: calc((100% - 41px) / 2);
        }
      }
    }

    &.three-columns {

      .col-1,
      .col-2,
      .col-3 {
        width: 100%;

        @include breakpoint(tablet) {
          width: calc((100% - 82px) / 3);
        }
      }
    }

    &.four-columns {

      .col-1,
      .col-2,
      .col-3,
      .col-4 {
        width: 100%;

        @include breakpoint(tablet) {
          width: calc((100% - 123px) / 4);
        }
      }
    }
  }

  // Link Display Class

  &.link-display-class {

    .c-label-wrapper {
      display: none;
    }

    .c-homeList {
      box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
      border-radius: 6px;
      height: 90px;
      box-sizing: border-box;

      .homeList-image {
        display: none;
      }

      .homeList-text {

        .headline {
          @include text-styles(1rem, 90px, "Gordita");

          @include breakpoint(desktop-sm) {
            @include text-styles(1.875rem, 90px, "Gordita");
          }

          letter-spacing: -.3px;
          color: #2e81b7;
          width: 100%;
          height: 90px;
          overflow: hidden;

          a {
            display: inline-block;
            height: 100%;
            padding: 0 px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
