@import "./../../../../src/styles/base/breakpoints";
@import "../../../../src/styles/base/fonts";
@import "../../../../src/styles/base/mixins";

.section-label {
  @include text-styles(.688rem, 1.82, "Gordita");

  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  letter-spacing: normal;
  margin-right: 6px;

  &.section-label-link {
    color: #2e81b7;
    text-decoration: none;
  }
}
