@import "./../../../../src/styles/base/breakpoints";
@import "../../../../src/styles/base/fonts";
@import "../../../../src/styles/base/mixins";

.section-label {
  @include text-styles(.75em, 1.5, "Gordita");

  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  letter-spacing: normal;
  margin-right: 6px;

  @include breakpoint(desktop-sm) {
    @include text-styles(1em, 1, "Gordita");
  }

  &.section-label-link {
    color: #2e81b7;
    text-decoration: none;
  }
}
