.section-label {
    font: 500 0.75em 'Gordita';
    color: #2e81b7;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
    letter-spacing: normal;

    @media (min-width: 1024px) {
        font: 500 1em 'Gordita';
    }
}
