@import "./../../../../src/base/framework";

.section-label {
  font: 500 0.75em "Gordita", sans-serif;
  text-transform: uppercase;
  color: #000000;
  width: auto;
  letter-spacing: normal;

  @include breakpoint(tablet) {
    font-size: 1em;
  }
  &.section-label-link {
    color: #2e81b7;
    text-decoration: none;
  }
}
