/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */

@import "../../../../src/styles/base/mixins";

.c-listItemPreview {
  letter-spacing: -.32;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-top: .4rem;

  @include text-styles(1rem, 1.5, "Average");
}
