/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */

@import "../../../../src/styles/base/mixins";

.c-listItemPreview {
  letter-spacing: -.32;
  margin-top: .4rem;
  height: 4.5rem;

  @include text-styles(1rem, 1.5, "Average");
}
