@import "./../../../src/styles/base/mixins";
@import "./../../../src/styles/base/fonts";
@import "./../../../src/styles/base/breakpoints";

.c-sectionHome:not(.full-width) .c-RightRailWithErrorPageFeature {
  @include breakpoint(desktop-sm) {
    margin-top: 160px;
  }

  @include breakpoint(desktop-xxl) {
    margin-top: 170px;
  }
}

.c-listPage .page-not-found-feature {
  margin-top: -.3rem;

  @include between-breakpoints(tablet, desktop-sm) {
    margin-top: -2rem;
  }

  @include breakpoint(desktop-sm) {
    margin-top: -.6rem;
  }
}

.page-not-found-feature {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #dadada;
  margin-bottom: 15px;
  padding-bottom: 10px;
  align-self: normal;

  .error-text {
    @include text-styles(.8125rem, 1.54, "Gordita-Bold");

    color: var(--body-text);

    @include between-breakpoints(tablet, desktop-sm) {
      display: flex;
    }

    .error-text-2 {
      @include text-styles(.8125rem, 1.54, "Gordita");

      @include between-breakpoints(tablet, desktop-sm) {
        padding-left: .3125rem;
      }
    }
  }

  .background-image {
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: .625rem;
  }
}
