@import "./../../../src/styles/base/mixins";
@import "./../../../src/styles/base/fonts";
@import "./../../../src/styles/base/breakpoints";


.c-sectionHome:not(.full-width) .c-rightRail {
  @include breakpoint(desktop-sm) {
    top: 160px;
  }

  @include breakpoint(desktop-xxl) {
    top: 170px;
  }
}

.page-not-found-feature {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #dadada;
  margin: 15px 0 15px;
  padding-bottom: 10px;
  align-self: normal;
  
    .error-text {
      font-family: "Gordita";
      font-size: .8125rem;
      color: var(--body-text);
      line-height: 1.54;

      @include between-breakpoints(tablet, desktop-sm) {
        display: flex;
      }

      @include breakpoint(desktop-sm) {
        display: grid;
      }

      .error-text-1 {
        font-weight: bold;
      }

      .error-text-2 {
        @include between-breakpoints(tablet, desktop-sm)  {
          padding-left: .3125rem;
        }
      }
    }

    .background-image {
      width: 100%;
      height: auto;
      display: flex;
      padding-bottom: .625rem;

      @include breakpoint(desktop-sm)  {
        width: 177%;
      }

      @include breakpoint(desktop-xxl)  {
        width: 174%;
      }

      @include breakpoint(desktop-xxxl)  {
        width: 168%;
      }
    }
}
