@import "../../../../src/styles/base/mixins.scss";
@import "../../../../src/styles/base/breakpoints.scss";

.c-countdown {
  display: flex;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 30px;
  position: absolute;
  top: 20%;

  @include breakpoint(tablet) {
    top: 24px;
  }

  .card {
    width: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:after {
      content: ":";
      position: absolute;
      top: 4px;
      right: -2px;
      font: 8.5px "Gordita-Bold";
      letter-spacing: -.05px;
      color: #fff;

      @include breakpoint(tablet) {
        font-size: 10px;
        letter-spacing: -.06px;
      }
    }

    &:last-child:after {
      display: none;
    }

    &:nth-last-child(2):after {
      display: none;
    }

    .time {
      width: 22px;
      height: 19px;
      font: 14px "Gordita-Bold";
      letter-spacing: -.22px;
      text-align: center;
      color: #fff;
    }

    .label {
      width: 12px;
      height: 9px;
      font: 7px "Gordita-Bold";
      letter-spacing: -.11px;
      text-align: center;
      color: #fff;
    }

    @include breakpoint(tablet) {

      .time {
        width: 24px;
        height: 21px;
        font-size: 16px;
        letter-spacing: -.25px;
      }

      .label {
        font-size: 8px;
        letter-spacing: -.12px;
      }
    }
  }

  .spacer {
    width: 17px;
  }
}
