@import "./../../../../../../src/styles/base";

article {
  margin: 0 1.5%;
}

.img-component {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 685px;

  .img-fluid {
    margin: 0 auto;
    height: auto;
    overflow: visible;
    padding: 0;

    img {
      cursor: pointer;
      border-radius: 6px;
    }

    .photo__caption__toggle {
      width: 40px;
      height: 40px;
      padding: 12px;
      top: 5%;
      right: 3%;
      z-index: 11;

      .fill-line--long {
        width: 15px !important;
        margin-bottom: 3px;
      }

      .fill-line {
        width: 10px;
        margin-bottom: 3px;
      }
    }
  }

  .photo_caption_secondaryImage {
    width: calc(100% - 100px);
    position: absolute;
    top: 9%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, 0.1);
    padding: 60px;
    -webkit-animation: fadeinout 0.8s linear 1 forwards;
    animation: fadeinout 0.8s linear 1 forwards;

    @-webkit-keyframes fadeinout {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0.8;
      }
    }

    @keyframes fadeinout {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0.8;
      }
    }

    @include breakpoint(mobile) {
      padding: 8%;
      width: calc(100% - 80px);
    }

    .photo__caption__text {
      font: 400 1.25em "Gordita_Regular", arial, sans-serif;
      color: #fff;
      line-height: 1.58;
      letter-spacing: normal;

      @include breakpoint(mobile) {
        font: 400 0.875em "Gordita_Regular", arial, sans-serif;
      }
    }
  }

  .photo__credit {
    margin: 0;
    text-align: right;

    .photo__credit__text {
      font: 400 0.75em "Gordita_Regular", arial, sans-serif;
      color: #313132;
      line-height: 2;
      margin: 0;
      text-transform: capitalize;
    }
  }
}
