@import "../../../../src/styles/base/_utility.scss";

.c-sponsor-box {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 50px);
  height: auto;
  margin: auto;

  @include breakpoint(tablet) {
    width: calc(100vw - 100px);
  }

  @include breakpoint(desktop-sm) {
    width: 100%;
    float: left;
    clear: both;
  }

  .sponsor-header {
    border-bottom: solid 1px #cdcdcd;
    padding: 1.2em 0;
    margin-bottom: .35rem;

    h1 {
      text-align: center;
      color: #313132;
      width: auto;
      line-height: normal;
      letter-spacing: -.5px;

      @include text-styles(2.5rem, 1.44, "Average");
    }
  }

  .sponsor-ad .arc_ad .arcad {
    margin-bottom: 1.2rem;

    &:not(:empty):before {
      content: "";
    }
  }

  .sponsor-ad .ampAdLabel:before {
    display: none;
  }

  .sponsor-content {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    .sponsor-item {
      width: 100%;
      position: relative;
      margin-bottom: 1.2rem;

      a {
        color: #000;
        text-decoration: none;
        line-height: 1.15;

        h2 {
          line-height: 1.15;

          @include text-styles(1.25rem, 1.44, "Average");

          @include breakpoint(desktop-sm) {
            @include text-styles(1.25em, 1.25, "Average");
          }
        }
      }

      &:before {
        display: block;
        content: " ";
        background: #2e81b7;
        border-radius: 2.5px;
        width: 50px;
        height: 5px;
        font-size: 11px;
        margin-top: .7rem;
        margin-bottom: .2rem;
      }

      &.enabled {

        h2 {

          &:before {
            content: "ADVERTISER CONTENT";
            max-width: 115px;
            border-radius: 6px;
            color: #000;
            padding: 6px 15px;
            display: block;
            margin-bottom: .5rem;
            
            @include text-styles(.625rem, 1.44, "Gordita_Medium");
          }
        }
      }
    }
  }
}
