@import "./../../../src/styles/base";

.c-ttd-feature {

  .c-homeLeadContainer {

    .column-1 {
      max-width: 433px;

      .home-headline {

        .homeList-image {

          .c-image-component {

            .image-component-image {

              .lazyload-wrapper {
                  
                img {
                  border-radius: 0;
                }
              }
            }
          }
        }

        .headline-box {
          padding: 0;
          background: none;
          border-radius: 0;
          box-shadow: unset;
        }
      }
    }

    .column-2,
    .column-3 {
      max-width: 329px;
    }
  }
}
