@import "../../../src/styles/base/_mixins.scss";
@import "../../../src/styles/base/breakpoints";

.c-listPage {
  margin-top: 30px;
  margin-bottom: 30px;

  .c-section {
    padding: 0 20px;

    @include breakpoint(desktop-sm) {
      padding: 0 15px;
    }

    .c-contentElements {
      @include breakpoint(tablet) {
        width: calc(100% - 330px);
        padding: 0 30px 0 0;
      }

      .c-rightRail {
        @include breakpoint(tablet) {
          display: block;
          float: right;
          margin-right: -384px;
        }
      }
    }
  }
}

.tease-listHeading {
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
  box-sizing: border-box;
  text-transform: capitalize;

  @include text-styles(1.875rem, 1, "Average");

  @include breakpoint(desktop-sm) {
    padding-bottom: 20px;

    @include text-styles(2.5rem, 1, "Average");
  }
}

.listPage-item {
  width: 100%;

  .c-homeList {
    display: flex;
    margin-bottom: 20px;

    .c-label-wrapper {
      text-align: left;
    }
  }
}

.list-mp05 {
  @include breakpoint(tablet) {
    display: none;
  }
}
