@import "../../../src/styles/base/_mixins.scss";
@import "../../../src/styles/base/breakpoints";

.c-listPage,
.c-staffBioPage {

  &.b-sectionHome-padding {
    padding-top: 1.25rem;

    @include breakpoint(tablet) {
      padding-top: 1.875rem;
    }
  }

  .c-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .c-contentElements {
      @include breakpoint(desktop-sm) {
        width: calc(100% - 330px);
        padding: 0 30px 0 0;
      }
    }

    .c-list-right-rail {
      display: none;

      @include breakpoint(desktop-sm) {
        display: flex;
      }
    }
  }

  .border-top {
    display: none;
  }

  .c-hp01-mp01 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .c-news-tip-text {
    @include text-styles(.813rem, 1.54, "Gordita");

    color: #313132;
    padding-bottom: 15px;
    border-bottom: solid 1px #dadada;
    width: 100%;

    h3.bold-text {
      @include text-styles(.813rem, 1.54, "Gordita-Bold");

      font-weight: 700;
    }

    a {
      color: #2e81b7;
    }

    @include breakpoint(desktop-sm) {
      margin-right: 3.3%;
      margin-bottom: .875rem;
    }

    &.desktop {
      display: none;

      @include breakpoint(desktop-sm) {
        display: initial;
      }
    }

    &.mobile-tablet {
      @include breakpoint(desktop-sm) {
        display: none;
      }
    }

    &:empty {
      display: none;
    }
  }

  .list-contentElements {
    @include breakpoint(desktop-sm) {
      border-right: 1px #dadada solid;
    }
  }

  .list-hp05 {
    display: none;

    @include breakpoint(tablet) {
      background-color: #fff;
      width: 100%;
      height: 155px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      z-index: 100;
      position: relative;
      padding-bottom: 1.813rem;

      .hp05-line {
        width: 100%;
        height: 1px;
        background-color: #dadada;
        position: absolute;
        top: 32px;
      }

      .arc_ad {
        margin: 0;
      }

      .HP05 {
        margin: 0;
      }
    }

    @include breakpoint(desktop-sm) {
      display: none;
    }
  }

  .c-list-right-rail {
    display: none;

    @include breakpoint(desktop-sm) {
      display: flex;
      flex-direction: column;

      .RP01-container {
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        padding-top: 19px;

        .RP01 {
          top: 100px;
          position: sticky;
        }
      }
    }
  }
}

.tease-listHeading {
  border-bottom: 1px solid #cdcdcd;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -.28px;
  color: #313132;
  padding: 11px 0;

  @include text-styles(1.375rem, 1, "Gordita-Bold");

  @include breakpoint(desktop-sm) {
    padding-bottom: 12px;
    font-size: 2.188rem;
  }
}

.listPage-item {
  width: 100%;

  .c-homeList {
    display: flex;
    margin-bottom: 20px;

    .c-label-wrapper {
      text-align: left;

      &:empty {
        display: none;
      }
    }
  }
}

.c-staffBioPage {

  .c-rightRail {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  .btn-loadMore {
    margin-right: 3.3%;
  }
}

.list-mp05 {
  margin-top: 2rem;
  width: 100%;

  @include breakpoint(tablet) {
    display: none;
  }
}
