@import "./../../../src/styles/base/mixins";
@import "./../../../src/styles/base/breakpoints";

@mixin footer-width() {
  width: calc(90% - 30px);
  max-width: 1600px;
}

// default styles for footer elements
.c-footer {
  background-color: #f1f1f2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px 0;
  li {
    list-style: none;
    text-align: left;
  }
  a {
    color: inherit;
    cursor: pointer;
  }
}

//unique styles for different parts of footer
.footer-row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px auto;
  @include footer-width();
  @include breakpoint(desktop-sm) {
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      @include breakpoint(desktop-sm) {
        border-right: 1px solid #9b9b9b;
      }
    }
  }

  .logo {
    width: 165px;
    height: 95px;
    margin: 20px;
    @include breakpoint(desktop-sm) {
      width: 253px;
      height: 155px;
      margin: 0 75px;
    }
  }
  .newsletter-signup {
    @include text-styles(1.125rem, 1, "Gordita");
    color: #545454;
    margin: 20px 0;
    img {
      width: 2.8rem;
      cursor: pointer;
    }
    @include breakpoint(desktop-sm) {
      @include text-styles(1.875rem, 1, "Gordita");
      font-weight: 500;
      margin: 0 50px;
      img {
        width: 3.8rem;
      }
    }
  }
}

.footer-row-2 {
  margin-bottom: 50px;
  .menus {
    @include breakpoint(desktop-sm) {
      display: flex;
      margin: 0 auto;
      border-bottom: 1px solid #9b9b9b;
      width: 90%;
      padding: 0 30px;
      box-sizing: border-box;
      max-width: 1600px;
    }
  }
  .col-header {
    @include text-styles(1.375rem, 1, "Gordita");
    font-weight: 500;
    border-top: 1px solid #cccccc;
    color: #545454;
    padding: 15px 0;
    @include breakpoint(desktop-sm) {
      flex: 1;
      border-top: none;
    }
    &:first-child {
      border-top: none;
    }
    &.is-visible-mobile {
      padding-bottom: 0;
      .header-text .menu-arrow {
        transform: scale(0.9) translate(0, 5px);
      }
      .childlist {
        display: block;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #cccccc;
        @include breakpoint(desktop-sm) {
          border: none;
        }
      }
    }
    .childlist {
      display: none;
      @include footer-width();
      @include breakpoint(desktop-sm) {
        display: block;
        margin-top: 1.25rem;
      }
    }
    .header-text {
      @include footer-width();
      @include breakpoint(desktop-sm) {
        width: 100%;
      }
      margin: 0 auto;
      .menu-arrow {
        float: right;
        transform: rotate(180deg) scale(0.9) translate(0, -5px);
        @include breakpoint(desktop-sm) {
          display: none;
        }
      }
    }
  }
  .col-links {
    @include text-styles(1.125rem, 1.25, "Gordita");
    color: #2e81b7;

    margin: 0 auto 1.25rem auto;
  }
  .social-media {
    text-align: center;
    @include breakpoint(desktop-sm) {
      text-align: left;
    }
    .header-text {
      display: inline-block;
      margin-top: 38px;
      @include footer-width();
      @include breakpoint(desktop-sm) {
        margin-top: 0;
      }
    }
    .social-media-icons {
      display: flex;
      justify-content: center;
      margin: 1.25rem auto 0 auto;
      @include breakpoint(desktop-sm) {
        justify-content: left;
      }
      img {
        height: 31px;
        margin: 0 1rem;
        @include breakpoint(desktop-sm) {
          height: 40px;
          margin: 0 1.25rem 0 0;
        }
      }
    }
  }
}
