@import "./../../../src/styles/base";

.c-synopsis-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @include breakpoint(desktop-sm) {
    flex-wrap: nowrap;
  }

  .c-homeLeadContainer {
    .home-headline {
      padding-top: 0;
      .c-image-component {
        position: static;
      }
      .headline-box {
        box-shadow: none;
        padding: 0;
        background-color: none;
        margin-top: 15px;
        .headline {
          margin-top: 7px;
          @include text-styles(1.75rem, 1.14, "Average");
          letter-spacing: -0.16px;
        }
      }
    }
    .column-3 {
      .c-label-wrapper {
        margin-bottom: 0.6rem;
      }
      .headline {
        margin-top: -5px;
        a {
          @include text-styles(1.25rem, 1.5, "Average");
          letter-spacing: -0.27px;
          @include breakpoint(desktop-sm) {
            letter-spacing: -0.32px;
          }
        }
      }
    }
  }
}
