@import "./../../../src/styles/base";

.c-synopsis-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }

  @include breakpoint(desktop-lg) {
    flex-wrap: nowrap;
  }

  .c-homeLeadContainer {
    margin-bottom: $min-Msection-margin;

    @include breakpoint(desktop-sm) {
      margin-bottom: $min-DTsection-margin;
    }

    .home-headline {
      padding-top: 0;

      .homeList-image {
        width: 100%;

        .c-image-component {
          position: static;
        }
      }

      .headline-box {
        box-shadow: none;
        padding: 0;
        background-color: none;
        margin-top: 15px;
        max-width: 90%;

        @include breakpoint(desktop-sm) {
          max-width: 100%;
        }

        .headline {
          margin-top: .2rem;
          letter-spacing: -.31px;
          
          @include text-styles(1.563rem, 1.12, "Lora-Bold");

          @include between-breakpoints(tablet,desktop-sm) {
            letter-spacing: -.43px;

            @include text-styles(1.625rem, 1.12, "Lora-Bold");
          }

          @include breakpoint(desktop-sm) {
            letter-spacing: -.5px;

            @include text-styles(1.875rem, 1.13, "Lora-Bold");
          }
        }
      }
    }

    .home-headline.sponsored {

      .homeList-image {
        position: relative;
      }

      .home-headline {
        position: static;
        padding-top: 0;
      }
    }

    .column-2 {
      @include breakpoint(tablet) {
        width: 50%;
      }

      .headline-box {
        margin-top: 0;
      }
    }

    .column-3 {
      @include breakpoint(tablet) {
        width: 50%;
        margin-left: 3.5%;
      }

      .c-homeList {

        .headline {
          margin-top: 0;
          font-size: unset;

          a {
            @include text-styles(1rem, 1, "Lora");

            letter-spacing: -.27px;
          }
        }
      }
    }
  }
  
  
  .border-top {
    width: 100%;

    @include breakpoint(tablet) {
      width: 0;
    }
  }
}
