@import "../../../src/styles/base";

.c-liveUpdateSnippets {
  width: 100%;

  @include breakpoint(desktop-sm) {

    &.b-margin-bottom-d40-m20 {
      margin-bottom: 0;
    }
  }

  .is-not-live {
    display: none;
  }

  .glow {
    height: 14px;
    width: 14px;
    background: #ff1f00;
    border-radius: 50%;
    display: inline-block;

    &.is-live {
      @include blinking-dot(14px, 1.25s);

      position: static;
      transform: none;
    }

    &.is-not-live {
      display: none;
    }
  }

  .border {
    background-color: #cdcdcd;
    flex: 2;

    &.border-horizontal {
      height: 1px;
      margin-left: 5px;
    }

    &.border-vertical {
      width: 1px;
      margin: 5px 0;
    }
  }

  .liveUpdateSnippets-header {
    color: #ff1f00;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    @include text-styles(.875rem, 1, "Gordita-Bold");

    @include breakpoint(desktop-sm) {
      margin-bottom: 1rem;
    }

    .glow {
      margin-right: 8px;
    }
  }

  .liveUpdateSnippets-body {
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
      gap: 1rem;
      flex-flow: row wrap;
    }

    @include breakpoint(desktop-lg) {
      flex-flow: row nowrap;
    }

    .col {
      display: flex;
      flex-direction: column;

      @include breakpoint(tablet) {
        width: 100%;
      }
    }

    .c-liveUpdatesContainer {
      display: flex;
      flex-direction: column;
      min-width: 66%;

      .col-2 {
        margin-bottom: 15px;

        &:last-child {
          border-bottom: 1px solid #cdcdcd;
        }
      }

      @include between-breakpoints(mobile, desktop-sm) {

        h1 {
          padding-bottom: 0;
        }
      }

      @include breakpoint(tablet) {
        flex-direction: row;
        gap: 2rem;

        .col-2 {
          margin-bottom: 0;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      @include breakpoint(desktop-sm) {
        gap: 1rem;
      }

      .col {
        display: flex;
        flex-direction: column;

        @include breakpoint(tablet) {
          width: 100%;
        }
      }

      .c-page-title {
        margin: 0;

        .c-title-content {
          @include text-styles(1.56rem, 1.12, "Lora-Bold");

          letter-spacing: -.31px;
          margin: 0;
          border: none;

          @include breakpoint(tablet) {
            @include text-styles(1.625rem, 1.12, "Lora-Bold");

            letter-spacing: -.43px;
          }

          @include breakpoint(desktop-sm) {
            @include text-styles(1.875rem, 1.13, "Lora-Bold");

            letter-spacing: -.5px;
          }
        }
      }

      .c-image-feature {
        margin: 0;
      }

      .liveUpdateSnippets-update {
        display: flex;

        @include text-styles(.875rem, 1.4, "Gordita");

        .header {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1px 8px 0 0;
        }

        .content {
          color: inherit;
          padding-bottom: 1.25rem;
          margin-top: -1px;
        }

        &:last-child {

          .border {
            display: none;
          }
        }
      }
    }
  }
}
