@import "../../../../src/styles/base/";

.byline {
  color: #313132;
  font-weight: 100;
  letter-spacing: normal;
  margin-top: 10px;

  @include text-styles(0.875rem, normal, "Gordita");

  a {
    color: #2e81b7;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    text-transform: capitalize;
  }

  @include breakpoint(desktop-sm) {
   font-size: 1.2vw;
  }
}