@import "../../../../src/styles/base/mixins";
@import "../../../../src/styles/base/breakpoints";

.byline {
  color: #313132;
  font-weight: 600;
  letter-spacing: -.18px;
  line-height: 1.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  @include text-styles(.875rem, normal, "Gordita");

  a {
    color: #2e81b7;
    display: inline-block;
    text-transform: capitalize;
  }

  @include breakpoint(desktop-sm) {
    @include text-styles(1rem, normal, "Gordita");
    
    letter-spacing: -.2px;
  }
}
