/*  /components/features/article/headline/styles.scss  */

@import "./../../../../src/styles/base/breakpoints";
@import "./../../../../src/styles/base/mixins";

//////////////////
// Component Module Styles
/////////////////

.article-headline-component {
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint(tablet) {
    align-items: center;
  }

  // default styles

  .headline {
    word-wrap: break-word;
    border-radius: 6px;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 100%;

    @include breakpoint(tablet) {
      margin: 0 auto;
      text-align: center;
      justify-content: center;
    }
  }

  .headline-body {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;

    @include amp-only {
      padding-top: 15px;
    }

    @include breakpoint(tablet) {
      padding: 15px;
      text-align: center;
    }

    .headline-text {
      @include text-styles(1.56rem, 1.15, "Lora-Bold");

      letter-spacing: -.3px;
      margin: 0;

      @include breakpoint(tablet) {
        @include text-styles(1.875rem, 1.12, "Lora-Bold");
      }

      @include breakpoint(desktop-sm) {
        @include text-styles(2.188rem, 1.12, "Lora-Bold");

        letter-spacing: -.5px;
      }

      @include breakpoint(desktop-lg) {
        @include text-styles(2.5rem, 1.12, "Lora-Bold");
      }
    }
  }

  // modifier styles for different headline scenarios(video, gallery, etc)

  &.with-gallery {
    flex-direction: column;
    margin-bottom: .25rem;

    @include breakpoint(desktop-sm) {
      overflow: inherit;

      .gallery-wrapper {
        max-width: 100%;
        width: 100%;
        justify-content: center;

        @media screen and (min-width: 1540px) {
          max-width: 1540px;
        }
      }
    }

    .headline {
      max-width: 100%;
      box-shadow: none;
      border: none;

      .headline-body {
        max-width: 1600px;

        .headline-text-long {
          @include breakpoint(tablet) {
            max-width: 63vw;
          }
        }
      }
    }
  }

  &.with-image {

    .headline {
      display: flex;

      @include breakpoint(desktop-sm) {
        flex: 1 0 33%;
        height: 70%;
        text-align: center;
      }
    }

    .c-image-component {
      width: 100vw;
      margin-left: -20px;

      @include breakpoint(tablet) {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  &.with-just-headline {
    margin: 15px 0;

    .headline-body {
      padding: 0;

      @include breakpoint(tablet) {
        padding: 0 20px 0 14px;
      }
    }
  }

  &.with-video {
    display: block;
  }
}

main > .c-header-gallery .article-headline-component.with-gallery .headline .headline-body {
  // this specificity is to differentiate the gallery basic page from an article with lead gallery (in which case `.c-header-gallery` is a nested child of a `header` tag, ala `main > header > .c-header-gallery`)
  padding: 0 30px 20px;
  text-align: center;
}

/////////////////
// Component Container Styles
////////////////

.c-gallery {
  height: 400px;
  width: 100%;
}

.c-video {
  //these heights are temporary styles that gives the video container height till we have a real video component
  width: 100%;
  height: 55vw;

  @include breakpoint(desktop-sm) {
    min-width: 66%;
    height: 33vw;
  }
}
