/*  /components/features/article/headline/styles.scss  */

@import "./../../../../src/styles/base/breakpoints";
@import "./../../../../src/styles/base/mixins";

//////////////////
// Component Module Styles
/////////////////

.article-headline-component {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  @include breakpoint(desktop-sm) {
    flex-direction: row;
    align-items: center;
  }

  // default styles

  .headline {
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .headline-body {
    padding: 20px 30px;

    @include breakpoint(desktop-sm) {
      padding: 57px 40px;
    }

    .headline-text {
      @include text-styles(1.4rem, 1.25, "Average");

      letter-spacing: -.3px;
      margin: 0;

      @include breakpoint(desktop-sm) {
        @include text-styles(3vw, 1.3, "Average");

        letter-spacing: -.5px;
      }

      &.headline-text-long {
        @include breakpoint(desktop-sm) {
          @include text-styles(2.5vw, 1.3, "Average");
        }
      }
    }
  }

  // modifier styles for different headline scenarios(video, gallery, etc)

  &.with-gallery {
    flex-direction: column;
    overflow: hidden;
    margin-bottom: .25rem;

    .article-headline {
      justify-content: center;
    }

    .headline {
      max-width: 100%;
      box-shadow: none;
      border: none;

      .headline-body {
        padding: 20px 30px;
        max-width: 1600px;

        .headline-text-long {
          max-width: 63vw;
        }
      }
    }
  }

  &.with-image {

    .headline {
      margin: -3.5vh auto 0;
      text-align: center;
      display: flex;
      justify-content: center;

      @include breakpoint(desktop-sm) {
        flex: 1 0 33%;
        height: 70%;
        text-align: left;
        margin: 0 -3vw 0 3vw;
      }
    }
  }

  &.with-just-headline {
    margin-top: 1.25rem;

    @include breakpoint(desktop-sm) {
      margin-top: 1.875rem;
    }

    .headline-body {
      @include breakpoint(desktop-sm) {
        padding: 41px 103px;
      }
    }
  }

  &.with-video {
    display: block;

    .headline-body {

      .headline-text {
        @include breakpoint(desktop-sm) {
          text-align: left;
        }
      }
    }
  }
}

/////////////////
// Component Container Styles
////////////////

.c-gallery {
  height: 400px;
  width: 100%;
}

.c-video {
  //these heights are temporary styles that gives the video container height till we have a real video component
  width: 100%;
  height: 55vw;

  @include breakpoint(desktop-sm) {
    min-width: 66%;
    height: 33vw;
  }
}
