/*  /components/features/article/headline/styles.scss  */

@import "./../../../../src/styles/base/breakpoints";
@import "./../../../../src/styles/base/mixins";

//////////////////
// Component Module Styles
/////////////////

.article-headline-component {
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint(desktop-sm) {
    align-items: center;
  }

  // default styles

  .headline {
    word-wrap: break-word;
    border-radius: 6px;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    max-width: 90%;
    margin-left: .938rem;

    @include breakpoint(tablet) {
      margin: 0 auto;
    }
  }

  .headline-body {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: left;

    @include breakpoint(tablet) {
      padding: 30px 20px 20px 15px;
      text-align: center;
    }

    .headline-text {
      @include text-styles(1.56rem, 1.15, "Lora-Bold");

      letter-spacing: -.3px;
      margin: 0;

      @include breakpoint(tablet) {
        @include text-styles(1.875rem, 1.12, "Lora-Bold");
      }

      @include breakpoint(desktop-sm) {
        @include text-styles(2.188rem, 1.12, "Lora-Bold");

        letter-spacing: -.5px;
      }

      @include breakpoint(desktop-lg) {
        @include text-styles(2.5rem, 1.12, "Lora-Bold");
      }
    }
  }

  // modifier styles for different headline scenarios(video, gallery, etc)

  &.with-gallery {
    flex-direction: column;
    overflow: hidden;
    margin-bottom: .25rem;

    .article-headline {
      justify-content: center;
    }

    .headline {
      max-width: 100%;
      box-shadow: none;
      border: none;

      .headline-body {
        padding: 20px 30px;
        max-width: 1600px;

        .headline-text-long {
          max-width: 63vw;
        }
      }
    }
  }

  &.with-image {

    .headline {
      /* margin: -3.5vh auto 0; */
      text-align: center;
      display: flex;
      justify-content: center;

      @include breakpoint(desktop-sm) {
        flex: 1 0 33%;
        height: 70%;
        text-align: center;
      }
    }
  }

  &.with-just-headline {
    margin-top: 1.25rem;

    @include breakpoint(desktop-sm) {
      margin-top: 1.875rem;
    }

    .headline-body {
      @include breakpoint(desktop-sm) {
        padding: 41px 103px;
      }
    }
  }

  &.with-video {
    display: block;

    .headline-body {

      .headline-text {
        @include breakpoint(desktop-sm) {
          text-align: left;
        }
      }
    }
  }
}

/////////////////
// Component Container Styles
////////////////

.c-gallery {
  height: 400px;
  width: 100%;
}

.c-video {
  //these heights are temporary styles that gives the video container height till we have a real video component
  width: 100%;
  height: 55vw;

  @include breakpoint(desktop-sm) {
    min-width: 66%;
    height: 33vw;
  }
}
