@import "../../../../src/styles/base/";

.c-scroll-bar {
  width: 100%;

  .scroll-track {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to bottom, #e7edf2, #f5f7fa);
    border-radius: 10px;
    padding: 2px 0;
    height: 8px;

    .scroll-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #9b9b9b;
      height: 8px;
    }
  }
}
