@import "../../../../src/styles/base/breakpoints";

.c-slider-item.is-firstItem {
  margin-left: 0;
}

.c-slider-item {
  margin-right: .5rem;
  margin-left: .5rem;
  text-align: center;
  width: 100%;

  .slider-item-image img {
    margin-bottom: 1.063rem;
    border-radius: 6px;
    width: 57vw;
    height: 16vh;

    @include breakpoint(desktop-sm) {
      width: 500px;
      height: 280px;
    }
  }

  .sliderList-text {
    margin-bottom: 2.063rem;

    .c-label-wrapper {
      margin-bottom: .35rem;
    }

    a.headline {
      line-height: 1.17;
      letter-spacing: normal;
      color: #000;
      font-family: "Average", "Georgia", serif;
      margin-bottom: 2.3125rem;
      text-decoration: none;
    }
  }
}
