@import "./../../../../src/styles/base/breakpoints";
@import "./../../../../src/styles/base/mixins";

.article-timestamp {
  @include text-styles(.75rem, 2.3, "Gordita");

  letter-spacing: normal;
  color: #9b9b9b;

  &:not(.isTease) {
    margin-left: .938rem;
  }

  @include breakpoint(tablet) {
    @include text-styles(.688rem, 2.3, "Gordita");
  }

  @include breakpoint(desktop-sm) {

    &:not(.isTease) {
      text-align: center;
      margin-left: 1.875rem;
    }
  }
}

span.isTease {
  text-transform: none;
}
