@import "./../../../../src/styles/base/breakpoints";

.article-timestamp {
  font-family: "Gordita";
  font-size: .75rem;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #9b9b9b;
}
