@import "../../../src/styles/base";

.c-dontMiss {
  margin-bottom: $min-Msection-margin;

  @include breakpoint(desktop-sm) {
    border-left: solid 1px #cdcdcd;
    width: calc(100% - 10px);
    margin-left: -10px;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: $min-DTsection-margin;
  }
  
  .c-sectionTitle {
    @include text-styles(1.875rem, 1, "Gordita-Bold");

    letter-spacing: -.38px;
    margin-bottom: $min-margin;

    @include between-breakpoints(tablet,desktop-sm) {
      letter-spacing: -.31px;
      
      @include text-styles(1.563rem, 1, "Gordita-Bold");
    }

    @include breakpoint(desktop-sm) {
      @include text-styles(1.875rem, 1, "Gordita-Bold");
    }
  }
  
  .c-homeListContainer {

    &.no-photo-display-class.dontMissFeature {
  
      .c-homeList {
        padding-top: $min-margin;
        border-bottom: 1px solid #cdcdcd;
        margin: 0;
        text-align: left;

        &:first-child {
          padding-top: 0;
        }
        
        &:last-child {
          border: none;
        }

        .homeList-text {
          margin-top: 0;
  
          .headline {
            letter-spacing: -.09px;
            margin-bottom: $min-margin;

            @include text-styles(1rem, 1.25, "Lora-Bold");
          }
        }
  
        .c-label-wrapper {
          margin: 0 0 .2rem;
        }
      }
    }
  }
}
