@import "./../../../src/styles/base";

.c-page-title {
  width: 100%;
  max-width: 1600px;
  text-align: center;

  .c-title-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 34px 0;
    grid-gap: 20px;
    text-align: center;
    color: #313132;

    @include text-styles(2.5em, 1, "Average");

    &:before,
    &:after {
      content: "";
      display: block;
      border-bottom: 2px solid #aeaeae;
    }

    @include breakpoint(desktop-sm) {
      grid-template-rows: 47px 0;

      @include text-styles(3.5em, 1, "Average");
    }
  }
}
