@import "./../../../src/styles/base";

.c-page-title {
  width: 100%;
  max-width: 1600px;
  text-align: center;

  .c-title-content {
    text-align: center;
    color: #313132;

    @include text-styles(2.5em, 1, "Average");

    &:after {
      content: "";
      display: block;
      border-bottom: 2px solid #aeaeae;
    }

    @include breakpoint(desktop-sm) {
      @include text-styles(3.5em, 1, "Average");
    }
  }
}
