@import "./../../../../../src/styles/base/breakpoints";

.nav-breaking-news {

  &.is-above-shade {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
  }

  &.with-half-shade:not(.is-above-shade) .c-breakingNews {
    margin-top: 15px;

    @include breakpoint(desktop-sm) {
      margin-top: 20px;
    }
  }

  /* APD-1470 fix */

  &.is-section-special-one {

    .c-nav .c-headerNav .Mg2-connext {
      margin-bottom: 10px;
    }
  }
}

.b-hidden:empty {
  display: none;
}

.leave-behind {
  z-index: 1000;

  .arc_ad .arcad:not(:empty):before {
    content: "";
  }
}
