@import "./../../../../../src/styles/base/mixins";
@import "./../../../../../src/styles/base/breakpoints";

// Dark Mode styling //
// "Special" dark mode for when there's an obit or special event

body.special,
body.special #fusion-app {
  background-image: linear-gradient(180deg, #000, #000 400px, #fff 400px, #fff);
}

body.special .footer-wrapper,
body.special .copyright-wrapper {
  max-width: none;
}
// Dark mode base background styling overrides

body.dark-mode,
body.special {

  .nav-breaking-news.is-above-shade,
  .footer-wrapper,
  .special-nav,
  .copyright-wrapper {
    background-color: #000;
  }

  .c-footer,
  .copyright-wrapper .c-copyright,
  .logo-row .copyright-wrapper {
    background-color: #212126;
  }
}

// Dark mode base header styling

body.dark-mode .nav-breaking-news,
body.special .nav-breaking-news {
  background-color: #000;

  @include breakpoint(tablet) {
    background: transparent;
  }

  .c-headerNav {
    @include between-breakpoints(mobile, tablet) {
      border-bottom: 1px solid #fff;
    }

    .logo,
    .c-login path {
      fill: #fff !important; // stylelint-disable-line declaration-no-important
    }

    .c-login:hover path {
      fill: #000 !important; // stylelint-disable-line declaration-no-important
    }

    &.stickyActive {
      background-color: #000;

      .c-topNavLinks {
        @include breakpoint(tablet) {
          border: none;
          width: 100%;
          order: initial;
        }
      }
    }

    .nav-itemText {
      @media only screen and(min-width: 768px) and(max-width: 820px) {
        font-size: .65rem;
      }
    }
  }

  .c-topNavLinks {
    @include breakpoint(tablet) {
      border-bottom: solid 1px #dadada;
      border-top: solid 1px #dadada;
    }

    ul li:not(:last-child) a:not(:hover) {
      color: #fff;
    }

    ul li:last-child a {
      color: #3299ad;
      font-family: "Gordita-Bold", "Arial", sans-serif;

      &:hover {
        color: #ededed;
      }
    }
  }

  .stickyNav-homepage ul li:not(:last-child) a:not(:hover),
  .c-login .login-text,
  .weather-text a,
  .c-weather :before {
    color: #fff !important; // stylelint-disable-line declaration-no-important
  }

  .c-login:hover .section-item .login-text {
    color: #212126 !important; // stylelint-disable-line declaration-no-important
  }

  .search-icon {

    path {
      fill: #fff;
    }
  }
}

@media (prefers-color-scheme: dark) {
  // Special obit or event meta tag styling for header/footer

  body {

    &.special:not(.dark-mode),
    &.special:not(.dark-mode) #fusion-app {
      background-image: linear-gradient(180deg, #000, #000 400px, #fff 400px, #fff);
    }
    // Light mode override for when a user has dark scheme on their device but switches to AJC light mode

    &:not(.dark-mode) {

      #fusion-app,
      #fusion-app main,
      .special-nav,
      .editors-note {
        background-color: #fff;
      }
  
      p.story-text,
      h1,
      b,
      main .section-title,
      .c-sectionTitle,
      .how p,
      .byline .names,
      .special-nav li:not(.active) a {
        color: initial !important; // stylelint-disable-line declaration-no-important
      }
      // Light mode override header styling

      .nav-breaking-news {
        background-color: #fff;
      
        @include breakpoint(tablet) {
          background: transparent;
        }
      
        .c-headerNav {
          @include between-breakpoints(mobile, tablet) {
            border-bottom: 1px solid #000;
          }
      
          .logo {
            fill: #000;
          }
      
          &.stickyActive {
            background-color: #fff;
      
            .c-topNavLinks {
              @include breakpoint(tablet) {
                border: none;
                width: 100%;
                order: initial;
              }
            }
          }
      
          .nav-itemText {
            @media only screen and(min-width: 768px) and(max-width: 820px) {
              font-size: .65rem;
            }
          }
        }
      
        .c-topNavLinks {
          @include breakpoint(tablet) {
            border-bottom: solid 1px #dadada;
            border-top: solid 1px #dadada;
          }

          ul li {
            color: #fff;
          }
      
          ul li:last-child a {
            color: #3299ad;
            font-family: "Gordita-Bold", "Arial", sans-serif;
      
            &:hover {
              color: #ededed;
            }
          }
        }
      
        .c-login .login-text,
        .weather-text a,
        .c-weather :before {
          color: #212126;
        }
      
        .c-login .section-item .login-text {
          color: #212126;
        }
      
        .search-icon {
      
          path {
            fill: #000;
          }
        }
      }

      .how g,
      .footer-logo path,
      .footer-logo polygon {
        fill: #000;
      }
    }

    &:not(.special) {

      #fusion-app,
      #fusion-app main {
        background-color: transparent;
      }
    }
    // Default styling for when user has dark scheme on their end

    &.special {

      #fusion-app,
      #fusion-app main {
        background-color: transparent !important; // stylelint-disable-line declaration-no-important
      }
    }
    
    &.dark-mode,
    &.special {

      .c-copyright .c-backToTop,
      .menu-body-links a:not(:hover),
      .menu-header,
      .copyright.in-footer {
        color: #fff;
      }

      .how g,
      .footer-logo path,
      .footer-logo polygon {
        fill: #fff;
      }
    }
    // Dark mode styling, not memoriam or special

    &.dark-mode {
      background-color: #000;

      #fusion-app,
      #fusion-app main {
        background-color: #000;
      }
  
      p.story-text,
      h1,
      b,
      main .section-title,
      .c-sectionTitle,
      .how p,
      .byline .names,
      .copyright.in-footer {
        color: #fff !important; // stylelint-disable-line declaration-no-important
      }
    }
  }
}
// light scheme default styling
@media (prefers-color-scheme: light) {

  body,
  body:not(.special),
  body:not(.dark-mode) .special-nav {
    background-color: #fff;
  }

  .how g,
  .footer-logo path,
  .footer-logo polygon {
    fill: #000;
  }
  
  // Dark mode override for light scheme

  body.dark-mode:not(.special) {

    #fusion-app,
    #fusion-app main,
    .footer-wrapper,
    .special-nav,
    .copyright-wrapper {
      background-color: #000;
    }

    .c-footer,
    .c-copyright,
    .logo-row .copyright-wrapper {
      background-color: #212126;
    }

    p.story-text,
    h1,
    b,
    .c-sectionTitle,
    .c-copyright .c-backToTop,
    .menu-body-links a:not(:hover),
    .menu-header,
    .copyright,
    .rights,
    .privacy,
    .learn-more,
    .c-backToTop,
    .byline .names,
    .copyright.in-footer {
      color: #fff !important; // stylelint-disable-line declaration-no-important
    }

    .how g,
    .footer-logo path,
    .footer-logo polygon {
      fill: #fff;
    }

    .c-login:hover path {
      fill: #000 !important; // stylelint-disable-line declaration-no-important
    }
  }

  body.special {
  
    .footer-logo path,
    .footer-logo polygon {
      fill: #fff;
    }

    .menu-body-links a:not(:hover),
    .copyright.in-footer,
    .c-backToTop {
      color: #fff;
    }
  }

  body:not(.dark-mode):not(.special) {

    #fusion-app,
    #fusion-app main,
    .editors-note,
    .special-nav {
      background-color: #fff;
    }

    p.story-text,
    header:not(.header--special) h1,
    b,
    main .section-title,
    .c-sectionTitle,
    .how p,
    .byline .names,
    .copyright.in-footer,
    .special-nav li:not(.active) a {
      color: #212126 !important; // stylelint-disable-line declaration-no-important
    }
  }
}

// Dark mode styling end

@include amp-exclude {

  body.dark-mode > :first-child div:empty {
    // edge-case catch for window shade / half shade wrapper's inline background-color
    background-color: inherit !important; // stylelint-disable-line declaration-no-important
  }
}

.nav-breaking-news {

  &.is-above-shade {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
  }

  &.with-half-shade:not(.is-above-shade) .c-breakingNews {
    margin-top: 15px;

    @include breakpoint(desktop-sm) {
      margin-top: 20px;
    }
  }
}

.b-hidden:empty {
  display: none;
}

.leave-behind {
  z-index: 1000;

  .arc_ad .arcad:not(:empty):before {
    content: "";
  }
}
