@import "./../../../src/styles/base";

.topPhotoNoPhoto {
  @include breakpoint(desktop-sm) {
    margin-right: 3%;
  }
  .c-homeLeadContainer {
    display: flex;
    flex-wrap: wrap;
    .column-2,
    .column-3 {
      width: 100%;
    }
    .column-2 {
      margin-bottom: 25px;
    }
  }
}

.topPhotoNoPhoto:last-child {
  margin-right: 0;
}
