@import "./../../../src/styles/base";

.topPhotoNoPhoto {
  width: 100%;

  @include between-breakpoints(tablet, desktop-sm) {
    width: 47%;

    &:first-child {
      margin-right: 3.3%;
    }
  }

  @include breakpoint(desktop-sm) {
    margin-right: 3%;
  }

  .c-homeLeadContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $min-Msection-margin;

    @include breakpoint(desktop-sm) {
      margin-bottom: $min-DTsection-margin;
    }

    .article-timestamp {
      line-height: 1;
      margin-bottom: 10px;
    }

    .column-2,
    .column-3 {
      width: 100%;
    }

    .column-2 {
      @include breakpoint(desktop-sm) {
        min-height: 245px;
      }

      @media (min-width: 1600px) {
        min-height: 292px;
      }
    }

    .home-headline,
    .home-headline.sponsored {
      
      .homeList-image {
        width: 100%;

        .c-image-component {
          position: static;
        }
      }

      .headline-box {
        box-shadow: none;
        background-color: none;
        margin-top: 10px;
        border-bottom: 1px solid #cdcdcd;
        padding: 0 0 10px;
        border-radius: unset;

        .headline {
          letter-spacing: -.16px;
          margin: 0 0 10px;

          @include text-styles(1rem, 1.375, "Lora-Bold");
        }
      }
    }

    .home-headline:not(.sponsored) {
      padding: 0;
    }

    .home-headline.sponsored {

      .headline-box {
        margin-top: 30px;
      }
    }

    .column-3 .headline {
      letter-spacing: -.16px;

      @include text-styles(1rem, 1.375, "Lora");
    }
  }
}

.topPhotoNoPhoto:last-child {
  margin-right: 0;

  @include between-breakpoints(tablet, desktop-sm) {
    display: none;
  }
}
