@import "./../../../src/styles/base";

.c-ubbnChain {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  margin-bottom: 10px;

  @include breakpoint(tablet) {
    margin-bottom: 12px;
  }

  @include breakpoint(desktop-sm) {
    min-width: 700px;
  }

  .chain-content {
    position: relative;

    @include breakpoint(desktop-sm) {
      max-width: 1540px;
    }

    .c-image-feature {
      margin-top: -4.5rem;

      @include breakpoint(tablet) {
        margin-top: -5rem;
      }

      @include breakpoint(desktop-sm) {
        margin-top: -8rem;
      }

      // .lazyload-wrapper picture {
      //   position: relative;
      //   z-index: 1;
      //   opacity: .8;
      //
      //   &:after {
      //     content: ' ';
      //     position: absolute;
      //     z-index: 2;
      //     background: radial-gradient(closest-side, transparent, #000), radial-gradient(circle at right, #000, transparent);
      //     top: 0;
      //     left: 0;
      //     width: 100%;
      //     height: 100%;
      //   }
      // }
    }

    .row {
      position: relative;

      > div:last-child {
        z-index: 2;
        position: relative;
      }

      .c-page-title {
        position: relative;
        z-index: 2;
        margin-top: -8rem;
        margin-bottom: 0;

        @include breakpoint(tablet) {
          position: absolute;
          padding: 0;
          margin-right: 45px;
          transform: translate(43vw, -154px);
        }

        @include between-breakpoints(tablet, desktop-sm) {
          width: 100vw;
        }

        @include breakpoint(desktop-sm) {
          max-width: 600px;
          transform: translate(calc(40vw + 40px), calc(-292px - 15%));
        }

        @include breakpoint(desktop-lg) {
          max-width: 723px;
          transform: translate(529px, -314px);
        }

        @include breakpoint(desktop-nav) {
          transform: translate(557px, -331px);
        }

        @include breakpoint(desktop-xl) {
          transform: translate(596px, -345px);
        }

        @include breakpoint(desktop-xxl) {
          transform: translate(654px, -385px);
        }

        &:after {
          display: none;
        }

        .c-title-content {
          color: #fff;
          border-bottom: none;
          text-align: center;
          display: block;
          padding: 0 20px;

          @include text-styles(1.875rem, 1.38, "Lora-Bold");

          @include breakpoint(tablet) {
            text-align: left;
          }

          @include between-breakpoints(tablet, desktop-sm) {
            width: 50%;
          }

          @include breakpoint(desktop-sm) {
            font-size: 3.125rem;
          }

          @include breakpoint(desktop-lg) {
            font-size: 3.75rem;
            line-height: 1.2;
          }
        }
      }
    }

    .c-image-component {
      margin-top: 0;

      .lazyload-wrapper {
        background: #000;

        .placeholder-image {
          filter: brightness(0);
          position: relative;
        }
      }
    }

    .c-homeListContainer {
      padding: 35px 30px 0;

      @include between-breakpoints(mobile, tablet) {

        &.top-photo-display-class .homeList-image {
          width: 100%;
          margin: 0;
        }
      }

      @include breakpoint(tablet) {
        padding: 0 30px;
        margin-top: -5.6rem;
      }

      @include breakpoint(desktop-sm) {
        margin-top: -8rem;
      }

      @include breakpoint(desktop-nav) {
        margin-top: -10rem;
      }

      @include breakpoint(desktop-xxxl) {
        padding: 0;
      }
    }

    .c-homeList .headline a {
      color: #fff;
    }
  }
}

.dark-mode ~ .c-homepageContent {
  padding-top: 0;
}
