@import ".//../../../src/styles/base/mixins";
@import "./../../../src/styles/base";
/* stylelint-disable declaration-no-important */

@include amp-exclude {

  .c-ubbnChain {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100vw;
    overflow: visible;
    margin-bottom: 10px;

    @include breakpoint(tablet) {
      margin-bottom: 12px;
    }

    @include breakpoint(desktop-sm) {
      min-width: 700px;
    }

    .chain-content {
      position: relative;

      @include breakpoint(desktop-sm) {
        max-width: 1540px;
      }

      .c-image-feature {
        margin-top: 0;

        @include breakpoint(tablet) {
          margin-top: -3rem;
        }

        picture {
          z-index: 1;

          &:after {
            content: " ";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include between-breakpoints(mobile, tablet) {
              background: linear-gradient(to top, #000 17%, rgba(0, 0, 0, .3) 25%, rgba(0, 0, 0, 0) 29%), linear-gradient(90deg, #000 3%, rgba(0, 0, 0, .46) 9%, rgba(0, 0, 0, .01) 15%), linear-gradient(270deg, #000 3%, rgba(0, 0, 0, .46) 9%, rgba(0, 0, 0, .01) 15%), linear-gradient(to bottom, #000 4%, rgba(0, 0, 0, .47) 11%, rgba(0, 0, 0, .01) 18%);
            }

            @include breakpoint(tablet) {
              background: linear-gradient(95deg, rgba(0, 0, 0, 0) 37%, #000 86%), linear-gradient(267deg, rgba(0, 0, 0, 0) 77%, #000 98%), linear-gradient(177deg, rgba(0, 0, 0, 0) 53%, #000 88%), linear-gradient(to bottom, #000, transparent 8%, transparent);
            }
          }
        }

        @include between-breakpoints(mobile, tablet) {
          min-height: 100vw;
        }

        @include between-breakpoints(tablet, desktop-xxxl) {
          min-height: calc(100vw * .5345);
        }

        @include breakpoint(desktop-xxxl) {
          min-height: 855px; // 1600 * .5345
        }
      }

      .row {
        position: relative;

        > div:last-child {
          z-index: 2;
          position: relative;
        }

        .c-page-title {
          position: relative;
          z-index: 2;
          margin-top: -7rem;
          margin-bottom: 25px;

          @include breakpoint(tablet) {
            position: absolute;
            padding: 0;
            margin-right: 20px;
            margin-top: 0;
            margin-bottom: 0;
            top: 11%;
            left: 54%;
            width: auto;
          }

          @include breakpoint(desktop-sm) {
            max-width: calc(48% - 30px);
            top: 22%;
          }

          &:after {
            display: none;
          }

          a:hover,
          a:visited:hover {
            color: #cbcbcb !important;
          }

          .c-title-content {
            color: #fff;
            border-bottom: none;
            text-align: center;
            display: block;
            padding: 0 20px;

            @include text-styles(1.875rem, 1.38, "Lora-Bold");

            @include breakpoint(tablet) {
              text-align: left;
            }

            @include breakpoint(desktop-sm) {
              font-size: 3.125rem;
            }

            @include breakpoint(desktop-lg) {
              font-size: 3.75rem;
              line-height: 1.2;
            }
          }
        }
      }

      .c-image-component {
        margin-top: 0;

        .lazyload-wrapper {
          background: #000;

          .placeholder-image {
            filter: brightness(0);
            position: relative;
          }
        }
      }

      .c-homeListContainer {
        padding: 20px 30px 0;

        @include between-breakpoints(mobile, tablet) {

          &.top-photo-display-class .homeList-image {
            width: 100%;
            margin: 0;
          }
        }

        @include breakpoint(tablet) {
          padding: 0 30px;
          margin-top: -2rem;
        }

        @include breakpoint(desktop-xxxl) {
          padding: 0;
        }
      }

      .c-homeList .headline a {
        color: #fff;

        &:hover,
        &:visited:hover {
          color: #cbcbcb !important;
        }
      }
    }

    @include breakpoint(tablet) {

      &.aligned-left .chain-content {

        .c-image-feature picture:after {
          background: linear-gradient(275deg, rgba(0, 0, 0, 0) 40%, #000 90%), linear-gradient(177deg, rgba(0, 0, 0, 0) 77%, #000 98%), linear-gradient(87deg, rgba(0, 0, 0, 0) 67%, #000 95%), linear-gradient(to bottom, #000, transparent 8%, transparent);
        }

        .c-page-title {
          left: 10%;
          top: 8%;

          @include between-breakpoints(desktop-sm, desktop-lg) {
            top: 12%;
            max-width: 35%;
          }

          @include breakpoint(desktop-lg) {
            top: 18%;
            max-width: 36%;
          }
        }
      }
    }
  }

  .dark-mode ~ .c-homepageContent {
    padding-top: 0;
  }
}
