@import "./../../../src/styles/base";

.c-topPhotoNoPhotoRow {
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(tablet) {
      flex-wrap: nowrap;
    }
  }
}
