@import "../../../../../../src/styles/base/mixins";
@import "../../../../../../src/styles/base/breakpoints";

.c-customHTML {

  img,
  iframe {
    max-width: 100%;
  }

  iframe.scriptIframe {
    width: 100%;
    height: 1170px;

    @include breakpoint(tablet) {
      height: 400px;
    }
  }
}
