@import "../../../src/styles/base/breakpoints";
@import "../../../src/styles/base/mixins";

.c-search-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid 1px #cdcdcd;

  @include breakpoint(tablet) {
    flex-direction: row;
  }

  .input-field {
    border-radius: 6px;
    height: 32px;
    border: solid 1px #cdcdcd;
    margin-bottom: 15px;

    @include breakpoint(tablet) {
      width: 100%;
      height: 43px;
      margin-right: 8px;
    }

    img {
      padding-top: 5px;
      padding-left: 10px;
      background: none;

      @include breakpoint(tablet) {
        padding-top: 12px;
        padding-left: 10px;
        width: 20px;
        height: 21px;
      }
    }

    input {
      padding: 0;
      margin: 0;
      position: relative;
      top: -3px;
      left: 3px;
      border: none;
      text-decoration: none;
      background: none;

      &:active,
      &:focus,
      &:hover {
        background: none;
      }

      @include text-styles(1.25rem, 1, "Gordita-Bold");

      @include breakpoint(tablet) {
        width: 90%;
      }
    }
  }

  .search-btn {
    width: 100%;
    height: 43px;
    border-radius: 6px;
    box-shadow: 4px 4px 6px 0 rgb(229 229 229 / 60%);
    border: solid 1px #ececec;
    margin-bottom: 15px;

    @include text-styles(1rem, 1, "Gordita-Bold");

    @include breakpoint(tablet) {
      width: 140px;
    }
  }
}

.c-search-sortType {
  color: #9b9b9b;
  border-bottom: solid 1px #cdcdcd;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  @include text-styles(.75rem, 1, "Gordita-Bold");

  .sort-header {
    color: #313132;
  }

  .sort-date {
    margin-left: 10px;
  }

  span:nth-child(0) {
    color: #313132;
    font-size: .875rem;
  }

  span:nth-child(1),
  span:nth-child(2) {
    margin-right: 5px;
  }

  span.default-active {
    color: #2e81b7;
  }
}

.c-searchListContainter {
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    flex-direction: row;
  }

  @include breakpoint(desktop-sm) {
    flex-direction: column;
  }

  .tablet-line {
    @include breakpoint(tablet) {
      margin-left: 15px;
      margin-right: 15px;
      min-width: 1px;
      height: inherit;
      background: #dadada;
    }

    @include breakpoint(desktop-sm) {
      display: none;
    }
  }

  .column-1,
  .column-2 {
    width: fit-content;
    max-width: 100%;

    [class~="c-search-item"]:last-of-type {

      .bottom-content {
        @include breakpoint(tablet) {
          border-bottom: none;
        }

        @include breakpoint(desktop-sm) {
          border-bottom: 1px solid #dadada;
        }
      }
    }

    @include breakpoint(tablet) {
      width: 50%;
      max-width: none;
    }

    @include breakpoint(desktop-sm) {
      width: auto;
    }
  }
}

.c-search-item {
  @include breakpoint(tablet) {
    max-width: 363px;
  }

  @include breakpoint(desktop-sm) {
    max-width: none;
  }

  .c-homeList.isSearch {

    &.no-border-bottom .bottom-content {
      border-bottom: none;
    }

    .lazyload-wrapper {
      width: 80px;
      height: 80px;
      overflow: hidden;
  
      @include breakpoint(desktop-sm) {
        width: 104px;
        height: 104px;
      }
    }
  }

  .homeList-text {

    .headline {
      margin-bottom: 7px;

      a {
        color: #000;

        @include text-styles(.938rem, 1.47, "Lora-Bold");
      }
    }
  }

  .item-text-preview {
    width: 247px;

    @include text-styles(.75rem, 1.5, "Gordita");

    @include breakpoint(desktop-sm) {
      width: 96%;
    }
  }

  .bottom-content {
    border-bottom: solid 1px #dadada;
    margin-bottom: 15px;

    .c-credit-row {
      padding-bottom: 15px;
    }

    .search-section,
    .search-credit {
      color: #313132;

      @include text-styles(.688rem, 1.82, "Gordita-Bold");
    }

    .search-section {

      &:after {
        content: "";
        width: 4px;
        height: 15px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #9b9b9b;
      }
    }

    .search-credit {

      &:after {
        content: "";
        width: 2px;
        height: 15px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #9b9b9b;
      }
    }
  }
}

.c-searchListContainter.left-photo-display-class .c-search-item .c-homeList.isSearch {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: .063rem;
  margin-bottom: .875rem;

  .homeList-text .c-tease-icon {
    margin-left: 0;
  }

  .homeList-image {
    margin-left: 0;
  }
}

/* Ad-style overrides */

.c-listPage .c-searchListContainter .list-hp05,
.c-staffBioPage .list-hp05 {
  display: flex;
  height: 123px;
  padding-bottom: 40px;
  border-top: 1px solid #cdcdcd;

  .hp05-line {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  .HP05.arcad {
    @include breakpoint(tablet) {
      display: block;
      position: relative;
      left: -25%;
      top: 10px;
    }

    @include breakpoint(desktop-sm) {
      position: static;
    }
  }
}
