@import '../../../../../src/styles/base/fonts';
@import '../../../../../src/styles/base/mixins';
@import '../../../../../src/styles/base/buttons';

.c-stickyNav-desktop {
    .c-stickyNav-list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        
        .stickyNav-item {
            list-style: none;
            text-align: center;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-left: 0;
            }

            img {
                width: 75px;
                height: 56px;
            }
        }
    }   
}
