@import "./../../../src/styles/base";

.c-LeftPhotoNoPhotoRow {
  width: inherit;

  &:first-child {

    .withTitle .c-homeLeadContainer {
      margin-bottom: 0;
    }

    @include breakpoint(tablet) {
      margin-right: 0;
    }

    @include breakpoint(desktop-sm) {
      margin-right: 46px;
    }

    .LeftPhotoNoPhoto:before {
      display: none;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &:not(:first-child) .withTitle .column-1 {
    @include between-breakpoints(mobile, tablet) {
      border-top: 1px solid #cdcdcd;
      padding-top: 15px;
    }
  }

  .LeftPhotoNoPhoto {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: -30px;
      top: -30px;
      z-index: -1;

      @include breakpoint(desktop-sm) {
        border-left: 1px solid #cdcdcd;
        left: -23px;
      }
    }

    &.withTitle {

      &:before {
        top: 0;

        @include breakpoint(desktop-sm) {
          height: calc(100% - 35px);
        }
      }
    }

    .column-1,
    .column-2 {
      @include between-breakpoints(tablet, desktop-sm) {
        max-width: none;
      }
    }

    .column-1 {
      @include between-breakpoints(mobile, tablet) {
        border-bottom: 1px solid #cdcdcd;
        padding-bottom: 0;
        margin-bottom: 15px;
      }
    }

    .left-photo-no-photo-display-class .image-component-image {
      width: 80px;
      height: auto;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(desktop-sm) {
      flex-wrap: nowrap;
    }
  }

  .c-sectionTitle {
    @include text-styles(1.875rem, 1, "Gordita-Bold");

    @include breakpoint(desktop-sm) {
      margin-bottom: 15px;
    }
  }
}
