.c-amp-header {
  background-color: #f8f8f8;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.amp-nav {
  padding: 20px;
  height: 101px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.amp-nav-padding {
  padding: 0;
}

.amp-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.amp-hamburger {
  z-index: 2;
  width: 30px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.amp-hamburger-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: #000;

  &:before {
    content: "";
    position: absolute;
    top: -400%;
    right: 0;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: inherit;
    transition: all .2s;
    transform: rotate(0);
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: inherit;
    transition: all .2s;
    transform: rotate(0);
    top: auto;
    bottom: -400%;
  }
}

.amp-logo-pinned {
  opacity: 0;

  .ajc {
    width: 72px;
    height: 37px;
  }

  .dayton {
    width: 200px;
  }

  .daytondailynews {
    width: 220px;
  }

  .journal-news {
    width: 220px;
  }

  .springfieldnewssun {
    width: 230px;
  }
}

.amp-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.amp-logo-main {

  .ajc {
    height: 59px;
    width: 109px;
  }

  .dayton {
    width: 200px;
  }

  .daytondailynews {
    width: 220px;
  }

  .journal-news {
    width: 220px;
  }

  .springfieldnewssun {
    width: 230px;
  }
}

.amp-sidebar {
  background-image: linear-gradient(to top, #04befe, #4481eb);
  max-width: 408px;
  width: 100%;
  
  .close {
    padding: 31px 16px 0 8px;
    display: inline-block;
  }

  .amp-nav-section {
    padding: 15px 0;
  }

  .amp-nav-link {
    padding: 16px 32px 16px 16px;
    color: #fff;

    @include text-styles(1.125rem, 1.44, "Gordita");
  }
}
