@import '../../../../src/styles/base/_mixins.scss';
@import '../../../../src//styles/base/breakpoints';

.c-headerNav {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    @include breakpoint(desktop-nav) {
        width: 100%;
    }
    nav {
    display: block;
    width: 100%;
    padding-bottom: 20px;
        a {
            color: #2e81b7;
            text-decoration: none;;
        }
    }
  }

.c-navItemContainer {
    display: flex;
    height: 60px;
    flex-direction: row;
    list-style-type: none;
}

.itemPadding {
    padding-right: 1.3vw;
    display: flex;
    flex: 0 0 auto; 
    @include breakpoint(desktop-nav) {
        padding-top: 2px;
    } 
}

.itemBottomBorder {
    border-bottom: solid 1px #cdcdcd;
}

.b-itemText {
    font-weight: 600;
    color: #2e81b7;
    text-transform: capitalize;
    align-items: center;
    @include breakpoint(desktop-sm) {
        @include text-styles(.875rem, 1, "Gordita");
    }
    @include breakpoint(desktop-nav) {
        @include text-styles(1.125rem, 1, "Gordita");
    }
}

.b-separatorContainer {
    display: flex;
    align-items: center;
}

.separatorBar {
    background-color: #2e81b7;
    width: 2px;
    height: 15px;
    @include breakpoint(desktop-nav) {
        height: 20px;
    }
}
.b-ePaper {
    text-transform: none;
    cursor: pointer;
}
.c-itemFlex {
    flex-direction: column;
    align-items: flex-start;
}
.c-searchContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 180px;
    @include breakpoint(desktop-nav) {
        padding-top: 2px;
    }}

.b-formContainer {
    display: flex;
    height: 28px;
    width: 100%;
}
.b-searchInput {
    text-align: right;
    border: none;
    outline: none;
    background-color: transparent;
    width: calc(100% - 40px);
    @include text-styles(.625rem, 1, "Gordita");

}
.b-searchIcon {
    height: 29px;
    width: 29px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 1rem;
}

.b-weatherIconItem {
    padding-left: 56px;

}
.c-weatherDisplay {
    display: none;
    @include breakpoint(desktop-nav) {
        display: flex;
        padding-top: 2px;
        align-items: center;
    }
   
}

.b-weatherText {
    padding-left: 4px;
}

.c-loginContainer {
    display: flex;
    min-width: 100px;
    padding-left: 15px;
    @include breakpoint(desktop-nav) {
        padding-top: 2px;
    }    
}

.b-loginText {
    font-weight: bold;
    padding-left: 6px;
}

.c-subBar {
    height: 57px;
    width: 100%;
    border-radius: 6px;
    background-image: linear-gradient(to top, #04befe, #4481eb);
}
.b-subscribeText {
    @include text-styles(1.25rem, 1, "Gordita");
    color: #ffffff;
}
.b-subscribeBold {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}