@import "../../../src/styles/base/breakpoints";

.c-slider-master {
  min-height: 320px;
  height: auto;
  left: 0;
  margin-bottom: 3.75rem;

  @include breakpoint(tablet) {
    min-height: 505px;
  }

  .c-slider-wrapper {
    position: absolute;
    left: 0;
    margin-left: 0;
  }
}

.c-slider-master.is-special-feature {
  margin-bottom: 0;
}

.c-slider-master.is-special-feature .c-slider-wrapper {
  position: absolute;
  left: 0;
  margin: auto;
  background-color: #ebebef;

  @include breakpoint(tablet) {
    position: relative;
    left: auto;
  }
}

.c-slider-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);

  .c-sectionTitle {
    margin-left: 30px;

    @include breakpoint(desktop-sm) {
      margin-left: 1.875rem;
    }
  }

  .c-slider {
    position: relative;

    .c-contributorBadge {
      height: 1.25rem;
    }

    .c-slider-content.is-Tablet {
      scroll-behavior: smooth;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .c-slider-content {
      display: flex;
      scroll-behavior: smooth;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      @include breakpoint(desktop-sm) {
        overflow-x: hidden;
      }

      .itemList {
        display: flex;
        position: relative;
        transition: transform .1s;
        margin-bottom: 1.275rem;

        @include breakpoint(desktop-sm) {
          margin-bottom: 0;
        }
      }
    }

    .left-arrow,
    .right-arrow {
      width: 8rem;
      outline: none;
      cursor: pointer;
      position: absolute;
      user-select: none;

      &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    .left-arrow {
      transform: rotate(180deg);
      z-index: 10;
      top: 10%;

      @include breakpoint(tablet) {
        top: 16%;
      }
    }

    .right-arrow {
      height: 8rem;
      cursor: pointer;
      z-index: 10;
      top: 20%;
      right: 0;
    }
  }
}
