@import "../../../src/styles/base/breakpoints";
@import "../../../src/styles/base/mixins";

.c-slider-wrapper.is-special-feature {
  margin-bottom: 0;
  background-color: #ebebef;
}

.c-slider-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: $min-Msection-margin;

  @include breakpoint(desktop-sm) {
    margin-bottom: $min-DTsection-margin;
  }

  .c-slider {
    position: relative;
    width: 100%;
    max-width: 1600px;

    .c-contributorBadge {
      height: 1.25rem;
    }

    .c-slider-content.is-Tablet {
      scroll-behavior: smooth;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .c-slider-content {
      display: flex;
      scroll-behavior: smooth;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }

      .itemList {
        display: flex;
        position: relative;
        transition: transform .1s;

        @include breakpoint(desktop-sm) {
          margin-bottom: 0;
        }
      }
    }

    .c-slider-nav {
      display: flex;
      align-items: center;
      margin-bottom: .625rem;

      .c-slider-button {
        display: none;
        cursor: pointer;

        @include breakpoint(tablet) {
          display: flex;
          min-width: 50px;
          min-height: 50px;
          border-radius: 15px;
          box-shadow: 4px 4px 6px 0 rgba(229, 229, 229, .6);
          border: solid 1px #ececec;
          background-color: #fff;
          position: relative;
          justify-content: center;
          align-items: center;
          margin-left: 9px;
          margin-right: 15px;
          transition: box-shadow .5s;

          &:active {
            outline: none;
            box-shadow: none;
          }
        }

        &.is-right {
          margin-left: 15px;
          margin-right: 9px;
        }
      }
    }

    .left-arrow,
    .right-arrow {
      width: 8rem;
      outline: none;
      cursor: pointer;
      position: absolute;
      user-select: none;

      &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    .left-arrow {
      transform: rotate(180deg);
      z-index: 10;
      top: 10%;

      @include breakpoint(tablet) {
        top: 16%;
      }
    }

    .right-arrow {
      height: 8rem;
      cursor: pointer;
      z-index: 10;
      top: 20%;
      right: 0;
    }
  }
}
