@import "./../../../src/styles/base";

.leaderboard-widget.sportsradar-widget {

  .leaderboard-header {

    h1 {
      font-family: "Gordita";
      color: #313132;
      height: 40px;
      margin: 0 83px 6px 0;
      font-size: 30px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -.38px;

      @include breakpoint(tablet) {
        height: 40px;
        margin: 0;
        font-size: 30px;
      }

      @include breakpoint(desktop-sm) {
        height: 60px;
        font-size: 45px;
        letter-spacing: -.56px;
      }
    }
  }

  .tour-info {
    margin: 15px 0;

    .tour-name {
      font-family: "Gordita";
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      color: #313132;
    }

    p {
      font-family: "Gordita";
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      color: #313132;

      @include breakpoint(tablet) {
        margin: 0 0 10px;
        font-size: 11px;
        line-height: 1.82;
      }

      @include breakpoint(desktop-sm) {
        margin: 10px 0 0;
        font-size: 13px;
        line-height: 1.54;
        letter-spacing: normal;
      }
    }
  }

  .leaderboard-table {
    border-collapse: collapse;
    overflow: scroll;
    max-width: 350px;
    max-height: 500px;

    @include breakpoint(tablet) {
      max-width: 100%;
    }

    thead {
      border-bottom: 3px solid #212126;

      tr {

        th {
          text-align: center;
          margin: 0 6px 7px 1px;
          padding: 10px 0;
          font-family: "Gordita";
          font-size: 9px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #313132;

          @include breakpoint(tablet) {
            margin: 0 6px 6px 1px;
            font-size: 14px;
          }

          @include breakpoint(desktop-sm) {
            margin: 0 27px 5px 1px;
            font-size: 18px;
          }

          &.player-rank {
            width: 45px;

            @include breakpoint(desktop-sm) {
              width: 72px;
            }
          }

          &.player-name {
            // width: 146px;

            @include breakpoint(desktop-sm) {
              width: 241px;
            }
          }

          &.player-round {
            width: 75px;

            @include breakpoint(tablet) {
              width: 92px;
            }

            @include breakpoint(desktop-sm) {
              width: 152px;
            }
          }

          &.player-strokes {
            width: 75px;

            @include breakpoint(tablet) {
              width: 92px;
            }

            @include breakpoint(desktop-sm) {
              width: 152px;
            }
          }

          &.player-thru {
            width: 75px;

            @include breakpoint(tablet) {
              width: 66px;
            }

            @include breakpoint(desktop-sm) {
              width: 108px;
            }
          }
        }
      }
    }

    tbody {

      .scrollable-div {
        max-width: 150px;
        overflow-x: scroll;

        @include breakpoint(tablet) {
          max-width: none;
          overflow-x: initial;
        }
      }

      tr {

        &:nth-child(odd) {
          background-color: rgba(50, 153, 173, .1);
        }

        &:nth-child(even) {
          background-color: rgba(245, 245, 245, 1);
        }

        @include breakpoint(tablet) {
          width: 730px;
          height: 30px;
          margin: 3px 1px 30px 0;
          padding: 8px 81px 6px 49px;
        }

        @include breakpoint(desktop-sm) {
          height: 30px;
          margin: 3px 1px 30px 0;
          padding: 6px 1009px 5px 81px;
        }

        td {
          text-align: center;
          font-family: "Gordita";
          font-size: 12px;
          font-weight: 500;
          padding: 15px 0;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #313132;

          &:nth-child(odd) {
            background-color: rgba(237, 237, 237, .6);
          }

          @include breakpoint(desktop-sm) {
            font-size: 14px;
          }

          &.player-rank {
            width: 45px;

            @include breakpoint(desktop-sm) {
              width: 72px;
            }
          }

          &.player-name {
            width: 146px;

            @include breakpoint(desktop-sm) {
              width: 241px;
            }
          }

          &.player-round {
            width: 75px;

            @include breakpoint(tablet) {
              width: 92px;
            }

            @include breakpoint(desktop-sm) {
              width: 152px;
            }
          }

          &.player-strokes {
            width: 75px;

            @include breakpoint(tablet) {
              width: 92px;
            }

            @include breakpoint(desktop-sm) {
              width: 152px;
            }
          }

          &.player-thru {
            width: 75px;

            @include breakpoint(tablet) {
              width: 66px;
            }

            @include breakpoint(desktop-sm) {
              width: 108px;
            }
          }
        }
      }
    }
  }
}
