@import "./../../../src/styles/base";
@import "../../../src/styles/base/breakpoints";

/* stylelint-disable declaration-no-important */

.ttd-search {
  height: 3.3rem;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);
  width: 100%;

  .ttd-search__input {
    border-radius: .3125rem;
    border: 0;
    height: 3.25rem;
    width: 88%;
    margin-left: 10px;
    background: transparent;

    @include text-styles(1.25rem, 1, "Gordita");
  }

  .ttd-search__submit {
    position: absolute;
    right: 10px;
    top: 15px;
  }
}

.c-transparenseeWidget {

  .header-dayton {

    .pointslocal-events-grid > .mdl-grid {
      background-color: #20abab !important;
    }

    &.pointslocal-events-header {
      background-color: #20abab;
    }

    .search-options.mdl-grid--no-spacing .mdl-cell--3-col ul li {

      .mdl-checkbox.is-checked {

        .mdl-checkbox__focus-helper {
          background: #20abab;
        }
      }
    }
  }

  .pseudo-searchbox {
    margin-top: 0 !important;
    border-left: 1px solid #f6f6f6;
    align-items: center;
    background: #fff !important;

    @include breakpoint(desktop-sm) {
      margin: 1% 0 !important;
    }

    .pseudo-input-text {
      height: 40px;
    }

    .pointslocal-icon.close {
      margin-top: 6px;
    }
  }

  .mdl-grid.search-options {
    @include breakpoint(desktop-sm) {
      width: 70%;
      left: 15.5%;
    }
  }

  .pointslocal-events-grid {

    .mdl-grid--no-spacing {

      .mdl-cell--hide-tablet {
        display: block !important;
      }

      .mdl-cell--2-col {
        width: 33.33%;
        margin-top: 5px;

        @include breakpoint(desktop-sm) {
          width: 16.3%;
          margin-right: 2px;
        }
      }

      .mdl-cell--6-col {
        width: 100%;

        @include breakpoint(desktop-sm) {
          width: 50%;
          margin-top: 1px;
        }
      }

      .pseudo-input-text {
        width: calc(100% - 44px);
      }

      .pseudo-input-submit {
        width: 44px;

        i {
          margin-left: 0;

          &:before {
            margin-top: 4px;
          }
        }
      }
    }
  }

  .pseudo-dropdown-control {
    height: 24px;
    line-height: 24px;
  }

  .search-options.mdl-grid--no-spacing {
    padding-top: 15px;
    max-height: 55vh;
    overflow-y: scroll;

    @include breakpoint(desktop-sm) {
      padding-top: 20px;
    }

    .mdl-cell--3-col {
      width: 100%;

      @include breakpoint(tablet) {
        width: 50%;
        margin-left: -10px;
      }

      @include breakpoint(desktop-sm) {
        width: 25%;
        margin-left: 0;
      }

      ul {
        margin-left: 10%;

        li {
          padding: 5px 6px;

          .mdl-checkbox {
            height: 30px;
            display: flex;
            align-items: center;
            width: 90%;
            border-bottom: 1px solid #eee;

            @include breakpoint(desktop-sm) {
              height: auto;
              padding-bottom: 4px;
            }

            .mdl-checkbox__focus-helper,
            .mdl-checkbox__box-outline {
              top: 8px;
              left: 0;
              width: 13px;
              height: 13px;
              border-radius: 2px;
              border-width: 1px;
              border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));

              @include breakpoint(desktop-sm) {
                top: 0;
              }
            }

            .mdl-checkbox__box-outline {
              background-size: 80%;
              background-position: center;
              background-repeat: no-repeat;
            }

            .mdl-checkbox__label {
              font-size: 16px;
              line-height: 1;

              @include breakpoint(desktop-sm) {
                font-size: 13px;
              }
            }

            &.is-checked {

              .mdl-checkbox__focus-helper {
                background: #149acf;
              }

              .mdl-checkbox__box-outline {
                background-image: url("../../../resources/icons/global/check-white.png");
              }
            }
          }
        }
      }
    }

    .pointslocal-search-actions {
      border: none;

      .btn-cancel,
      .btn-apply {
        min-width: unset;
        padding-right: 0;
        padding-left: 0;
        width: 120px;
        cursor: pointer;
      }
    }

    .search-neighborhood-map-toggle-controls {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .search-options-times {

    .datepicker-or {
      right: -300%;

      @include breakpoint(desktop-sm) {
        right: 100%;
        top: -110px;
      }
    }

    .mdl-cell:nth-child(1) {

      .label {
        font-weight: 700;
      }

      ul {
        margin-left: 10% !important;
      }
    }

    .mdl-cell:nth-child(1),
    .mdl-cell:nth-child(2) {
      display: none;

      @include breakpoint(tablet) {
        display: block;
      }
    }

    .mdl-cell--6-col {
      width: 100%;

      @include breakpoint(desktop-sm) {
        width: 60%;
      }
    }

    & > .mdl-cell:nth-child(3) {
      margin-left: -5.15% !important;

      .label {
        font-weight: 700;
      }

      @include breakpoint(tablet) {
        margin-left: -2.75% !important;
      }
    }

    #datepicker-start,
    #datepicker-end {
      width: 100%;
      height: 21px;
      margin-bottom: 5px;
      padding-left: 10px;
    }
  }
}
