@import "../../../../src/styles/base/breakpoints";
@import "../../../../src/styles/base/fonts";
@import "../../../../src/styles/base/mixins";

.c-image-component {
  flex: 1 0 100%;
  height: 100%;
  justify-content: end;

  @include breakpoint(tablet) {
    flex: 1 0 66%;
  }

  .image-head {
    width: 100%;
    height: 55vw;
  }

  .image-component-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    img {
      height: auto;
      width: 100%;
      /*  centers image element inside parent div*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .c-mainCaption {
      position: relative;
      top: calc(5% + 20px);
      left: 0;
      right: 0;
      .photo-caption-btn {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: linear-gradient(to top, #04befe, #4481eb);
        top: 15%;
        right: 4%;
        z-index: 11;
        cursor: pointer;
        transition: transform 0.5s;
        box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
        padding: 12px;

        @include breakpoint(desktop-sm) {
          width: 60px;
          height: 60px;
          padding: 20px;
        }

        &.is-active {
          transform: rotate(90deg);
        }

        .fill-line {
          width: 10px;
          height: 1px;
          margin-bottom: 3px;
          background: #fff;
          @include breakpoint(desktop-sm) {
            width: 15px;
            margin-bottom: 4px;
          }
          &.fill-line-long {
            width: 16px;
            @include breakpoint(desktop-sm) {
              width: 20px;
            }
          }
        }
      }

      .photo-caption {
        position: absolute;
        margin: auto;
        width: calc(100% - 135px);
        z-index: 10;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 2px 26px 4px rgba(0, 0, 0, 0.1);
        padding: 60px;
        transition: z-index 0.75s step-end, opacity 0.75s;
        animation: fadeinout 0.8s linear 1 forwards;

        @include breakpoint(desktop-sm) {
          width: calc(100% - 150px);
        }

        .photo-caption-text {
          color: #fff;
          letter-spacing: normal;
          @include text-styles(0.875em, 1.58, "Gordita");
          @include text-styles-tablet(1.25em, 1, "Gordita");
        }
      }
    }
  }

  .photo-credit-text {
    display: none;
    @include text-styles(0.75rem, 1, "Gordita");
    @include breakpoint(desktop-sm) {
      text-align: right;
      display: block;
      height: 30px;
      line-height: 30px;
      color: #313132;
    }
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.8;
  }
}
