@import "./../../../src/styles/base";

.image-default {
  justify-content: end;
  height: auto;
  order: 1;
  width: 100%;
  flex: 1 0 100%;

  @include breakpoint(tablet) {
    order: 2;
    width: 66%;
    flex: 1 0 66%;
  }

  .photo__credit {
    text-align: right;
    margin: 0 20px;

    .photo__credit__text {
      font: 400 0.75em "Gordita_Regular", arial, sans-serif;
      color: #313132;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }
}

.image-head {
  width: 100%;
  height: 55vw;
  @include breakpoint(tablet) {
    height: 100%;
  }
}

.img-fluid {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .photo__caption__toggle {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px;
    background: linear-gradient(to top, #04befe, #4481eb);
    position: absolute;
    top: 15%;
    right: 3%;
    z-index: 11;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);

    @include breakpoint(mobile) {
      width: 40px;
      height: 40px;
      padding: 12px;
      right: 4%;
    }

    .fill-line--long {
      width: 20px !important;
      height: 1px;
      margin-bottom: 4px;
      background: #fff;

      @include breakpoint(mobile) {
        width: 15px !important;
        margin-bottom: 3px;
      }
    }

    .fill-line {
      width: 15px;
      height: 1px;
      margin-bottom: 4px;
      background: #fff;

      @include breakpoint(mobile) {
        width: 10px;
        margin-bottom: 3px;
      }
    }
  }

  .photo__caption__toggle.active {
    transform: rotate(90deg);
  }

  .photo_caption {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 135px);
    z-index: 10;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, 0.1);
    padding: 60px;
    transition: z-index 0.75s step-end, opacity 0.75s;
    -webkit-animation: fadeinout 0.8s linear 1 forwards;
    animation: fadeinout 0.8s linear 1 forwards;

    @-webkit-keyframes fadeinout {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 0.8;
      }
    }

    @keyframes fadeinout {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 0.8;
      }
    }

    @media (max-width: 1024px) {
      width: calc(100% - 100px);
    }

    .photo__credit__mobile {
      display: block;
      position: absolute;
      bottom: 8px;
      right: 10px;
      text-align: right;

      .photo__credit__text {
        font: 400 0.75em "Gordita_Regular", arial, sans-serif;
        color: #fff;
      }

      @include breakpoint(desktop-sm) {
        display: none;
      }
    }

    .photo__caption__text {
      font: 400 0.875em "Gordita_Regular", arial, sans-serif;
      color: #fff;
      line-height: 1.58;
      letter-spacing: normal;

      @include breakpoint(tablet) {
        font: 400 1.25em "Gordita_Regular", arial, sans-serif;
      }
    }
  }
}
