  
@import "../../../../src/styles/base/breakpoints";
@import "../../../../src/styles/base/mixins";

.connext-free-messaging {
  display: none;
  height: auto !important; /* stylelint-disable-line declaration-no-important */
  
  &:not(:empty) {
    display: block;
  }
}
