@import "./../../../src/styles/base";

.c-bigBreakingNews {
  width: 100%;
  padding: 0 0 10px;

  @include breakpoint(desktop-sm) {
    border-bottom: 1px solid #cdcdcd;
    padding: 0 0 20px;
    margin: 0 0 30px;
  }

  .c-breakingContainer {
    display: flex;
    flex-direction: column;

    @include breakpoint(desktop-sm) {
      flex-direction: row;
    }

    .leadItem {
      flex: 1 100%;
      padding: 20px 0;

      @include between-breakpoints(tablet, desktop-sm) {
        padding-top: 0;
      }

      @include breakpoint(desktop-sm) {
        border-right: 1px solid #cdcdcd;
        padding: 0 20px 20px 0;
      }

      @include between-breakpoints(desktop-sm, desktop-lg) {
        flex: 1 80%;
      }

      @include breakpoint(desktop-lg) {
        flex: 1 83%;
      }

      h2 {
        text-align: center;
        letter-spacing: .26px;
        color: #000;
        padding: 0 0 20px;

        @include text-styles(2.8125em, 1.07, "Average");

        @include between-breakpoints(mobile, desktop-sm) {
          @include text-styles(1.75em, 1.07, "Average");
        }

        @include between-breakpoints(desktop-sm, desktop-lg) {
          @include text-styles(1.6em, 1.22, "Average");
        }
      }

      .c-image-component {
        margin-right: -$min-margin;
        margin-left: -$min-margin;

        @include breakpoint(tablet) {
          margin: auto;
        }
      }
    }

    .restOfItems {
      flex: 1 30%;
      padding: 0 0 0 20px;

      @include between-breakpoints(desktop-sm, desktop-lg) {
        flex: 1 20%;
      }

      @include breakpoint(desktop-lg) {
        flex: 1 17%;
      }

      .c-homeList {
        border-bottom: 1px solid #cdcdcd;
        padding: 10px 0;

        &:first-child {
          padding: 0 0 10px;

          @include breakpoint(desktop-sm) {
            padding: 0 0 20px;
          }

          @include between-breakpoints(desktop-sm, desktop-lg) {
            padding: 0 0 15px;
          }
        }

        &:last-child {
          border: 0;
        }

        @include between-breakpoints(desktop-sm, desktop-lg) {
          padding: 15px 0;
        }

        @include breakpoint(desktop-lg) {
          padding: 20px 0;
        }

        .homeList-image {
          display: none;
        }

        .homeList-text {
            
          .c-label-wrapper {
            text-align: left;

            .section-label {
              font-size: .75em;
            }
          }

          .headline a {
            width: 100%;
            color: #000;
            letter-spacing: -.16px;

            @include text-styles(1.1em, 1.3, "Average");

            @include between-breakpoints(mobile, desktop-sm) {
              @include text-styles(1.375em, 1.14, "Average");
            }

            @include between-breakpoints(desktop-sm, desktop-lg) {
              @include text-styles(1.08em, 1.2, "Average");
            }

            @include between-breakpoints(desktop-lg, desktop-xl) {
              @include text-styles(1em, 1.15, "Average");
            }
          }
        }
      }
    }
  }
}
