@import "../../../../src/styles/base/breakpoints";
@import "../../../../src/styles/base/mixins";

.c-breakingNews {
  height: 63px;
  width: 100%;
  text-align: center;
  position: relative;
  border: 1px solid #e74c3c;
  background-color: #fff;

  @include breakpoint(tablet) {
    height: 40px;
    width: calc(100% - 60px);
  }

  &.is-hidden {
    display: none;
  }

  .breakingURL {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .c-breakingNews-hide {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 20px;

    @include breakpoint(desktop-sm) {
      width: 29px;
      height: 30px;
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 50%;
      margin: auto;
      width: 16px;
      height: 1px;
      background: #212126;

      @include breakpoint(desktop-sm) {
        width: 19px;
      }
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    @include breakpoint(desktop-sm) {
      cursor: pointer;
    }
  }

  .c-breakingNews-heading {
    @include text-styles(.875rem, 1.29, "Gordita-Bold");

    display: flex;
    flex-direction: row;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    width: 30%;
    background: #e74c3c;
    max-width: 182px;

    @include breakpoint(tablet) {
      width: 25%;
    }

    @include breakpoint(desktop-sm) {
      width: 20%;
    }

    @include breakpoint(desktop-sm) {
      @include text-styles(1rem, 1.29, "Gordita-Bold");
    }

    :first-child {
      @include breakpoint(tablet) {
        margin-right: 5px;
      }
    }

    :nth-child(2) {
      display: none;

      @include breakpoint(tablet) {
        display: flex;
      }
    }
  }

  .c-breakingNews-title {
    display: block;
    color: #212126;
    text-transform: none;
    text-align: left;
    padding: 5px 40px 5px 10px;
    width: 70%;
    height: calc(100% - 10px);
    overflow-y: hidden;

    @include text-styles(.75rem, 1.2, "Gordita");

    @include breakpoint(tablet) {
      padding: 10px 40px 10px 18px;
      height: calc(100% - 20px);
      width: 75%;
    }

    @include breakpoint(desktop-sm) {
      @include text-styles(1rem, 1.2, "Gordita");

      text-align: center;
      width: 80%;
    }
  }
}
