@import "../../../../src//styles/base/";

.endOfStory {
  @include breakpoint(tablet) {
    width: 50%;
  }

  .c-homeLeadContainer {

    .column-1 {
      width: 100%;

      .c-homeList.left-photo {
        flex-wrap: nowrap;
      }

      .homeList-text {
        max-width: unset;
      }
    }
  }

  .column-2 {
    display: none;
  }

  + div {
    @include breakpoint(tablet) {
      margin-left: 30px;
    }
  }
}
