@import "../../../../src/styles/base/mixins";
@import "../../../../src/styles/base/breakpoints";

.c-sectionTitle {
  letter-spacing: -.38px;
  margin-bottom: $min-margin;
  color: #313132;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include text-styles(1.875rem, 1, "Gordita-Bold");

  &:after {
    @include sectionTitle;
  }

  @include between-breakpoints(tablet, desktop-sm) {
    @include text-styles(1.563rem, 1, "Gordita-Bold");
  }

  @include breakpoint(desktop-sm) {
    text-align: left;
    justify-content: start;
  }

  .titleURL {
    display: flex;
    align-items: center;
    color: inherit;
    cursor: pointer;
  }

  .btn-arrow-right.btn-readmore {
    margin: 3px 0 0 15px;
    height: 25px;
    min-width: 25px;
    display: none;
    box-shadow: none;
    
    &:after {
      font-size: 15px;
    }

    @include breakpoint(desktop-sm) {
      display: inline-flex;
    }
  }

  .title-bar {
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #cdcdcd;

    @include breakpoint(tablet) {
      width: auto;
    }
  }
}
