@import "./../../../src/styles/base";

.c-textFeature {
  margin-bottom: $min-Msection-margin;
  max-width: 100%;

  .c-textFeature-title {
    color: #313132;
    letter-spacing: -.38px;
    font-weight: 600;
    border-bottom: 1px solid #cdcdcd;
    max-width: 100%;
    margin: 15px 0;
    padding-bottom: 10px;

    @include text-styles(1.875rem, normal, "Gordita-Bold");

    @include breakpoint(desktop-sm) {
      letter-spacing: -.56px;

      @include text-styles(2.813rem, normal, "Gordita-Bold");
    }
  }

  .c-textFeature-content {
    max-width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 15px;
    
    p,
    strong {
      color: #313132;

      @include text-styles(.688rem, 1.82, "Gordita");
  
      @include breakpoint(desktop-sm) {
        @include text-styles(.813rem, 1.54, "Gordita");
      }
    }

    a {
      color: #2e81b7;
    }
  }
}
