@import "./../../../src/styles/base";

.c-textFeature {

  .c-textFeature-title {
    color: #313132;
    letter-spacing: -.45px;
    font-weight: 600;
    text-align: center;

    @include text-styles(1em, 1.88, "Gordita");

    @include breakpoint(desktop-sm) {
      letter-spacing: -.84px;
      text-align: left;

      @include text-styles(1.5em, normal, "Gordita");
    }
  }

  .c-textFeature-content {
    color: #313132;

    @include text-styles(1em, 2.25, "Gordita");

    @include breakpoint(desktop-sm) {
      @include text-styles(1.25em, 2, "Gordita");
    }
  }

  .c-rightRail & {

    .c-textFeature-title {
      font-weight: 600;

      @include text-styles(1.3125em, 1.9, "Gordita");
    }

    .c-textFeature-content {
      @include text-styles(.875em, 2, "Gordita");
    }
  }

  .one-column,
  .two-column,
  .three-column,
  .four-column & {

    .c-textFeature-title {
      font-weight: 600;

      @include text-styles(1.5em, 1.67, "Gordita");
    }

    .c-textFeature-content {
      @include text-styles(1.25em, 2, "Gordita");
    }
  }
}
