@import "./../../../../src/styles/base/mixins";
@import "./../../../../src/styles/base/breakpoints";

.c-blogAuthor {
  display: block;

  .blogAuthor-title {
    @include text-styles(1.563rem, 1, "Gordita-Bold");

    letter-spacing: -.31px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #313132;
    display: flex;

    &:after {
      @include sectionTitle;
    }
  }

  &.multiple-authors {
    margin-bottom: 0;
    .blog-author-content-heading {
      justify-content: left;
      align-items: start;
      flex-direction: inherit;

      @include breakpoint(tablet) {
        justify-content: left;
        flex-direction: row;
      }
    .content-profileImage {
      margin-bottom: 0;
    }
  }

    .b-flexRow {
      margin-bottom: 20px;

      .content-profileImage {
        width: 97px;
        height: 97px;
        margin: 0 0 20px;
        float: left;

        @include breakpoint(tablet) {
          margin: 0 20px 0 0;
        }

        display: flex;
        justify-content: center;

        .c-image-component,
        .image-component-image {
          height: 100%;
          width: 100%;
        }

        img,
        amp-img {
          height: 100%;
          width: auto;
          border-radius: 50%;
          box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
          overflow: hidden;
        }
      }
  .blog-author-content:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .blog-author-content-heading {
    justify-content: left;
    align-items: center;
    flex-direction: row;
    position: relative;

        font-weight: 600;
        padding: 35px 20px;
      }
    &.has-image .content-authorName {
      width: calc(100% - 117px);
    }

    &:not(.has-image) .content-authorSocial a {
      width: 20px;
      height: 20px;
    }
  }

  .content-profileImage {
    width: 97px;
    height: 97px;
    margin: 0 20px 10px 0;
    display: flex;
    justify-content: center;

    @include breakpoint(tablet) {
      margin-bottom: 0;
    }

    .content-authorDescription {
      padding: 0;
      
    .c-image-component,
    .image-component-image {
      height: 100%;
      width: 100%;
    }

    img,
    amp-img {
      height: 100%;
      width: auto;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .content-authorName {
    @include text-styles(1.125rem, 1, "Gordita-Bold");

    text-align: left;
    letter-spacing: -.22px;
    font-weight: 600;
    position: relative;
    width: 100%;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .content-authorSocial {
    position: absolute;
    right: 0;
    top: 0;

    a {
      margin-left: 12px;
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 17px;

      img {
        width: 100%;
        height: 100%;
      }

      @include breakpoint(tablet) {
        width: 33px;
        height: 33px;
        margin-left: 24px;
      }
    }
  }

  .b-flexRow {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .content-authorDescription {
    padding: 0;
    color: #505050;

    @include text-styles(.875rem, 1.375, "Gordita");
  }
}
