@import "./../../../../src/styles/base/mixins";
@import "./../../../../src/styles/base/breakpoints";

.c-blogAuthor {
  display: block;
  margin-bottom: 2rem;

  .blogAuthor-title {
    @include text-styles(1.563rem, 1, "Gordita-Bold");

    letter-spacing: -.31px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #313132;
    display: flex;

    &:after {
      @include sectionTitle;
    }
  }

  .blogAuthor-content {

    .blog-author-content-heading {
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include breakpoint(tablet) {
        justify-content: left;
        flex-direction: row;
      }
    }

    .b-flexRow {
      margin-bottom: 20px;

      .content-profileImage {
        width: 97px;
        height: 97px;
        margin: 0 0 10px;

        @include breakpoint(tablet) {
          margin: 0 20px 0 0;
        }

        display: flex;
        justify-content: center;

        .c-image-component,
        .image-component-image {
          height: 100%;
          width: 100%;
        }

        img,
        amp-img {
          height: 100%;
          width: auto;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .content-authorName {
        @include text-styles(1.125rem, 1, "Gordita-Bold");

        letter-spacing: -.22px;
        font-weight: 600;
      }
    }

    .b-flexRow:last-child {
      margin-bottom: 0;
    }

    .content-authorDescription {
      padding: 0 20px;
      color: #505050;

      @include text-styles(.875rem, 1.375, "Gordita");

      text-align: center;

      @include breakpoint(tablet) {
        text-align: left;
        padding: 0;
      }
    }
  }

  .btn-facebook,
  .btn-twitter {
    margin: 0 10px;
  }
}
