@import "../../../src/styles/base/fonts";
@import "./../../../src/styles/base/breakpoints";
@import "../../../src/styles/base/mixins";

.c-flatpage {
  height: auto;

  .float-none {

    .c-section {

      .c-customHTML {
        float: none;

        @include breakpoint(desktop-sm) {
          float: none;
        }
      }
    }
  }

  .RP01.arcad.b-margin-bottom-d40-m20 {
    margin-bottom: 0;
  }

  .c-hp01-mp01,
  .c-hp05-mp05 {
    margin-bottom: 30px;
    clear: both;
  }

  .c-hp01-mp01 {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .border-top {
    display: none;
  }

  article {

    .c-section {
      margin-bottom: 40px;

      .c-customHTML {
        @include text-styles(1rem, 2.11, "Gordita");

        @include breakpoint(desktop-sm) {
          float: left;
        }
      }

      .MP02 {
        margin-top: 30px;
      }

      h1 {
        font-size: 1.875rem;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        @include text-styles(1.2rem, 2.11, "Gordita");

        margin: 0;
        clear: left;
      }

      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.3rem;
      }

      h4 {
        font-size: 1.2rem;
      }

      i {
        font-style: italic;
      }

      b {
        @include text-styles(1.2rem, 2.11, "Gordita-Bold");

        font-weight: 800;
      }

      blockquote {
        @include text-styles(1.2rem, 2.11, "Gordita-Bold");

        font-weight: 800;
        clear: left;
        padding-left: 18px;
        border-left: 10px solid #2e81b7;
        border-radius: 2px;
      }

      ol,
      ul {
        list-style: initial;

        @include text-styles(1rem, 2.11, "Gordita");
      }

      td {
        vertical-align: top;
      }

      strong {
        @include text-styles(1rem, 2, "Gordita-Bold");

        font-weight: 800;
      }

      p {
        line-height: 30px;
        margin-bottom: 20px;

        @include text-styles(1rem, 2, "Gordita");

        a {
          color: #2e81b7;
        }
      }
    }
  }

  @media (min-width: 1024px) {

    article {

      .c-section {

        h1 {
          font-size: 2.5vw;
        }
      }
    }
  }

  @include breakpoint(desktop-lg) {

    &.b-sectionHomeMaxWidth {
      max-width: 1540px;
      margin: 0 auto;
    }
  }
}
