@import "../../../../src/styles/base/mixins";
@import "../../../../src/styles/base/breakpoints";

.c-author-menu-item {
  color: #fff;
  text-align: right;
  list-style-type: none;
  font-weight: 500;

  @include breakpoint(desktop-sm) {
    color: #9b9b9b;
    cursor: pointer;
    text-align: left;
  }

  a {
    @include text-styles(1.25rem, 1.25, "Gordita-Medium");

    color: inherit;
    width: 100%;
    height: 100%;
    margin: .625rem 0;
    display: inline-block;

    @include breakpoint(desktop-sm) {
      @include text-styles(.875rem, 1, "Gordita-Medium");

      width: calc(100% - 26px);
      margin: .875rem 13px;
    }
  }

  &.active {
    color: #3299ad;
    position: relative;

    @include breakpoint(desktop-sm) {
      @include text-styles(1rem, 3, "Gordita-Medium");

      background-color: #fff;
      border-top: none;
      position: relative;
      display: block;
    }

    &.active:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
    }
  }

  &:not(.active) + li:not(.active) {
    @include breakpoint(desktop-sm) {
      border-top: 1px solid #cdcdcd;
    }
  }

  &.set-border-bottom {
    @include breakpoint(desktop-sm) {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}
