$is-amp: true;

/* Import site specific variables */

/* Imports and extends base stylesheet, only include overrides or site-specific scss here */
@import "./../../styles/base/index.scss";
@import "./../../styles/container/_article-basic.scss";
@import "./../../styles/state/index.scss";

/* Import all component styles */
// start components
@import "./../../../components/_helper_components/amp/amp-ads/default";
@import "./../../../components/_helper_components/article/byline/default.scss";
@import "./../../../components/_helper_components/article/socialShare/amp.scss";
@import "./../../../components/_helper_components/article/headline/style.scss";
@import "./../../../components/_helper_components/article/section/styles.scss";
@import "./../../../components/_helper_components/article/subheadline/style.scss";
@import "./../../../components/_helper_components/article/timestamp/default.scss";
@import "./../../../components/_helper_components/global/contributorBadge/default.scss";
@import "./../../../components/_helper_components/article/blogAuthor/styles.scss";
@import "./../../../components/_helper_components/article/contentElements/components/blockQuote/styles.scss";
@import "./../../../components/_helper_components/article/contentElements/components/divider/styles.scss";
@import "./../../../components/_helper_components/article/contentElements/components/header/default.scss";
@import "./../../../components/_helper_components/article/contentElements/components/interstitial_link/styles.scss";
@import "./../../../components/_helper_components/article/contentElements/components/list/styles.scss";
@import "./../../../components/_helper_components/article/contentElements/components/paragraph/default.scss";
@import "./../../../components/_helper_components/article/contentElements/components/interstitial_link/styles.scss";
@import "./../../../components/_helper_components/article/carousel/default.scss";
@import "./../../../components/_helper_components/article/nativo/styles.scss";
@import "./../../../components/_helper_components/amp/nonSubPremiumMessage/amp.scss";
@import "./../../../components/_helper_components/global/ConnextFreeMessaging/default.scss";
@import "./../../../components/_helper_components/global/ConnextThankYouMessage/amp.scss";
@import "./../../../components/_helper_components/amp/paywallLimitMessage/default.scss";
@import "./../../../components/_helper_components/article/sponsorBanner/default.scss";
@import "./../../../components/_helper_components/article/sponsorRelatedBox/default.scss";
// end components

// start global
@import "./../../../components/_helper_components/global/navBar/amp.scss";
@import "./../../../components/_helper_components/global/image/default.scss";
@import "./../../../components/_helper_components/global/caption/default.scss";
@import "./../../styles/container/c-copyright";
@import "./../../../components/_helper_components/global/video/default.scss";
@import "./../../../components/_helper_components/global/sectionLabel/default.scss";
// end global

/* Import site specific overrides here */

.article-timestamp {
  color: #000;
}

.c-section {
  display: block;
  padding: 0 $min-margin;
  margin-right: auto;
  margin-left: auto;
}
