$is-amp: false;

/* Import site specific variables */

/* Imports and extends base stylesheet, only include overrides or site-specific scss here */
@import "./../../styles/base/index.scss";
@import "./../../styles/container/index.scss";
@import "./../../styles/state/index.scss";

/* Import all component styles */
//@import "components/**/*.scss";

/* Import site specific overrides here */
@media only screen and (min-width: 768px) {

  .c-headerNav .c-login .btn-profile,
  .c-headerNav .c-login .btn-profile:hover {
    background: #117ab4;
  }
}

.is-loggedIn .c-headerNav .c-login img,
.c-headerNav .mobile-nav-activated .nav-mobile-login img {
  filter: invert(48%) sepia(10%) saturate(3354%) hue-rotate(108deg) brightness(89%) contrast(90%);
}
