@import "./../../../src/styles/base";

.c-sectionHome .c-contentElements .c-synopsis {
  @include breakpoint(desktop-sm) {
    width: 100%;
  }

  @include breakpoint(desktop-lg) {
    width: 35.5%;
    margin-left: 3%;
  }

  @include breakpoint(desktop-xl) {
    width: 35%;
    margin-left: 2.5%;
  }
}

.c-synopsis {
  @include breakpoint(desktop-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(desktop-lg) {
    flex-direction: column;
    justify-content: initial;
    margin-top: -2px;
  }

  .c-homeList {
    @include breakpoint(desktop-sm) {
      width: 47%;
    }

    @include breakpoint(desktop-lg) {
      width: 100%;
    }

    .c-label-wrapper {
      text-align: left;
      margin: .4rem 0 0;
  
      @include breakpoint(tablet) {
        margin-bottom: .4rem;
      }

      @include breakpoint(desktop-sm) {
        margin-top: .6rem;
      }

      a {
        font-weight: 600;
      }

      .c-sponsor {
        margin-bottom: .2rem;
      }
    }

    .headline {
      text-align: left;
      letter-spacing: -.13px;

      @include text-styles(1.75rem, 1.14, "Average");

      @include between-breakpoints(tablet, desktop-lg) {
        @include text-styles(1.375rem, 1.14, "Average");
      }

      @include breakpoint (desktop-lg) {
        @include text-styles(1.4rem, 1.14, "Average");
      }

      a {
        color: #000;
      }
    }

    .homeList-image {
      display: none;
    }

    .homeList-text {
      padding-bottom: .6rem;
      border-bottom: 1px solid #cdcdcd;
      width: 100%;
      letter-spacing: -.32px;

      @include text-styles(1rem, 1.5, "Average");

      @include between-breakpoints(desktop-sm, desktop-lg) {
        border-bottom: none;
      }

      @include breakpoint(desktop-sm) {
        letter-spacing: -.28px;

        @include text-styles(1.14rem, 1.14, "Average");
      }

      .section-label {
        @include text-styles(.75rem, 1, "Gordita");
      }
    }

    &:first-child {

      .c-label-wrapper {
        @include breakpoint(desktop-sm) {
          margin-top: 0;
        }
      }
    }

    &:last-child {

      .homeList-text {
        border: none;
      }
    }

    &:nth-child(1),
    &:nth-child(2) {
      @include between-breakpoints(desktop-sm, desktop-lg) {
        
        .c-label-wrapper {
          margin-top: 0;
        }
      }
    }
  }
}
