@import "./../../../src/styles/base";

.c-sectionHome .c-contentElements .c-synopsis {
  @include breakpoint(desktop-sm) {
    width: 39%;
    margin-left: 2%;
  }
}

.c-synopsis {
  .c-homeList {
    .c-label-wrapper {
      text-align: left;
      margin: 0.6rem 0;
    }

    .headline {
      text-align: left;
      @include text-styles(1.75rem, 1.14, "Average");
      letter-spacing: -0.16px;
      a {
        color: black;
      }
    }

    .homeList-image {
      display: none;
    }

    .homeList-text {
      padding-bottom: 0.6rem;
      border-bottom: 1px solid #cdcdcd;
      width: 100%;
      @include text-styles(1rem, 1.5, "Average");
      letter-spacing: -0.32px;
    }

    &:first-child {
      .c-label-wrapper {
        margin-top: 0;
      }
    }

    &:last-child {
      .homeList-text {
        border: none;
      }
    }
  }
}
