@import "./../../../src/styles/base";
@import "./../../../src/styles/base/fonts";

.c-sectionHome .c-contentElements .c-synopsis {
  @include breakpoint(desktop-sm) {
    width: 100%;
  }

  @include breakpoint(desktop-lg) {
    width: 35.5%;
    margin-left: 3%;
  }

  @include breakpoint(desktop-xl) {
    width: 35%;
    margin-left: 2.5%;
  }
}

.c-synopsis {
  @include breakpoint(desktop-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(desktop-lg) {
    flex-direction: column;
    justify-content: initial;
    margin-top: -2px;
  }

  .c-homeList {
    @include breakpoint(desktop-sm) {
      width: 47%;
    }

    @include breakpoint(desktop-lg) {
      width: 100%;
    }

    .c-label-wrapper {
      display: none;
    }

    .headline {
      text-align: left;
      letter-spacing: -.46px;

      @include text-styles(1.625rem, 1.14, "Lora");

      @include between-breakpoints(tablet, desktop-lg) {
        @include text-styles(1.5rem, 1.25, "Lora");
      }

      @include breakpoint (desktop-lg) {
        @include text-styles(1.625rem, 1.14, "Lora");
      }

      a {
        color: #000;
      }
    }

    .homeList-image {
      display: none;
    }

    .homeList-text {
      padding-bottom: .6rem;
      border-bottom: 1px solid #cdcdcd;
      width: 100%;
      letter-spacing: -.32px;

      @include text-styles(.875rem, 1.5, "Gordita");

      @include between-breakpoints(desktop-sm, desktop-lg) {
        border-bottom: none;
      }

      @include breakpoint(desktop-sm) {
        letter-spacing: -.28px;
      }
    }

    &:first-child {

      .c-label-wrapper {
        @include breakpoint(desktop-sm) {
          margin-top: 0;
        }
      }
    }

    &:last-child {

      .homeList-text {
        border: none;
      }
    }

    &:nth-child(1),
    &:nth-child(2) {
      @include between-breakpoints(desktop-sm, desktop-lg) {
        
        .c-label-wrapper {
          margin-top: 0;
        }
      }
    }
  }
}
