/* stylelint-disable declaration-no-important */
@import "../../../../src/styles/base";

@include amp-exclude {

  .c-liveUpdates {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .c-liveUpdateNav {
      border-top: 1px solid #cdcdcd;
      width: 40px;
      position: sticky;
      top: 0;
      align-self: flex-start;

      a {
        display: block;
        border-bottom: 1px solid #cdcdcd;
        padding: 15px 5px 15px 15px;
      }

      @include breakpoint(tablet) {
        width: 140px;
      }
    }

    .c-liveUpdateContent {
      width: 100%;
      box-sizing: border-box;
      border-left: 1px solid #cdcdcd;
      padding-left: 30px;

      .arcad {
        padding-bottom: 30px !important;
        border-bottom: 1px solid #cdcdcd;
      }

      h2 {
        font-size: 1.875rem;
      }
    }
  }
}
