/* stylelint-disable declaration-no-important */
/* stylelint-disable property-no-vendor-prefix */
@import "../../../../src/styles/base";

@include amp-exclude {
  @include between-breakpoints(mobile, mobile-sm) {

    body .Mg2-connext[data-display-type] .row {
      margin-left: 0;
      margin-right: 0;
    }

    .c-sectionContent.not-live .c-sectionHome,
    .c-sectionContent.is-live .c-sectionHome {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .c-LiveUpdatePageHeader {
    margin-bottom: 0;
    position: relative;
    width: 100%;

    .c-image-feature {
      margin: 0;
      position: relative;
      width: 100%;
      height: auto;

      &:not(:first-child),
      &:not(:last-child) {
        margin: 0;
      }

      .c-image-component {
        margin-bottom: 0;
      }

      .image-component-image:before {
        content: " ";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background: #000;
        opacity: 40%;
      }

      picture {
        position: relative;
        z-index: 1;
        right: 0;
        width: 100%;
        height: auto;
        display: block;
        filter: grayscale(1);
      }

      picture,
      img {
        height: 100%;
      }
    }

    .c-page-title,
    .c-liveUpdatesStatus {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      max-width: 95%;
      margin: 0 auto;
    }

    @include breakpoint(desktop-sm) {

      .c-liveUpdatesStatus {
        max-width: 50%;
      }
    }

    .c-page-title .c-title-content {
      border: none;
      color: #fff5ec;
      display: block;
      text-align: center;
      letter-spacing: -.31px;

      @include text-styles(1.5625rem, 1.75, "Lora-Bold");

      @include between-breakpoints(tablet, desktop-sm) {
        font-size: 1.875rem;
        line-height: 1.9375rem;
        letter-spacing: -.38px;
      }

      @include between-breakpoints(desktop-sm, desktop-lg) {
        font-size: 2.43rem;
        line-height: 2.5rem;
        letter-spacing: -.49px;
      }

      @include breakpoint(desktop-lg) {
        font-size: 3.125rem;
        line-height: 3.44rem;
        letter-spacing: -.62px;
      }

      .c-sectionContent & a[href],
      .c-sectionContent & a[href]:hover {
        color: #fff5ec !important;
      }
    }

    .c-liveUpdatesStatus {
      top: 70%;
      width: auto;

      @include text-styles(.75rem, 1, "Gordita-Bold");

      .is-live & {
        color: #ff1f00;
        text-transform: uppercase;

        &:before {
          @include blinking-dot(30px, 1.25s);
        }
      }

      @include between-breakpoints(desktop-sm, desktop-lg) {
        font-size: .975rem;
      }

      @include breakpoint(desktop-sm) {
        top: 75%;
      }

      @include breakpoint(desktop-lg) {
        font-size: .875rem;
      }
    }
  }

  .c-liveUpdates {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    margin: 20px auto 60px;

    .c-liveUpdateNav {
      flex: 0 0 50px;
      align-self: flex-start;
      max-height: calc(100vh - 175px);
      overflow: auto;
      margin-bottom: 20px;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */

      &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
      }

      @include text-styles(.875rem, 1.25, "Gordita");
      @include position-sticky(75px);

      @include between-breakpoints(mobile, mobile-sm) {
        flex: 0 0 45px;
      }

      @include breakpoint(tablet) {
        flex-basis: 20%;
        max-width: 200px;
        max-height: calc(100vh - 75px);
      }

      @include between-breakpoints(desktop-sm, desktop-lg) {
        min-width: 200px;
        max-width: 256px;
      }

      @include breakpoint(desktop-lg) {
        min-width: 256px;
        max-width: 336px;
      }

      .c-navTitle {
        text-transform: uppercase;
        border-bottom: 1px solid #cdcdcd;
        padding: 5px 0;
        position: relative;
        height: 15px;
        font-weight: 800;
        font-size: .6875rem;

        @include between-breakpoints(mobile, tablet) {
          display: none;
        }

        .is-live & {
          padding-left: 12px;

          &:before {
            @include blinking-dot(20px, 1.25s);

            left: 0;
            top: 45%;
          }

          @include between-breakpoints(mobile, tablet) {
            text-align: center;
            height: 15px;
            display: block;

            &:before {
              top: 0;
              transform: translateX(-50%);
              line-height: 20px;
              left: 50%;
              font-size: 40px;
              width: 40px;
              height: 40px;
              margin: 0 auto;
            }
          }
        }
      }

      a {
        display: block;
        border-bottom: 1px solid #cdcdcd;
        padding: 10px 5px;
        color: #313132;
        text-align: center;

        &.is-active {
          font-family: "Gordita-Bold";
          background: #fff5ec;
        }

        &.date-marker {
          color: #f68c47;

          &:first-of-type {
            display: none;
          }
        }

        @include breakpoint(tablet) {
          text-align: left;
          padding: 10px 10px 10px 0;

          &.is-active {
            padding-left: 10px;
          }

          &.date-marker {
            display: none;
          }
        }

        .timestamp {
          font-size: .75rem;
          letter-spacing: -.15px;

          @include text-styles(.75rem, 1, "Lora-Bold");

          @include breakpoint(tablet) {
            margin-top: 20px;
            color: #9b9b9b;
            letter-spacing: 0;

            @include text-styles(.875rem, 1.25, "Gordita");
          }

          .timestamp-date {
            display: none;
            margin-right: 8px;

            @include breakpoint(tablet) {

              &:not(.same-day) {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .c-liveUpdateContent {
      width: calc(100% - 50px);
      box-sizing: border-box;
      border-left: 1px solid #cdcdcd;
      padding-left: 12px;

      @include text-styles(1rem, 1.625, "Gordita");

      @include between-breakpoints(mobile, mobile-sm) {
        padding-left: 10px;
        width: calc(100% - 54px);
      }

      @include breakpoint(tablet) {
        padding-left: 16px;
        width: calc(80%);
      }

      @include breakpoint(desktop-sm) {
        padding-left: 16px;
        width: auto;
        max-width: 80%;
        flex-grow: 1;
      }

      @include breakpoint(desktop-lg) {
        padding-left: 30px;
      }

      > .c-liveUpdate:first-child {
        border-top: none;
        margin-top: -8px;

        @include between-breakpoints(tablet, desktop-lg) {
          margin-top: -10px;
        }

        @include breakpoint(desktop-lg) {
          margin-top: -20px;
        }
      }

      .c-sectionHome.full-width .c-contentElements & .arc_ad {

        .border-top {
          display: none;
        }

        &.HP01,
        &.MP01,
        &.RP01,
        &.MP02,
        &.HP03,
        &.HP04 {
          margin-bottom: 0;
          border-top: none;

          .arcad:not(:empty) {
            border-top: 1px solid #cdcdcd;
          }
        }

        @include between-breakpoints(mobile, mobile-lg) {
          overflow: visible;
        }

        @include between-breakpoints(mobile, mobile-sm) {

          .arcad[class*="MP0"] {
            margin: 0 -9px;
            width: calc(100% + 16px);
            text-align: center;
          }
        }

        @include between-breakpoints(mobile-sm, mobile-lg) {

          .arcad[class*="MP0"] {
            margin: 0 -9px 0 -5px;
            width: calc(100% + 12px);
          }
        }
      }

      .arcad {
        padding-top: 35px !important;
        padding-bottom: 30px !important;
      }

      .story-newsletter_placeholder:not(:empty),
      .story-newsletter_placeholder ~ .Mg2-connext[data-display-type].cmg-subscribe-to-newsletters-inline-with-email,
      .story-nativo_placeholder--moap:not(:empty),
      .story-interscroller__placeholder:not(:empty) {
        border-top: 1px solid #cdcdcd;
      }

      .Mg2-connext[data-display-type].cmg-subscribe-to-newsletters-inline-with-email {
        width: 100% !important;

        .container-fluid {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }

        #newsletters-subscribe-header {
          text-align: center;

          .title {
            width: 95%;
            display: block;
          }
        }
      }

      .c-headline {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include between-breakpoints(mobile, tablet) {
          margin-top: 12px;
        }
      }

      h2 {
        display: flex;
        width: calc(100% - 35px);
        letter-spacing: -.25px;

        @include text-styles(1.25rem, 1.5, "Lora-Bold");

        @include between-breakpoints(tablet, desktop-lg) {
          font-size: 1.375rem;
          line-height: 1.39;
          letter-spacing: -.28px;
        }

        @include breakpoint(desktop-lg) {
          font-size: 1.875rem;
          line-height: 1.49;
          letter-spacing: -.38px;
        }
      }

      .link-anchor {
        position: relative;
        width: 25px;
        height: 25px;
        margin: 6px 0 0 10px;
        border-radius: 2px;
        box-shadow: 4px 4px 6px 0 rgba(229, 229, 229, .6);
        border: solid 1px #ececec;
        background: url("/pf/resources/icons/link-anchor.svg") center center no-repeat;

        @include breakpoint(desktop-lg) {
          margin-top: 20px;
        }

        &:focus,
        &:active {
          -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        &:focus:after {
          position: absolute;
          top: -20px;
          right: calc(100% + 10px);
          padding: 4px 8px;
          content: "Copied!";
          color: #000;
          letter-spacing: -.23px;
          text-align: center;
          background: #fff5ec;
          border: 1px solid #ececec;
          box-shadow: 4px 4px 6px 0 rgba(229, 229, 229, .6);
          border-radius: 2px;
          min-width: max-content;
          opacity: 0;
          transition: all .75s;
          cursor: default;

          @include text-styles(.75rem, 1, "Gordita-Bold");
        }

        &.is-clicked:focus:after {
          opacity: 1;
          top: 2px;
          transition: opacity .75s;
        }
      }

      .c-timestampByline {
        margin: 9px 0;

        @include breakpoint(tablet) {
          margin: 12px 0 15px;
        }
      }

      .byline {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        letter-spacing: -.15px;

        @include text-styles(.75rem, 1, "Gordita");

        @include between-breakpoints(tablet, desktop-lg) {
          font-size: .875rem;
          letter-spacing: -.18px;
          margin-left: 12px;
        }

        @include breakpoint(desktop-lg) {
          font-size: 1rem;
          letter-spacing: -.2px;
          margin-left: 12px;
        }
      }

      .timestamp-time {
        background: #212126;
        color: #fff;
        padding: 5px;
        text-align: center;
        display: inline-block;
        letter-spacing: -.18px;

        @include text-styles(.875rem, 1, "Lora-Bold");

        @include breakpoint(tablet) {
          letter-spacing: -.25px;
          font-size: 1.25rem;
          padding: 15px;
        }
      }

      @include between-breakpoints(mobile, mobile-xl) {

        #taboola-ajc-custom-feed[data-feed-main-container-id="taboola-ajc-custom-feed"].tbl-feed-full-width {
          // overriding Taboola's inline stylesheet for small mobile (<480 in their code)
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }

    .c-liveUpdate {
      border-top: 1px solid #cdcdcd;

      @include between-breakpoints(mobile, tablet) {
        margin-bottom: 15px;
      }

      &.with-date-marker {
        margin-top: 25px;
        position: relative;

        .c-headline {
          margin-top: 18px;

          @include breakpoint(desktop-lg) {
            margin-top: 4px;
          }
        }
      }

      .date-marker {
        position: absolute;
        top: -12px;
        color: #f68c47;
        background: #fff;
        padding-right: 10px;
        letter-spacing: -.28px;

        @include text-styles(1.375rem, 1, "Gordita-Bold");

        @include breakpoint(tablet) {
          top: -15px;
          font-size: 1.62rem;
          letter-spacing: -.38px;
          padding-right: 15px;
        }
      }
    }

    .liveUpdate-content {
      margin-bottom: 15px;

      .c-contentElements {
        text-align: center;
        display: block;
        width: 100%;
        max-width: 100%;

        > :last-child {
          margin-bottom: 0;
        }

        /* stylelint-disable selector-max-universal */

        > * {
          text-align: left;
        }

        @include breakpoint(desktop-sm) {

          > :not(p) {
            width: auto;
            min-width: auto;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .c-image-component {
          overflow: visible;
        }
      }
    }
  }
}
