/*  /components/_helper_components/article/contentElements/components/list/styles.scss  */

@import "../../../../../../src/styles/base/mixins";

.list {
  @include text-styles(1rem, 2.25, "Gordita");

  ul, ol, li {
    line-height: 2.5;
    font-size: 1.3rem;
    padding-left: 0.3em;
  }
  ul {
    list-style-type: none;
    margin-left: 2.3em;
  }
  ul li:before {
    content: '-';
    margin-right: 0.3em;
    font-weight: bolder;
    margin-left: -0.7em;
  }
  ol{
    list-style: none;
    margin-left: 2.3em;
    counter-reset: item;
  }
  ol li {
    counter-increment: item;
  }
  ol li::before {
    content: counter(item)". ";
    font-weight: bold;
    margin-left: -1.2em;
  }
}