@import "../../../../src/styles/base";

.c-relatedList {
  font-family: "Average";
  font-size: 1.875rem;

  .title {
    text-align: left;
    margin-bottom: 1.1rem;
    display: flex;
    color: #313132;

    @include text-styles(1.563rem, 1, "Gordita-Bold");

    &:after {
      content: "";
      background: #cdcdcd;
      height: 1px;
      flex: 1;
      margin: auto 0 auto 15px;
    }
  }

  .c-homeListContainer.left-photo-display-class .c-homeList {
    margin-bottom: 1.25rem;
    max-width: 100%;

    .homeList-text {
      display: flex;
      flex-direction: column;
      max-width: 69%;

      @include breakpoint(tablet) {
        max-width: 75%;
      }

      .c-label-wrapper {
        font-size: .75rem;

        &:empty {
          display: none;
        }
      }

      .headline {
        font-size: 16px;

        @include breakpoint(desktop-sm) {
          font-size: 1.15rem;
        }
      }
    }

    .homeList-image {
      max-width: 110px;
      max-height: 64px;
    }

    @include breakpoint(tablet) {
      margin-bottom: 1.875rem;
      max-width: 50%;
    }

    @include breakpoint(desktop-sm) {
      max-width: 100%;
    }
  }
}
