/*  /components/features/article/subheadline/styles.scss  */

.article-subheadline {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.article-subheadline-body {
  width: 37%;
  padding: 1.25em;
  font-size: 1.1em;
  text-align: center;
}
