@import "../../../../src/styles/base/breakpoints";
@import "../../../../src/styles/base/fonts";
@import "../../../../src/styles/base/mixins";
@import "../../../../src/styles/base/buttons";

.c-stickyNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: #f8f8f8;
  opacity: 0.98;
  z-index: 999;
  display: flex;
  align-items: center;
  border: none;
  display: none;

  .mobile-hidden {
    display: none;
    @include breakpoint(desktop-sm) {
      display: block;
    }
  }
  .desktop-hidden {
    display: block;
    @include breakpoint(desktop-sm) {
      display: none;
    }
  }

  @include breakpoint(desktop-sm) {
    border-bottom: solid 1px #d0d0d0;
    height: 70px;
  }

  &.is-visible {
    display: flex;
  }

  .stickyNav {
    max-width: 1600px;
    margin: 0 auto;
    width: 94%;
    display: flex;
    align-items: center;
  }
  .logo {
    display: block;
    margin-top: 10px;
  }
}

.c-stickyNav-list {
  position: relative;
  display: flex;
  align-items: center;
  width: min-content;

  @include breakpoint(desktop-sm) {
    justify-content: left;
  }
  .stickyNav-item {
    list-style: none;
    padding-bottom: 0.313em;
    margin: 0 6px;
    @include breakpoint(desktop-sm) {
      margin-right: 15px;
    }
    img {
      width: 75px;
      height: 56px;
    }
    a {
      margin: 0;
    }
  }

  &.dropdown-stickyNav {
    @media (max-width: 1023px) {
      flex-direction: column;
      position: absolute;
      right: -50px;
      top: -5px;
      overflow: hidden;
      height: 45px;
      .stickyNav-item:first-child {
        padding-top: 0.313em;
      }
      &.is-open {
        height: auto;
        border-radius: 6px;
        box-shadow: 0 2px 26px 4px rgba(0, 0, 0, 0.1);
        background: #fff;
        .arrow-icon {
          transform: rotate(180deg);
        }
      }
      .arrow-icon {
        display: block;
      }
    }
  }
}
