@import '../../../../src/styles/base/breakpoints';

.c-stickyNav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0 1.25em;
    max-height: 90px;
    background: linear-gradient(to bottom, #ffffff, #ececec);
    z-index: 999;
    display: flex;
    align-items: center;
    border: none;

    @include breakpoint(desktop-sm) {
        border: 1px solid #d0d0d0;
    }
}