hr.divider {
  height: 0;
  border: 0;
  border-top: solid 1px #cdcdcd;

  ~ p.info-box { // this .story-text, this class attached to the paragraph component
    font-size: .75rem;
    line-height: 1.75rem;
    color: #707174;
  }
}
