@import "../../../../src/styles/base/mixins";
@import "../../../../src/styles/base/breakpoints";

.c-nonSubPremium {
  height: auto;
  width: 100%;
  position: relative;
  margin: 20px 0;

  .text {
    text-align: center;
    width: auto;
    margin: 0 auto;
    color: #fff;
    line-height: 1.5;
  }

  .text span {
    display: block;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
  }

  @media (min-width: 768px) {

    .text {
      font-size: 26px;
    }

    .text a {
      font-size: inherit;
    }
  }

  .nonSubPromo {
    background: #3299ad;
    padding: 20px;
    border-radius: 6px;
  }

  .nonSubPromo span.subscription-headline {
    @include text-styles(1.375rem, 1.5, "Gordita-Medium");

    margin-bottom: .5rem;
  }

  .nonSubPromo span.thank-you-subscriber {
    @include text-styles(.875rem, 1.5, "Gordita");

    padding-bottom: 15px;
  }

  @media (min-width: 768px) {

    .nonSubPromo .text {
      font-size: 1.25rem;
    }

    .nonSubPromo .text a {
      font-size: inherit;
    }
  }

  @media (max-width: 768px) {

    .nonSubPromo span.subscription-headline {
      font-size: 18px;
      padding-bottom: 10px;
      margin-bottom: 0;
    }

    .nonSubPromo span.thank-you-subscriber {
      font-size: 14px;
    }
  }

  @media (min-width: 1024px) {
    margin-top: 0;
    margin-bottom: 40px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 60px;
  }

  .action-wrapper {
    display: flex;
    justify-content: center;

    a {
      @include text-styles(1rem, 1, "Gordita-Bold");

      padding: 10px 20px;
      border-radius: 6px;
      border: 1px solid #fff;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
  }
}
