@import "./../../../src/styles/base";

.c-mostRead {
  display: flex;
  flex-direction: column;
  margin-bottom: $min-Msection-margin;
  width: inherit;

  @include breakpoint(desktop-sm) {
    margin-bottom: $min-DTsection-margin;
  }
}

.mostReadTitle {
  @include text-styles(1.875rem, 1, "Gordita-Bold");

  &:after {
    @include sectionTitle;
  }
  
  text-align: center;
  margin-bottom: $min-margin;
  display: flex;

  @include between-breakpoints(tablet, desktop-sm) {
    @include text-styles(1.563rem, 1, "Gordita-Bold");
  }

  @include breakpoint(tablet) {
    text-align: left;
  }

  @include breakpoint(desktop-sm) {
    text-align: left;
  }
}

.mostReadList {
  display: flex;
  flex-direction: column;

  @include breakpoint(desktop-sm) {
    flex-direction: row;
  }

  a {
    color: inherit;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

    @include breakpoint(desktop-sm) {
      margin-bottom: 0;
    }
  }

  a:last-child {
    margin-bottom: 0;
  }

  a:not(:last-child) {
    @include breakpoint(tablet) {
      margin-right: 8px;
    }

    @include breakpoint(desktop-sm) {
      margin-right: 12px;
    }
  }
}

.mostReadRanking {
  @include text-styles (2.5rem, 1, "Lora");

  letter-spacing: -.5px;
  margin-right: 15px;
  min-width: 20px;
  max-width: 20px;
  height: fit-content;
  font-style: italic;
  font-weight: 900;

  @include breakpoint(tablet) {
    @include text-styles(1.875rem, 1 , "Lora");

    letter-spacing: -.38px;
    margin: 0 15px;
    padding-top: 4px;
  }

  @include breakpoint (desktop-sm) {
    @include text-styles (2.5rem, 1, "Lora");

    padding-top: 4px;
    margin: 0 15px 4px;
    letter-spacing: -.5px;
  }
}

.mostReadRanking:first-child {
  margin-left: 0;
}

.mostReadRanking + div {
  background-color: #cdcdcd;
  transform: rotate(90deg);
  position: relative;
  top: -10px;
  left: 11px;
  min-width: 1px;
  height: 20px;
}

.mostReadHeadline {
  border-left: 1px solid #cdcdcd;
  padding-left: 15px;
  padding-top: 3px;
  height: fit-content;
  letter-spacing: -.17px;
  
  @include text-styles(1.125rem, 1.33, "Average");

  @include breakpoint(tablet) {
    @include text-styles(1rem, 1.13, "Average");

    padding-top: 9px;
    min-width: 100px;
    letter-spacing: -.15px;
  }

  @include breakpoint(desktop-sm) {
    @include text-styles(1.438rem, 1.3, "Lora");

    padding-top: 10px;
    min-width: 120px;
    letter-spacing: -.44px;
  }

  @include breakpoint(desktop-lg) {
    padding-top: 10px;
    min-width: 140px;
  }
}
