/*  /components/features/article/subheadline/styles.scss  */
@import "./../../../../src/styles/base/breakpoints";
@import "./../../../../src/styles/base/mixins";

.subheadline-content {
  font-weight: 700;
  width: 100%;
  text-align: left;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -.45px;
  padding: 10px 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @include text-styles(16px, 25px, "Gordita-Bold");

  @include breakpoint(tablet) {
    @include text-styles(20px, 25px, "Gordita-Bold");

    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -.84px;
  }
}
