/*  /components/features/article/subheadline/styles.scss  */
@import "../../../../../../src/styles/base/breakpoints";
@import "../../../../../../src/styles/base/mixins";

.article-subheadline {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.article-subheadline-body {
  @include text-styles(1.875rem, 2, "Gordita");
  width: 37%;
  padding: 1.25em;
  text-align: center;
  @include breakpoint(desktop-sm) {
    @include text-styles(1em, 2, "Gordita");
  }
}
