/* stylelint-disable declaration-no-important */
@import "./../base/breakpoints";
@import "./../base/mixins";

.c-header {
  margin: 0 auto;
}

.c-main-gallery,
.c-header-gallery {
  margin: 0 auto;
}

@include amp-exclude {

  .c-nav {
    margin: 0 auto;
    width: 100%;

    @include breakpoint(desktop-lg) {
      max-width: 1600px !important;
    }
  }
}

.c-logo {
  min-height: 80px;

  @include breakpoint(desktop-sm) {
    min-height: 115px;
  }
}

.c-subscribe {
  height: 50px;
  display: none;

  @include breakpoint(desktop-sm) {
    display: block;
  }
}

.c-fullWidthAd {
  width: 100%;
  min-height: 200px;
}

.c-label-wrapper {
  text-align: center;
}

.c-articlePadding {
  padding: 0 $min-margin;

  @include breakpoint(desktop-sm) {
    padding: 0;
  }
}

.c-clear-both:empty {
  display: none;
}

.c-articleContent {

  .border-top {
    display: none;
  }
}

@include amp-exclude {

  body .c-articleContent .c-articleBodyContainer {
    height: auto !important;

    &.is-safari .c-section {

      &:not(.full-width) {

        .Mg2-connext[data-display-type].paywall[data-display-type="inline"] {
          @include breakpoint(desktop-sm) {
            width: calc(100% + 330px);
          }
        }
      }
    }
  }
}
