@import "./../base/breakpoints";
@import "./../base/mixins";

.c-header {
  margin: 0 auto;

  @include breakpoint(desktop-sm) {
    width: 94%;
  }

  @include breakpoint(desktop-lg) {
    width: 90%;
  }
}

.c-nav {
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(to bottom, #fff 66%, #d8d8d8);
  padding-bottom: 31px;
  
  @include breakpoint(desktop-nav) {
    width: 100%;
    padding: 0 32px 32px;
  }
}

.c-breakingNews {
  min-height: 50px;
  width: 100%;
  text-align: center;
}

.c-logo {
  min-height: 80px;

  @include breakpoint(desktop-sm) {
    min-height: 115px;
  }
}

.c-subscribe {
  height: 50px;
  display: none;

  @include breakpoint(desktop-sm) {
    display: block;
  }
}

.c-fullWidthAd {
  width: 100%;
  min-height: 200px;
}

.c-label-wrapper {
  padding: 0 30px;
  text-align: center;
}

.c-taboola {
  margin: 0 auto;
  width: 83.5%;

  @include breakpoint(desktop-sm) {
    width: 67.5%;
  }
}

.c-footer {
  min-height: 115px;
  width: 100%;
  text-align: center;
}

.c-articlePadding {
  padding: 0 30px;

  @include breakpoint(desktop-sm) {
    padding: 0;
  }
}
