/* stylelint-disable declaration-no-important */
@import "./../base/breakpoints";
@import "./../base/mixins";
@import "./../base/colors";

.c-header {
  margin: 0 auto;
}

main > .c-gallery-basic {

  &.b-contentMaxWidth {
    //Standalone gallery page
    margin-top: 2.5rem;
  }

  & .c-sectionHome.border-top {
    border: none;
  }
}

.c-gallery-basic,
.c-video-basic {

  #div-id-HP00 {
    @include breakpoint(tablet) {
      margin-bottom: 30px;
    }
  }

  @include breakpoint(tablet) {

    .c-MP01 {
      display: none;
    }
  }
}

.c-gallery-basic.b-contentMaxWidth {
  margin: .94rem auto 0;
}

.c-main-gallery,
.c-header-gallery {
  margin: 0 auto;

  @include breakpoint(tablet) {
    overflow: hidden;
    width: calc(100vw - 80px);
  }

  @include breakpoint(desktop-sm) {
    width: calc(100vw - 60px);
  }
}

@include amp-exclude {

  .c-nav {
    margin: 0 auto;
    width: 100%;

    @include breakpoint(desktop-lg) {
      max-width: 1540px !important;
    }
  }
}

.c-logo {
  min-height: 80px;

  @include breakpoint(desktop-sm) {
    min-height: 115px;
  }
}

.gallery-caption-container {
  margin: 5px auto 35px;
  max-width: 820px;

  @include between-breakpoints(tablet,desktop-sm) {
    width: calc(100% - 140px);
  }

  @include breakpoint(desktop-sm) {
    width: 100%;
  }

  .gallery-caption,
  .gallery-credit {
    width: inherit;
    margin: 0 auto;
  }
}

.c-subscribe {
  height: 50px;
  display: none;

  @include breakpoint(desktop-sm) {
    display: block;
  }
}

.c-fullWidthAd {
  width: 100%;
  min-height: 200px;
}

.c-label-wrapper {
  text-align: left;

  &:empty {
    display: none;
  }
}

@include amp-only {

  .c-label-wrapper {

    .section-label {
      width: 100%;
    }
  }
}

.c-articlePadding {
  padding: 0 $min-margin;

  @include breakpoint(desktop-sm) {
    padding: 0;
  }
}

.c-clear-both:empty {
  display: none;
}

.c-articleMetaContainer {
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.c-articleBadge:not(:empty) {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  height: auto;

  @include breakpoint(tablet) {
    width: 130px;
  }

  .c-contributorBadge {
    height: 35px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  ~ .c-articleMetadata {
    margin-left: 15px;
    padding-left: 12px;
    border-left: 1px solid #cdcdcd;
    min-height: 100%;
  }
}

.article-byline {
  @include between-breakpoints(desktop-sm, desktop-lg) {
    margin: 0 auto 7px;
  }

  .byline {
    text-align: left;
  }
}

.c-articleContent {
  @include breakpoint(desktop-sm) {
    max-width: 820px;
    margin: 0 auto;
  }

  .c-section {
    padding: 0;
  }

  .b-margin-bottom-d7-m7 {
    @include between-breakpoints(desktop-sm, desktop-lg) {
      margin: 0 auto 7px;

      .article-timestamp {
        margin-left: 0;
      }
    }
  }

  .border-top {
    display: none;
  }

  .arc_ad[class*="MP02"],
  .arc_ad[class*="MP03"] {
    @include between-breakpoints(mobile, desktop-sm) {
      padding-top: 20px;
    }
  }

  &.b-contentMaxWidth {
    padding-top: 0;
  }

  .c-customHTML {
    clear: left;

    .recipe_container {
      border: 1px solid #ccc;
      padding: 10px 15px;
      display: flex;
      flex-wrap: wrap;

      .recipe_title {
        @include text-styles(1.5rem, 1.625, "Gordita-Bold");

        padding-bottom: 12px;
        margin-bottom: 24px;
        color: #3299ad;
        border-bottom: 2px solid #3299ad;
        flex: 0 0 100%;
      }

      .recipe_list {
        border-top: 0;
        width: 250px;
        font-size: .9375rem;
        color: #6c6c6c;
        flex: 0 0 250px;
        line-height: 1.25;

        ul {
          margin: 0 0 0 15px;
        }

        li {
          margin: 0 0 14px;
        }
      }

      .recipe_directions {
        padding-left: 15px;
        flex: 1;
        font-size: .9375rem;
        line-height: 1.25;

        li {
          margin-bottom: 8px;
          list-style: decimal;
        }
      }

      @include between-breakpoints(mobile, tablet) {

        .recipe_list {
          flex: 0 0 100%;
        }

        .recipe_directions {
          flex: 0 0 100%;
          margin-top: 25px;
          padding: 15px;
        }
      }
    }
  }

  .nutrition {
    @include text-styles(.9375rem, 1.15, "Gordita");

    .nutrition_title {
      @include text-styles(1.375rem, 1, "Gordita-Bold");

      margin: 12px 0 8px;
    }

    .serving {
      font-family: "Gordita-Bold";
    }
  }

  .c-hp01-mp01,
  .c-hp05-mp05 {

    .arcad:not(:empty) {
      padding: 1.125em 0 0;
    }
  }

  .c-hp01-mp01 {
    @include breakpoint(tablet) {
      text-align: center;
      margin: 0 -20px;
    }

    @include breakpoint(desktop-sm) {
      margin: 0 -75px;
      max-width: 970px;
    }
  }

  @include breakpoint(desktop-sm) {

    // ensure it only applies to non-teads (i.e. interscroller) since they both share the same placeholder div

    .story-interscroller__placeholder > div:not([class^="teads"]) {
      clear: both;
    }
  }

  @include breakpoint(tablet) {

    .MP01:empty {
      display: none;
    }
  }

  .RP01.c-rightRail,
  .RP09.c-rightRail {
    @include between-breakpoints(mobile, desktop-sm) {
      display: none;
    }
  }
}

/* APD-1248: all content_element styles are globally here in order to prevent mulitple instance of the same stylesheet */
/* stylelint-disable */
.blockquote {
  border-left: 10px solid #2e81b7;
  padding-left: 20px;

  .story-text,
  li {
    @include text-styles(1em, 1.6, "Gordita-Bold");

    font-weight: 800;

    @include breakpoint(desktop-sm) {
      @include text-styles(1.25em, 2, "Gordita-Bold");
    }
  }

  .blockquote-citation {
    @include text-styles(.8em, .8, "Gordita");

    color: #313132;
    font-style: 400;

    @include breakpoint(desktop-sm) {
      @include text-styles(1em, 1, "Gordita");
    }
  }
}

hr.divider {
  height: 0;
  border: 0;
  border-top: solid 1px #cdcdcd;
}

.after-divider p.story-text,
hr.divider ~ p.story-text {
  font-size: .75rem;
  line-height: 1.75rem;
  color: #707174;
}

.h1-heading {
  color: #313132;
  font-weight: 700;

  @include text-styles(1.5rem, 1.5, "Gordita");

  @include breakpoint(desktop-sm) {
    @include text-styles(1.75rem, 1.67, "Gordita");
  }
}

.h2-heading {
  color: #313132;
  font-weight: 700;

  @include text-styles(1.25rem, 1.5, "Gordita");

  @include breakpoint(desktop-sm) {
    @include text-styles(1.5rem, 1.67, "Gordita");
  }
}

.h3-heading {
  color: #313132;
  font-weight: 700;

  @include text-styles(1.125rem, 1.56, "Gordita");

  @include breakpoint(desktop-sm) {
    @include text-styles(1.3125rem, 1.67, "Gordita");
  }
}

.h4-heading {
  color: #313132;
  font-weight: 700;

  @include text-styles(1rem, 1.625, "Gordita");

  @include breakpoint(desktop-sm) {
    @include text-styles(1.1875rem, 1.58, "Gordita");
  }
}

.borders {
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  padding: 1.2em 0 1.2em 1.0625em;
  display: flex;

  @include amp-exclude {
    height: auto !important;
  }

  @include breakpoint(tablet) {
    padding-left: 1.4em;
  }
}

.prefix {
  display: flex;
  align-items: center;
  width: auto;
  -webkit-text-stroke: .3px #000;
  color: #313132;
  word-break: keep-all;

  @include text-styles(1.75rem, 1, "Average");

  @include breakpoint(tablet) {
    @include text-styles(2.5rem, 1, "Average");
  }
}

.interstitial {
  padding: 0 1.1em;
  text-align: left;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 .875em 0 1.0625em;
  letter-spacing: normal;
  color: #000;

  @include text-styles(1rem, 1.75, "Gordita");

  @include breakpoint(tablet) {
    @include text-styles(1.25rem, 1.75, "Gordita");

    padding: 0 1.5em 0 2.3125em;
  }
}

article .c-section a.link {
  color: #000;
}

.list {
  @include text-styles(1rem, 2.25, "Gordita");

  ul,
  ol,
  li {
    @include text-styles(1rem, 2.25, "Gordita");

    padding-left: .3em;
    list-style: none;
  }

  ul {
    list-style-type: none;
    margin-left: 2.3em;
  }

  ul li:before {
    content: "-";
    margin-right: .3em;
    font-weight: 600;
    margin-left: -.7em;
  }

  ol {
    list-style: none;
    margin-left: 2.3em;
    counter-reset: item;
  }

  ol li {
    counter-increment: item;
  }

  ol li:before {
    content: counter(item) ". ";
    font-weight: 600;
    margin-left: -1.2em;
  }
}

.story-text,
.c-customHTML {
  width: 100%;
  color: #313132;

  a {
    color: $blue-text;
    padding-bottom: 1px;

    &:hover {
      border-bottom: 1px solid $blue-text;
    }
  }

  @include text-styles(1rem, 1.625, "Gordita");

  @include breakpoint(desktop-sm) {
    @include text-styles(1rem, 1.625, "Gordita");
  }
}

.story-text {
  margin-bottom: 25px;
}

.c-articleContent b {
  @include text-styles(1rem, 1.625, "Gordita-Bold");

  font-weight: 400;
}

.c-articleContent i {
  @include text-styles(1rem, 1.625, "Gordita")
}

@include amp-exclude {

  body .c-articleContent .c-articleBodyContainer {
    height: auto !important;

    &.is-safari .c-section {

      &:not(.full-width) {

        .Mg2-connext[data-display-type].paywall[data-display-type="inline"] {
          @include breakpoint(desktop-sm) {
            width: calc(100% + 330px);
          }
        }
      }
    }
  }
}
