@import "../base/mixins";
@import "../base/breakpoints";

.c-copyright {
  background-color: #f1f1f2;
  color: #545454;

  @include amp-only {
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
    background-color: #fff;
    margin-bottom: 1.13rem;
  }

  @include breakpoint(desktop-sm) {
    display: flex;
    flex-direction: row;
  }

  .copyright {
    padding: 20px;
    text-align: left;
    margin: 0 auto;

    .rights,
    .privacy {
      padding-bottom: 28px;
    }
    
    .learn-more {
      padding-bottom: 0;
    }

    a {
      color: #2e81b7;
      cursor: pointer;
    }

    @include amp-only {
      text-align: left;
      padding: 17px 19px;
    }

    @include text-styles(.75rem, 1.75, "Gordita");

    @include breakpoint(desktop-sm) {
      padding: 25px 30px 20px;
      max-width: 1600px;
    }
  }
}
