@import "../base/mixins";
@import "../base/breakpoints";

@include amp-exclude {

  .hidden-mobile {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
    }
  }

  .c-headerNav.b-sectionHome-padding {
    @include between-breakpoints(mobile, tablet) {
      padding: 0 0 15px;
      width: auto;
      margin: 0 20px;
    }

    &.stickyActive {
      //this !important is to override an inline style created by Thirdparty tease
      box-shadow: 4px 4px 6px 0 rgba(132, 132, 132, .22) !important;  /* stylelint-disable-line declaration-no-important */

      @include between-breakpoints(mobile, tablet) {
        padding: 0 20px;
        width: 100%;
        margin: 0;
      }
    }
  }

  .c-headerNav {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #cdcdcd;
    box-sizing: border-box;

    @include breakpoint(tablet) {
      border-bottom: none;
      width: 100%;
    }

    @include breakpoint(desktop-sm) {
      display: flex;
      flex-direction: column;
    }

    &.above-shade {
      position: relative;
      background: #fff;

      .Mg2-connext {
        display: none !important; /* stylelint-disable-line declaration-no-important */
      }
    }

    &.stickyActive {
      padding-bottom: 0;
      position: fixed;
      top: 0;
      left: 0;
      opacity: .98;
      z-index: 4001;
      width: 100%;
      height: 60px;
      background-color: #fff;
      max-width: 100%;
      box-shadow: 4px 4px 6px 0 rgba(132, 132, 132, .22);

      @include breakpoint(tablet) {
        box-sizing: border-box;
        height: 70px;
      }

      @include breakpoint(desktop-sm) {
        height: 60px;
      }

      .Mg2-connext[data-display-type] {
        display: none;
      }
    }

    .c-topNavItems {
      display: flex;
      width: 100%;
      order: 2;

      @include breakpoint(tablet) {
        order: 1;
        padding-bottom: 10px;
      }

      @include breakpoint(desktop-sm) {
        padding-bottom: 15px;
      }

      @include breakpoint(desktop-lg) {
        padding-bottom: 20px;
      }
    }

    .c-logoAndLinks {
      display: flex;
      width: 100%;
      flex-direction: row;
      z-index: 1;

      @include breakpoint(tablet) {
        flex-direction: column;
      }

      .stickyNav-homepage {
        display: flex;
        align-items: center;
      }

      .pulse {
        @include breakpoint(desktop-sm) {
          animation: .75s pulse;
          animation-delay: 2s;
          animation-iteration-count: 5;
          animation-timing-function: linear;
        }
      }
    }

    nav {
      z-index: 4001;
      display: none;

      &.mobile-nav-activated {
        transform: translateX(1100px);
        display: flex;

        .nav-menu-toggle {
          left: 15px;
        }
      }

      a {
        color: #fff;
        text-decoration: none;

        @include breakpoint(desktop-sm) {
          color: #2e81b7;
        }
      }

      &.is-hidden {
        display: none;
      }
    }

    .nav-mobile-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 29px;

      &.ajc {

        a {
          height: 37px;

          @include breakpoint(tablet) {
            height: 46px;
          }

          @include breakpoint(desktop-sm) {
            height: 54px;
          }

          @include breakpoint(desktop-lg) {
            height: 71px;
          }
        }
      }

      &.not-visible {
        display: none;
      }
    }

    .nav-logo {
      padding: 15px 0 0;
      flex-direction: row;
      position: relative;
      align-items: center;

      @include breakpoint(tablet) {
        padding: 10px 0 0;
        z-index: 3;
      }

      @include breakpoint(desktop-sm) {
        padding-top: 15px;
      }

      @include breakpoint(desktop-lg) {
        padding: 20px 0 0;
      }

      &.not-visible {
        display: none;
      }

      .isSticky {
        padding: 0;

        img {
          height: 27px;
          width: 27px;
        }
      }
    }

    .logo {
      max-width: 320px;
      max-height: 29px;
      height: 100%;
      width: 100%;

      @include breakpoint(desktop-sm) {
        padding-left: 0;
        max-height: 8vw;
        box-sizing: border-box;
      }

      &.ajc {
        max-height: 37px;

        @include breakpoint(tablet) {
          max-height: 46px;
        }

        @include breakpoint(desktop-sm) {
          max-height: 54px;
          max-width: 256px;
        }

        @include breakpoint(desktop-lg) {
          max-height: 71px;
          height: 71px;
          max-width: 346px;
          width: 346px;
        }
      }

      &.dayton {
        @include breakpoint(desktop-sm) {
          max-height: 5.8vw;
          min-height: 80px;
          width: 100%;
        }
      }

      &.dayton-daily-news {
        @include breakpoint(desktop-sm) {
          width: 400px;
          max-width: 400px;
          min-width: 300px;
        }
      }

      &.journal-news {
        @include breakpoint(desktop-sm) {
          min-width: 300px;
        }
      }

      &.springfield-news-sun {
        @include breakpoint(desktop-sm) {
          width: 400px;
          max-width: 400px;
          min-width: 300px;
        }
      }
    }

    .nav-menu-logo {
      width: 100%;
      max-width: 80px;
      margin-top: -2px;

      &.dayton {
        max-width: 230px;
        margin-top: -5px;
      }

      &.dayton-daily-news {
        max-width: 313px;
      }

      &.journal-news {
        max-width: 250px;
        margin-top: -5px;
      }

      &.springfield-news-sun {
        max-width: 313px;
        margin-top: 4px;
      }
    }

    .nav-sections {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .nav-item-link {
      display: flex;

      &.bold {
        font-weight: 700;
      }
    }

    .nav-items {
      padding-left: 50px;
      padding-bottom: 2rem;
      position: relative;

      @include breakpoint(desktop-sm) {
        display: flex;
        flex: 0 0 auto;
        padding: 10px 1.3vw 0 0;
      }
    }

    .nav-itemBottomBorder {
      border-bottom: none;

      @include breakpoint(desktop-sm) {
        border-bottom: solid 1px #cdcdcd;
      }
    }

    .nav-itemText {
      @include text-styles(1.125rem, 1.44, "Gordita-Medium");

      text-transform: capitalize;
      align-items: center;
      -webkit-font-smoothing: antialiased;

      @include breakpoint(tablet) {
        color: #212126;

        @include text-styles(.75rem, 29px, "Gordita");
      }

      @include breakpoint(desktop-sm) {
        @include text-styles(1rem, 57px, "Gordita");
      }

      &.login-text {
        color: #212126;
      }
    }

    .nav-separator {
      display: none;

      @include breakpoint(desktop-sm) {
        display: flex;
        align-items: center;
      }

      span {
        background-color: #2e81b7;
        width: 2px;
        height: 15px;

        @include breakpoint(desktop-nav) {
          height: 20px;
        }
      }
    }

    .nav-ePaper {
      text-transform: none;
      cursor: pointer;

      @include breakpoint(desktop-sm) {
        padding-right: 0;
      }
    }

    .nav-search {
      height: 3.3rem;
      border-radius: 6px;
      background-color: #fff;
      box-shadow:
        0 1px 4px 0 rgba(0, 0, 0, .24),
        0 1px 4px 0 rgba(0, 0, 0, .24);
      margin-bottom: 2rem;
      order: -1;
    }

    .search-form {
      display: flex;
      height: 3.25rem;
      flex-direction: row-reverse;
      align-items: center;

      @include breakpoint(desktop-sm) {
        height: 28px;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
      }
    }

    .search-input {
      width: 90%;
      border-radius: 6px;
      border: none;
      outline: none;

      @include text-styles(1rem, 1, "Gordita");
    }

    .c-search-icon {
      border: none;
      background: transparent;
      height: 14px;

      @include breakpoint(desktop-sm) {
        height: 21px;
      }

      .search-icon {
        padding: 0 .5rem;
      }
    }

    .c-headerIcon {
      display: none;
      border: none;

      @include breakpoint(tablet) {
        height: 14px;
        display: flex;
      }

      @include breakpoint(desktop-sm) {
        height: 21px;
        cursor: pointer;
      }

      .search-icon {
        height: 100%;

        &:hover {

          path {
            fill: #2e81b7;
          }
        }
      }
    }

    .c-weather {
      display: none;

      @include breakpoint(tablet) {
        display: flex;
        min-width: 65px;
      }

      @include breakpoint(desktop-sm) {
        min-width: 86px;
      }

      &:hover {

        a {
          color: #2e81b7 !important; /* stylelint-disable-line declaration-no-important */
        }

        :before {
          color: #2e81b7;
        }
      }
    }

    .nav-weather {
      display: none;

      @include breakpoint(tablet) {
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-decoration: none;

        a {
          color: #212126;
        }
      }
    }

    .weather-icon {
      cursor: pointer;

      &:before {
        font-family: "weather-icons";
        font-size: 1.875rem;
        top: 0;
        padding: 0;
        content: " ";
        color: #212126;
      }

      &.weather-1:before {
        content: "\e901";
      }

      &.weather-2:before,
      &.weather-3:before,
      &.weather-4:before {
        content: "\e910";
      }

      &.weather-5:before {
        content: "\e919";
      }

      &.weather-6:before,
      &.weather-7:before,
      &.weather-8:before,
      &.weather-13:before {
        content: "\e902";
      }

      &.weather-11:before {
        content: "\e918";
      }

      &.weather-12:before,
      &.weather-18:before {
        content: "\e908";
      }

      &.weather-14:before {
        content: "\e914";
      }

      &.weather-15:before,
      &.weather-16:before {
        content: "\e917";
      }

      &.weather-17:before {
        content: "\e915";
      }

      &.weather-18:before {
        content: "\e908";
      }

      &.weather-19:before,
      &.weather-25:before {
        content: "\e906";
      }

      &.weather-20:before,
      &.weather-21:before,
      &.weather-23:before {
        content: "\e913";
      }

      &.weather-22:before {
        content: "\e909";
      }

      &.weather-24:before {
        content: "\e952";
      }

      &.weather-26:before {
        content: "\e903";
      }

      &.weather-29:before {
        content: "\e904";
      }

      &.weather-30:before {
        content: "\e963";
      }

      &.weather-31:before {
        content: "\e962";
      }

      &.weather-32:before {
        content: "\e939";
      }

      &.weather-33:before {
        content: "\e921";
      }

      &.weather-34:before {
        content: "\e930";
      }

      &.weather-35:before,
      &.weather-36:before,
      &.weather-38:before {
        content: "\e922";
      }

      &.weather-37:before {
        content: "\e939";
      }

      &.weather-39:before,
      &.weather-40:before {
        content: "\e925";
      }

      &.weather-41:before,
      &.weather-42:before {
        content: "\e935";
      }

      &.weather-43:before {
        content: "\e926";
      }

      &.weather-44:before {
        content: "\e929";
      }
    }

    .weather-text {
      padding-left: 4px;
      cursor: pointer;
    }

    .nav-weather-widget {
      margin-bottom: 60px;

      @include breakpoint(desktop-sm) {
        display: none;
      }
    }

    .nav-social {
      width: 160px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;
    }

    .nav-mobile-footer {
      color: #fff;
      text-transform: capitalize;

      @include text-styles(.875rem, 1, "Gordita");

      @include breakpoint(desktop-sm) {
        display: none;
      }
    }

    .nav-copyright-links {
      flex-wrap: wrap;
      line-height: 1.8;
      margin-bottom: 10px;

      a {
        display: flex;
        padding: 0 5px;

        &:not(:last-child) {

          &:after {
            content: "|";
            display: block;
            padding-left: 10px;
          }
        }
      }
    }

    .nav-copyright {
      margin-bottom: 20px;
    }

    .nav-mobile-login {
      @include between-breakpoints(mobile, desktop-sm) {

        .nav-login {
          width: 100%;
          display: block;
          padding-left: 0;
        }
      }
    }

    .c-login {
      display: flex;
      align-items: center;

      :first-child {
        display: flex;
      }

      img {
        height: 26px;

        @include breakpoint(desktop-sm) {
          height: 36px;
        }
      }

      .login-text {
        @include between-breakpoints(mobile, tablet) {
          display: none;
        }
      }

      &.isSticky {

        .subNav {
          top: 31px;
        }
      }

      &:hover {
        @include breakpoint(tablet) {
          cursor: pointer;
        }

        @include breakpoint(desktop-sm) {

          &:not(.nav-login) {
            cursor: none;
          }
        }

        .section {
          @include breakpoint(tablet) {
            opacity: 1;
          }

          .subNav {
            @include breakpoint(tablet) {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      @include breakpoint(tablet) {
        display: flex;

        a {
          color: #212126;
          width: max-content;
        }

        .section-item {
          background-color: #ededed;
          border-top: solid 1px rgba(255, 255, 255, .47);
          border-right: solid 1px rgba(255, 255, 255, .47);
          border-left: solid 1px rgba(255, 255, 255, .47);
          padding: 5px 15px;
          z-index: 4;
        }

        .login-text-container {
          display: block !important; /* stylelint-disable-line declaration-no-important */
        }

        .login-text {
          cursor: pointer;
        }

        .section,
        .section-item {
          box-sizing: content-box;
        }

        .section .subNav {
          right: 0;
          border-radius: 6px 0 6px 6px;
          top: 36px;
          min-width: 170px;
          width: 240px;
          box-sizing: content-box;
          padding: 15px 15px 5px;
          background-color: #ededed;

          @include breakpoint(desktop-sm) {
            top: 54px;
          }
        }
      }

      .btn-profile {
        height: 40px;
        width: 100%;
        padding: 0;
        border-radius: 6px;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        cursor: pointer;

        @include breakpoint(tablet) {
          background-color: #3299ad;
          border: none;
          margin-bottom: 10px;
        }

        &:hover {
          background-color: #313132;
        }

        @include text-styles(1rem, 1, "Gordita-Bold");
      }

      /*
        various user state default 'hidden' display conditions:
        when logged-in: anonymous text
        when logged-out: auth text
        when not-logged-in: auth text
        when not-logged-out: anonymous text
        when authenticated: activation link
      */

      body.is-loggedIn & .is-profileAnon,
      body.is-loggedOut & .is-profileAuthed,
      body.is-authenticated & .MG2activation,
      body.is-loggedIn & .nav-mobile-login .login-text.is-profileAnon,
      body.is-loggedOut & .nav-mobile-login .login-text.is-profileAuthed,
      body:not(.is-loggedIn) & .is-profileAuthed,
      body:not(.is-loggedOut) & .is-profileAnon,
      body:not(.is-loggedIn) & .nav-mobile-login .is-profileAuthed,
      body:not(.is-loggedOut) & .nav-mobile-login .is-profileAnon {
        display: none;
      }
    }

    .login-text {
      padding-left: 2px;
      cursor: pointer;
      display: flex;
      align-items: center;
      vertical-align: middle;
      white-space: nowrap;

      @include text-styles(.75rem, 1, "Gordita-Medium");

      @include breakpoint(desktop-sm) {
        padding-left: 6px;

        @include text-styles(.875rem, 1, "Gordita-Medium");
      }
    }

    .connext-subscribe,
    .Mg2-connext[data-display-type] {
      max-height: 52px;
      overflow: hidden;
      width: 100%;
      border: 0;
      padding: 0;
      margin: 0;

      @include breakpoint(desktop-sm) {
        max-height: 58px;
      }

      &.not-visible {
        display: none;
      }
    }

    .section {
      display: none;
      cursor: default;
      border-radius: 6px;
      margin-top: 33px;
      margin-left: 25px;

      &.isVisible {
        display: flex;

        @include breakpoint(tablet) {
          opacity: 1;
        }
      }

      @include breakpoint(tablet) {
        display: flex;
        opacity: 0;
        transition: opacity .15s;
        margin-top: -1px;
        margin-left: -1rem;
        position: absolute;
        box-shadow: -6px 5px 8px 0 rgba(60, 60, 60, .11);
      }
    }

    .section-item {
      display: none;
      border-radius: 6px 6px 0 0;
      z-index: 4;

      @include breakpoint(desktop-sm) {
        height: 44px;
        display: flex;
        align-items: center;
        padding: 0 .45rem;
        background-color: #fff;
      }
    }

    .subNav {
      border-radius: 0 6px 6px;
      box-shadow: none;
      align-items: center;
      visibility: hidden;

      &.isVisible {
        visibility: visible;
        opacity: 1;
      }

      &.expand-left {
        right: 0;
        border-radius: 6px 0 6px 6px;
      }

      @include breakpoint(tablet) {
        overflow: hidden;
        visibility: hidden;
        min-width: 120px;
        transition: opacity .15s;
        opacity: 0;
        padding: 1.125rem 0 .3125rem 1.5625rem;
        position: absolute;
        z-index: 3;
        top: 44px;
        background-color: #fff;
        box-shadow: -6px 5px 8px 0 rgba(60, 60, 60, .11);
        border: solid 1px rgba(255, 255, 255, .47);
      }
    }

    .flyout-item {
      @include text-styles(1rem, 2, "Gordita");

      @include breakpoint(tablet) {
        white-space: nowrap;
        writing-mode: horizontal-tb;
        margin-right: 3vw;
        height: 1.875rem;

        @include text-styles(.875rem, 1, "Gordita");
      }

      a {

        &:hover {
          color: #2e81b7;
        }
      }
    }

    .subNav-flyout {
      list-style-type: none;
    }

    .nav-wrapper {
      background: transparent;
      content: " ";
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10001;
      background-color: #808080;
      opacity: .55;
      display: none;

      &.isVisible {
        display: flex;
      }
    }

    .login-menu {
      @include breakpoint(tablet) {
        background-color: #ededed;

        .subNav-flyout {
          width: 100%;
          min-width: auto;
          align-content: center;
          display: flex;
          flex-flow: row wrap;
          list-style-type: none;

          .flyout-item {
            width: 45%;
            text-align: left;
            margin-right: 10px;
            margin-bottom: 10px;
            height: auto;
            min-width: auto;
            line-height: 1.3;
            white-space: normal;

            a {
              max-width: 100%;
            }
          }

          &.logged-in {

            .flyout-item {
              width: 50%;
              margin-right: 0;
            }
          }
        }
      }
    }

    .fadeInOut.section {
      @include breakpoint(tablet) {
        animation: 10s menuFadeInOut;

        .subNav {
          animation: 10s menuFadeInOut;
        }
      }
    }

    .c-topNavLinks {
      order: 1;
      display: flex;
      box-sizing: border-box;
      height: fit-content;
      align-items: center;

      .nav-itemText {
        white-space: nowrap;

        &:hover,
        &.active {
          color: #2e81b7;
        }

        &.sm-text {
          @include breakpoint(tablet) {
            font-size: .65rem;
          }

          @include breakpoint(desktop-sm) {
            font-size: .875rem;
          }

          @include breakpoint(desktop-nav) {
            font-size: 1rem;
          }
        }
      }

      @include breakpoint(tablet) {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        order: 2;
        height: 29px;
        border-bottom: 1px solid #cdcdcd;
        border-top: 1px solid #cdcdcd;
        padding: 6px 0;
      }

      @include breakpoint(desktop-sm) {
        height: 57px;
        padding: 20px 0;
      }

      ul {
        display: none;

        @include breakpoint(tablet) {
          display: flex;
          justify-content: center;
          height: 29px;
          width: 100%;
          list-style-type: none;
          overflow: hidden;
          flex-wrap: wrap;

          :not(:last-child) {
            margin-right: 10px;
          }
        }

        @include breakpoint(desktop-sm) {
          height: 57px;

          :not(:last-child) {
            margin-right: 20px;
          }
        }

        @include breakpoint(desktop-lg) {

          :not(:last-child) {
            margin-right: 30px;
          }
        }

        li {
          display: flex;
          align-items: center;
        }
      }
    }

    .c-stickyLogin {

      .c-topNavLinks {
        border: none;
        width: 100%;
        order: initial;

        &.content {
          width: auto;

          .sticky-logo-homepage {
            display: none;
          }

          .stickyNav-homepage {
            display: none;
          }
        }
      }

      .c-headerIcon {
        display: none;
      }

      .nav-itemText {
        @include breakpoint(tablet) {
          font-size: .69rem;
        }

        @include breakpoint(desktop-sm) {
          font-size: .875rem;
        }

        @include breakpoint(desktop-lg) {
          font-size: 1rem;
        }
      }

      .login-menu {

        img {
          @include between-breakpoints(tablet, desktop-sm) {
            height: 26px;
          }
        }
      }
    }

    .Mg2-connext.x-editable-text.Mg2-custom-tmpl.borderRadiusCustom.fullWidht {
      padding-top: 15px;

      @include breakpoint(tablet) {
        padding-top: 10px;
      }

      @include breakpoint(desktop-sm) {
        padding-top: 15px;
      }

      #inlineSubscribe .wrapper {
        margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }

  .nav-menu-toggle {
    z-index: 2;
    min-width: 20px;
    height: 20px;
    cursor: pointer;

    @include between-breakpoints(tablet, desktop-sm) {
      min-width: 14px;
      height: 14px;
    }

    img {
      @include between-breakpoints(tablet, desktop-sm) {
        width: 14px;
      }
    }
  }

  .sticky-padding {
    width: 100%;
    min-height: 92px;
    display: none;

    @include breakpoint(desktop-sm) {
      min-height: 160px;
    }

    &.is-visible {
      display: flex;
    }
  }

  .nav-login {
    display: flex;

    img {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }

    @include breakpoint(desktop-sm) {
      padding-left: 15px;
      padding-top: 10px;

      img {
        vertical-align: top;
        margin-top: 8.5px;
      }
    }

    &.isSticky {
      padding-bottom: .313em;
    }
  }

  .login-separator {
    height: 0;
    opacity: .5;
    box-shadow: 0 1px 1px 0 #fff;
    border: solid 1px #c5d5e2;
    margin-bottom: 10px;
  }

  // Sticky Nav styling

  .stickyNav {
    height: 100%;
    border: none;
    width: 100%;
    display: none;
    align-items: center;

    &.is-visible {
      display: flex;
    }

    &.not-visible {
      display: none;
    }

    .c-topNavLinks {
      order: initial;
    }
  }

  .sticky-logo-homepage {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {

      &.ajc {
        height: 29px;
      }

      &.dayton {
        width: 210px;
      }

      &.dayton-daily-news {
        width: 210px;
      }

      &.journal-news {
        width: 100%;
        max-width: 151px;
      }

      &.springfield-news-sun {
        width: 240px;
      }
    }
  }

  .c-stickyLogin {
    align-items: center;

    .nav-items {
      padding-top: 0;
    }

    .nav-login {
      padding-bottom: 0;
    }

    .stickyNav-social {
      margin-bottom: 10px;
    }

    .sticky-logo-homepage {
      display: flex;

      &.hidden {
        display: none;
      }

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  .stickyNav-social {
    display: flex;
    align-items: baseline;

    &.hidden {
      display: none;

      @include breakpoint(desktop-sm) {
        display: none;
      }
    }
  }

  .stickyNav-homepage {
    display: none;
    width: 100%;

    @include breakpoint(tablet) {
      display: flex;
    }

    a {
      color: #fff;
      text-decoration: none;

      @include breakpoint(desktop-sm) {
        color: #2e81b7;
      }
    }
  }

  .c-stickyNav-list {
    position: relative;
    display: flex;
    align-items: center;
    width: min-content;
    z-index: 11;
    margin-left: auto;

    @include breakpoint(tablet) {
      margin: 0 auto;
    }

    @include breakpoint(desktop-sm) {
      margin-top: 0;
    }

    .stickyNav-social {
      margin-top: 10px;

      .stickyNav-item {
        margin-right: 22px;

        @include breakpoint(tablet) {
          margin-right: 27px;
        }

        @include breakpoint(desktop-sm) {
          margin-right: 34px;
        }

        &:last-child {
          margin-right: 0;
        }

        svg path {
          transition: fill .4s;
        }

        &.fb-icon svg {
          width: 11px;
          height: 19px;

          @include breakpoint(tablet) {
            width: 14px;
            height: 25px;
          }

          @include breakpoint(desktop-sm) {
            width: 18px;
            height: 30px;
          }

          &:hover path {
            fill: #1877f2;
          }
        }

        &.twitter-icon svg {
          width: 23px;
          height: 19px;

          @include breakpoint(tablet) {
            width: 29px;
            height: 25px;
          }

          @include breakpoint(desktop-sm) {
            width: 36px;
            height: 30px;
          }

          &:hover path {
            fill: #1da1f2;
          }
        }

        &.pin-icon svg {
          width: 16px;
          height: 19px;

          @include breakpoint(tablet) {
            width: 20px;
            height: 25px;
          }

          @include breakpoint(desktop-sm) {
            width: 25px;
            height: 30px;
          }

          &:hover path {
            fill: #bd081c;
          }
        }

        &.reddit-icon svg {
          width: 20px;
          height: 19px;

          @include breakpoint(tablet) {
            width: 26px;
            height: 25px;
          }

          @include breakpoint(desktop-sm) {
            width: 32px;
            height: 30px;
          }

          &:hover path {
            fill: #ff4500;
          }
        }

        &.mail-icon svg {
          width: 27px;
          height: 19px;

          @include breakpoint(tablet) {
            width: 35px;
            height: 25px;
          }

          @include breakpoint(desktop-sm) {
            width: 43px;
            height: 30px;
          }

          &:hover path {
            fill: #3299ad;
          }
        }

        &.comment-icon {

          span {
            transition: color .4s;
          }

          &:hover {

            span {
              color: #3299ad;
            }

            svg path {
              fill: #3299ad;
            }
          }

          svg {
            width: 23px;
            height: 19px;

            @include breakpoint(tablet) {
              width: 29px;
              height: 25px;
            }

            @include breakpoint(desktop-sm) {
              width: 36px;
              height: 30px;
            }
          }
        }
      }
    }

    .stickyNav-item {
      list-style: none;
      margin: 0 6px;

      @include breakpoint(desktop-sm) {
        margin-right: 15px;
      }

      img {

        &.ajc {
          width: 75px;
          height: 56px;
        }

        &.dayton {
          width: 156px;
          height: 35px;
        }

        &.dayton-daily-news {
          width: 210px;
          height: 30px;
        }

        &.journal-news {
          height: 30px;
          width: 151px;
        }

        &.springfield-news-sun {
          width: 200px;
          height: 30px;
        }
      }

      a {
        margin: 0;
        position: relative;
        box-shadow: none;
      }

      [class*="fb-comments-count"] {
        @include text-styles(.625rem, 1, "Gordita-Bold");

        position: absolute;
        font-weight: 800;
        color: #9b9b9b;
        margin-top: 3px;
        width: 100%;
        left: 0;
        text-align: center;

        @include breakpoint(tablet) {
          margin-top: 0;
          top: -5px;
        }

        @include breakpoint(desktop-sm) {
          top: -7px;
        }
      }
    }

    &.dropdown-stickyNav {
      @media (max-width: 1023px) {
        flex-direction: column;
        position: absolute;
        right: -50px;
        top: -10px;
        overflow: hidden;
        height: 45px;

        .stickyNav-item {
          padding-bottom: .313em;
        }

        .stickyNav-item:first-child {
          padding-top: .313em;
        }

        &.is-open {
          height: auto;
          border-radius: 6px;
          box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
          background: #fff;

          .arrow-icon {
            transform: rotate(180deg);
          }
        }

        .arrow-icon {
          display: block;
          padding-bottom: .313em;
        }
      }
    }

    .nav-menu-toggle {
      position: relative;
      margin-right: 5px;
    }
  }

  .sticky-home {
    display: block;

    &.isActive {
      display: flex;
    }
  }

  @keyframes menuFadeInOut {

    0% {
      opacity: 0;
      visibility: visible;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes pulse {

    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.17);
    }

    100% {
      transform: scale(1);
    }
  }
  // Redesigned Hamburger Menu

  .c-headerNav .mobile-nav-activated {
    display: flex;
    flex-direction: column;
    padding: 42px 20px 30px;
    background-color: #212126;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .13);
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 10002;
    left: -1100px;
    transform: translateX(0);
    transition: transform .5s ease;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    opacity: 1;
    overflow-x: hidden;

    @include breakpoint(tablet) {
      padding: 42px 28px 30px;
    }

    @include breakpoint(desktop-sm) {
      max-width: 416px;
      padding: 114px 28px 30px;
    }

    &.mobile-nav-deactivated {
      transform: translateX(-1100px);
    }

    .nav-background {
      z-index: -1;

      .ajc-burgerBackgrnd {
        position: absolute;
        max-width: 335px;
        width: 100%;
        top: 100px;
        left: 85px;
        right: unset;

        @include between-breakpoints(mobile-lg, desktop-sm) {
          top: 120px;
          right: 0;
          left: unset;
        }
      }
    }

    .nav-menu-toggle {

      img {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 21px;
        top: 20px;
      }
    }

    .nav-mobile-login {
      display: block !important; /* stylelint-disable-line declaration-no-important */
      order: -1;

      img {
        width: 44px;
        height: 43px;
      }

      .c-login-bmenu {
        display: block;
        width: 100%;

        .login-text-bmenu {
          color: #fff;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          font-weight: 800;
          width: 55px;
          padding: 13px 22px 14px;
          border-radius: 9px;
          margin: 0 0 0 9px;
          border: solid 1px #ececec;

          @include text-styles(.75rem, 1.44, "Gordita");

          @include breakpoint(desktop-sm) {
            cursor: pointer;
          }

          &:focus,
          &:visited,
          &:active,
          &:hover {
            background: #3299ad;
            -webkit-tap-highlight-color: #3299ad;
            border: none;
          }
        }

        .subNav {
          opacity: 1;
          background: none;
          display: block;
          border: 0;
          position: relative;
          visibility: visible;
          top: 0;
          padding: 0;

          .subNav-flyout {
            list-style: none;
            display: flex;
            padding: 16px 0 21px;
            align-content: unset;
            height: auto;
            writing-mode: unset;

            @include between-breakpoints(mobile,tablet) {
              height: auto;
            }

            .flyout-item {
              width: 95%;
              line-height: 1;
              height: auto;
              margin-right: 0;
              white-space: normal;

              a {
                @include text-styles(.875rem, 1, "Gordita");

                color: #fff;
                font-weight: 200;
                text-decoration: none;
              }

              @include breakpoint(tablet) {
                width: 25%;
              }
            }

            @include between-breakpoints(mobile, tablet) {
              columns: 2;
              display: block;

              .flyout-item:nth-child(1),
              .flyout-item:nth-child(3) {
                padding-bottom: 9px;
              }
            }
          }
        }
      }
    }

    .nav-search {
      background: none;
      border: solid 1px #ececec;
      box-shadow: none;
      margin-bottom: 19px;

      .search-form {
        position: relative;
        height: 43px;

        .c-search-icon {
          position: absolute;
          left: 10px;
          top: 10px;
          min-height: 25px;

          .search-icon {
            padding: 0;
          }
        }

        .search-input {
          background: none;
          color: #fff;
          width: 85% !important; /* stylelint-disable-line declaration-no-important */

          @include between-breakpoints(tablet,desktop-sm) {
            width: 90% !important; /* stylelint-disable-line declaration-no-important */
          }
        }
      }
    }

    .nav-row {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      min-height: fit-content;

      .nav-itemText {
        @include text-styles(1.125rem, 1, "Gordita");

        padding: 15px 0 6px;
        color: #fff;
        font-weight: 800;
        border-bottom: 1px solid #4f4f4f;

        @include breakpoint(desktop-sm) {
          padding: 15px 0;
        }

        .section {
          cursor: default;
          width: 100%;
          height: 100%;
          display: block;
          margin: 0;
          opacity: 1;
          border-radius: 0;
          position: relative;
          box-shadow: unset;

          .section-item {
            padding: 0 0 15px;
            background: none;
            border-radius: 0;
            height: auto;
            display: block;

            a {
              @include text-styles(1.125rem, 1, "Gordita");

              display: flex;
              color: #fff;
              font-weight: 800;
            }
          }

          .subNav {
            width: 100%;
            visibility: visible;
            overflow: unset;
            opacity: 1;
            background: none;
            padding: 0;
            box-shadow: none;
            border: none;
            border-radius: 0;
            position: unset;

            .subNav-flyout {
              width: 100%;
              list-style: none;
              display: grid;
              grid-template-columns: 1fr 1fr;
              align-content: unset;
              writing-mode: unset;
              height: auto;

              @include between-breakpoints(tablet, desktop-sm) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
              }

              .flyout-item {
                padding-bottom: 9px;
                max-width: 163px;
                width: 100%;
                height: auto;
                white-space: unset;
                writing-mode: unset;
                margin: 0;
                line-height: 1.44;

                @include breakpoint(desktop-sm) {

                  &:hover {

                    a {
                      color: #9b9b9b !important; /* stylelint-disable-line declaration-no-important */
                    }
                  }
                }

                a {
                  @include text-styles(.875rem, 1, "Gordita");

                  color: #fff !important; /* stylelint-disable-line declaration-no-important */
                  font-weight: 200;
                  white-space: pre-line;
                }
              }
            }
          }
        }

        &:first-child {
          border-top: 1px solid #4f4f4f;

          @include breakpoint(desktop-sm) {
            border-top: none;
          }
        }

        &:last-child {
          padding-bottom: 15px;
        }
      }
    }

    .nav-menu-header {
      min-height: auto;
      margin: 32px 0 31px;
      text-align: center;

      a {
        width: 234px;

        .nav-menu-logo {
          width: 100%;
          max-width: 234px;
        }
      }

      .nav-footer {
        margin: 31px 0 30px;
        text-align: left;

        .nav-footer-links {
          list-style: none;

          .parentLink {
            margin-bottom: 25px;
            border-left: 1px solid #4f4f4f;
            padding-left: 10px;

            a {
              @include text-styles(1rem, 1, "Gordita");

              color: #fff;
              font-weight: 800;
              padding-bottom: 15px;
            }

            .nav-footer-subNav {
              list-style: none;
              margin-top: 10px;

              .nav-footer-subNav-links {

                a {
                  @include text-styles(.875rem, 1.57, "Gordita");

                  font-weight: 200;
                }
              }
            }
          }
        }
      }

      .nav-copyright {
        padding-bottom: 37px;

        .copyright-wrapper {
          background: none;

          .c-copyright {
            background: none;

            .copyright {
              display: block;
              white-space: pre-wrap;
              margin: 0;
              padding: 0;
              max-width: 354px;
              width: 100%;
              color: #fff;

              .learn-more {

                span {
                  color: #fff;
                }
              }
            }

            .rights,
            .privacy {
              padding-bottom: 20px;

              a {
                width: auto;
              }
            }
          }
        }

        .nav-social {
          margin: 0 auto 24px;
          width: fit-content;

          .burger-fb {
            width: auto;
            margin-right: 10px;

            img {
              width: 27px;
              height: 27px;
            }
          }

          .burger-twitter {
            width: auto;
            margin-left: 10px;

            img {
              width: 33px;
              height: 27px;
            }
          }
        }
      }

      @include between-breakpoints(tablet, desktop-sm) {

        a {
          width: 50%;
          max-width: none;
        }

        .nav-footer {
          order: 2;
          width: 50%;
          float: right;
          margin: 10px 0 30px;

          .nav-footer-links {
            display: flex;
            flex-direction: column;
          }
        }

        .nav-copyright {
          width: 50%;
          float: left;

          .copyright {
            max-width: 360px;
          }

          .nav-social {
            margin: 33px auto 24px;
          }

          .learn-more {

            a {
              min-width: 250px;
            }
          }
        }
      }
    }
  }
}
