@import "./../base/breakpoints";
@import "./../base/mixins";

.c-section {
  @include section();
}

.c-sectionHome {
  display: block;
  margin: 0 auto;
  box-sizing: content-box;

  @include between-breakpoints(mobile, tablet) {
    padding: 0 20px;
  }

  @include breakpoint(tablet) {
    display: flex;
  }

  @include between-breakpoints(tablet, desktop-sm) {
    padding: 0 40px;
  }

  @include between-breakpoints(desktop-sm, desktop-xxl) {
    padding: 0 30px;
  }

  .c-contentElements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.full-width {
    @include between-breakpoints(mobile, desktop-sm) {

      .arc_ad.HS02 {
        width: 100vw;

        .arcad.HS02 + div {
          padding-bottom: 20px;
        }
      }
    }

    .c-contentElements {
      @include arc-ad-spacing;

      .arc_ad[class*="HP0"],
      .arc_ad[class*="MP0"] {
        @include arc-ad-full-width;
      }

      .c-HS02 {
        margin-bottom: 20px;
        width: inherit;

        @include breakpoint(tablet) {
          margin-bottom: 40px;
        }

        @include arc-ad-full-width;

        .arc_ad[class*="HS02"] {
          width: inherit;
          max-width: 1540px;
          text-align: center;
          margin: 0 auto;

          > div,
          > iframe {
            margin-left: auto;
            margin-right: auto;
          }

          @include breakpoint(desktop-sm) {
            width: 100%;
          }
        }
      }

      // override for HP02 when interscroller loads in place of a display ad

      .arc_ad[class*="HP0"].ccad-noslotshadow .arcad {
        margin: 0;
        padding: 0;

        &:before {
          display: none;
        }
      }
    }
  }

  &:not(.full-width) {

    .c-contentElements {
      @include breakpoint(desktop-sm) {
        width: calc(100% - 330px);
        padding: 0 $min-margin 0 0;
      }

      .arc_ad[class*="MP"] {
        @include arc-ad-full-width;

        overflow: hidden;
        margin: 0 auto;

        .arcad:not(:empty) {
          padding-top: 30px;
        }
      }
    }

    .c-rightRail {

      .arc_ad + .arc_ad {
        margin-top: 2.26rem;
      }

      @include breakpoint(desktop-sm) {
        width: 300px;
        float: right;
        position: relative;
        right: -15px;

        > :first-child:not(.arc_ad) {
          margin-top: 0;
        }

        .border-top {
          display: none;
        }
      }

      @include breakpoint(desktop-sm) {

        > :first-child {
          margin-bottom: 1.88rem;

          &.arc_ad[class*="RP"] {
            margin-top: 20px;
          }

          .arcad {
            margin-bottom: 1.88rem;
          }
        }
      }
    }

    @include breakpoint(tablet) {
      flex-direction: column;
    }

    @include breakpoint(desktop-sm) {
      flex-direction: initial;
    }
  }

  .app-landing-page {

    .section--intro {

      h1 {
        @include text-styles(2.5rem, 1.25, "Gordita-Bold");

        @include breakpoint(desktop-sm) {
          @include text-styles(3.25rem, 1.25, "Gordita-Bold");
        }

        span {
          @include text-styles(1.25rem, 1.2, "Gordita");

          @include breakpoint(desktop-sm) {
            @include text-styles(2rem, 1.2, "Gordita");
          }
        }
      }
    }

    .section--content {

      h2 {
        @include text-styles(1.5rem, 1.2, "Gordita-Bold");

        @include breakpoint(desktop-sm) {
          @include text-styles(2.1875rem, 1.2 "Gordita-Bold");
        }
      }
    }
  }

  &:first-child {

    .c-rightRail {
      display: none;

      @include breakpoint(desktop-sm) {
        display: block;
      }
    }
  }
}

@include breakpoint(desktop-sm) {

  .c-section:not(.full-width) .c-rightRail {
    margin-right: -330px;
    float: right;
    width: 300px;
  }
}

.c-section,
.c-sectionHome {
  @include breakpoint(tablet) {

    &.halves {

      &.with-rightRail {
        flex-wrap: wrap;

        .c-contentElements {
          width: calc(100% - 330px);
          padding: 0 $min-margin 0 0;

          &:nth-child(2) {
            order: 3;
          }

          &:nth-child(3) {
            order: 2;
          }
        }
      }
    }
  }

  @include breakpoint(desktop-sm) {

    &.halves {
      display: flex;

      .c-contentElements {
        width: calc(50% - 40px);

        &:last-of-type {
          padding-right: 0;
        }
      }

      &.with-rightRail {
        flex-wrap: unset;

        .c-contentElements {
          width: calc((100% - 300px) / 2 - 40px);

          &:first-child {
            @include between-breakpoints(tablet, desktop-sm) {
              height: fit-content;
            }

            @include breakpoint(desktop-sm) {
              padding-right: 30px;
            }
          }

          &:nth-child(2) {
            order: unset;
            width: calc((100% - 300px) / 2 - 30px);
            padding-right: 10px;
          }

          &:nth-child(3) {
            order: unset;
          }
        }
      }
    }
  }

  &:first-child {
    @include breakpoint(tablet) {

      .c-contentElements {
        padding-right: 0;
      }
    }
  }

  // Since c-section will have b-margin-bottom-d40-m20 applied to it,
  // we remove margin from the bottom of the last paragraph (as long as it isn't an arcad container)

  .c-contentElements {
    width: 100%;

    @include breakpoint(tablet) {
      padding: 0;
    }
  }

  &.full-width {
    @include breakpoint(desktop-sm) {
      clear: both;
    }
  }

  &:not(.full-width) {

    .c-contentElements {
      @include breakpoint(desktop-sm) {
        width: calc(100% - 315px);
        padding: 0 $min-margin 0 0;
        box-sizing: border-box;

        .c-synopsis-row + div {
          margin-bottom: 1.25rem;
        }
      }
    }

    .c-rightRail {
      min-height: 100%;
      text-align: center;
      font-size: 20px;

      > :first-child:not(.arc_ad):not(.c-dontMiss):not(.c-columnistFeature):not(.border-top),
      .arc_ad + .arc_ad {
        margin-top: 2.26rem;
      }
    }
  }

  &.col-layout {
    @include breakpoint(tablet) {
      width: 90%;
    }

    @include breakpoint(desktop-sm) {
      width: calc(94% + 20px);
    }

    @include breakpoint(desktop-lg) {
      width: calc(90% + 20px);
      max-width: 1620px;
    }

    .c-contentElements {
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;

      @include breakpoint(desktop-sm) {
        flex-wrap: initial;
      }

      > div {
        width: 100%;
      }

      .c-homeListContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(desktop-sm) {
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
  }

  .insertedAd {
    height: 200px;
  }
}
