@import "./../base/breakpoints";
@import "./../base/mixins";

.c-section {
  @include section();
}

.c-sectionHome {
  display: block;
  max-width: 1600px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(tablet) {
    width: 94%;
    display: flex;
    padding: 0;
  }

  @include breakpoint(desktop-lg) {
    width: 90%;
  }
}

.c-section,
.c-sectionHome {
  @include breakpoint(desktop-sm) {

    &.halves {
      display: flex;

      .c-contentElements {
        width: calc(50% - 40px);

        &:last-of-type {
          padding-right: 0;
        }
      }

      &.with-rightRail {

        .c-contentElements {
          width: calc((100% - 300px) / 2 - 40px);
        }
      }
    }
  }

  &:first-child {
    @include breakpoint(tablet) {

      .c-contentElements {
        padding-right: 0;
      }
    }
  }

  // Since c-section will have b-margin-bottom-d40-m20 applied to it,
  // we remove margin from the bottom of the last paragraph (as long as it isn't an arcad container)

  .c-contentElements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(tablet) {
      padding: 0;
    }

    @include arc-ad-spacing;
  }

  &.full-width {
    @include breakpoint(desktop-sm) {
      clear: both;
    }

    .arc_ad[class*="HP0"],
    .arc_ad[class*="MP0"] {
      @include arc-ad-full-width;
    }
  }

  &:not(.full-width) {

    .c-contentElements {
      @include breakpoint(tablet) {
        width: calc(100% - 330px);
        padding: 0 15px 0 0;
      }

      .arc_ad[class*="MP"] {
        @include arc-ad-full-width;
      }
    }

    .c-rightRail {
      min-height: 100%;
      width: 100%;
      background: #fff;
      text-align: center;
      font-size: 20px;

      > :first-child:not(.arc_ad),
      .arc_ad + .arc_ad {
        margin-top: 2.26rem;
      }

      @include breakpoint(tablet) {
        width: 300px;
      }

      @include breakpoint(desktop-sm) {
        float: right;
        margin-right: -330px;

        > :first-child:not(.arc_ad) {
          margin-top: 0;
        }
      }
    }
  }

  &.three-col {
    @include breakpoint(tablet) {
      width: 90%;
    }

    @include breakpoint(desktop-sm) {
      width: calc(94% + 20px);
    }

    @include breakpoint(desktop-lg) {
      width: calc(90% + 20px);
      max-width: 1620px;
    }

    .c-contentElements {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(desktop-sm) {
        flex-wrap: initial;
      }

      .c-homeListContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(desktop-sm) {
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
  }

  .insertedAd {
    height: 200px;
  }
}
