@import "./c-section";

@include amp-exclude {

  .c-sponsor,
  .section-label.sponsored-story {
    font-weight: 500;
    color: #000;
    text-align: left;
    width: fit-content;
    display: inline-block;
    text-transform: uppercase;

    @include text-styles(.75rem, 1, "Gordita-Medium");
  }

  .c-sponsorOverlay,
  .image-component-image .sponsored-story {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(55, 58, 60, .9);
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 7.5px;

    @include text-styles(.625rem, 1.25, "Gordita");
  }

  .c-homepageContent {
    @include breakpoint(tablet) {
      padding-top: 1.25rem;
    }
  }
}
