@import "../../../../src/styles/base/mixins";
@import "./../../../../src/styles/base/breakpoints";

.c-contributorBadge {
  height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 100%;

  @include breakpoint(desktop-sm) {
    height: 57px;
  }

  img {
    width: auto;
    height: 100%;
    max-width: 100%;
  }
}

.left-photo-display-class,
.no-photo-display-class {

  .c-homeList .c-contributorBadge {
    justify-content: left;
  }
}

.c-homepageContent {

  .c-contributorBadge {
    height: 38px;
    margin: 0;
  }
}
