@import "../../../../src/styles/base/mixins";
@import "./../../../../src/styles/base/breakpoints";

.c-contributorBadge {
  height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 100%;

  @include breakpoint(desktop-sm) {
    height: 90px;
  }

  img {
    width: auto;
    height: 100%;
  }
}
