@import "../../../src/styles/base";

.gallery-container {
  position: relative;
  display: flex;
  height: 480px;
  visibility: hidden;

  @media (min-width: 768px) {
    visibility: visible;
  }
}

.c-gallery-homeSection {
  width: 100vw;
  max-width: 1540px;
  box-sizing: border-box;
}

.gallery-wrapper {
  overflow: hidden;
}

.gallery-headline {
  @include text-styles(1.875rem, 1.3, "Gordita-Bold");

  letter-spacing: -.38px;
  text-align: center;
  padding: 1.25rem 0;
  border-top: 1px solid #cdcdcd;
  width: inherit;

  a {
    text-decoration: none;
    color: #313132;
  }
}

.c-image-modal {
  opacity: 0;
  z-index: 10000;
  background: #393f4d;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity .5s;
  pointer-events: none;
  cursor: pointer;

  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
  }
}

.image-modal-active {
  pointer-events: inherit;
  opacity: 1;
}

.desktop-image {
  cursor: pointer;

  img {
    touch-action: pan-y;
  }
}

.icon-gallery {
  filter: brightness(30);
}

.with-ad {
  padding: 1.25rem 0 .35rem;
}

.last-item-height-fix {
  overflow: auto;

  .gallery-subtitle {
    padding-bottom: 3rem;
  }
}

.last-item-height-fix-no-caption {
  overflow: auto;

  .gallery-subtitle {
    height: 100%;
    padding-bottom: 4rem;
  }
}

.gallery-count {
  width: 100px;

  @include text-styles(1.44rem, normal, "Gordita");

  letter-spacing: -2px;
  text-align: center;
  color: #2e81b7;
  top: 0;
  left: 0;
  transform: none;
  margin: 0 auto 10px;
}

.gallery-count-prev,
.gallery-count-next {
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px 0 rgba(229, 229, 229, .6);
  border: solid 1px #ececec;
  padding: 8px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);

  &:active {
    box-shadow: none;
  }

  img {
    height: 20px;
  }
}

.gallery-image a img {
  height: 100%;
  opacity: .5;
}

.gallery-image {
  height: 100%;

  img {
    height: auto;
    width: auto;
    vertical-align: middle;
    margin: auto;
    opacity: .5;
    transition: opacity .2s .1s;
  }
}

.gallery-credit {
  text-align: right;

  @include text-styles(.875rem, normal, "Gordita");
}

.gallery-ads-PG02 {
  display: flex;
  justify-content: center;
  align-items: center;

  .arc_ad {
    margin: 0;

    #div-id-PG02 {
      padding-top: 10px;
      margin-bottom: 15px;
    }
  }

  .arc_ad .arcad:not(:empty):before {
    content: "";
  }
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  z-index: 2;
  opacity: .28;
  background: #000;
  scroll-behavior: initial;
  -webkit-overflow-scrolling: touch;

  .gallery-overlay-backdrop {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;

    .left-backdrop {
      display: flex;
      flex-grow: 3;
      width: 208%;
      height: 200%;

      .mosaic-container .mosaic-image {
        opacity: .5;
        transition: opacity .2s .1s;
      }
    }

    .right-backdrop {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 92%;

      .mosaic-container .mosaic-image {
        opacity: .5;
        transition: opacity .2s .1s;
      }
    }
  }
}

.gallery-immersive--active .gallery-immersive {
  display: block;
  opacity: 1;
}

.gallery-immersive {
  display: block;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000;
  font: .75rem "Gordita_Regular", "arial", sans-serif;
  height: 100%;
  scroll-behavior: initial;

  .gallery-count {
    color: #393f4d;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    .gallery-index {
      @include text-styles(.625rem, normal, "Gordita");

      @media (min-width: 768px) {
        @include text-styles(1rem, normal, "Gordita");
      }

      letter-spacing: .01rem;
      font-weight: 900;
    }
  }

  .mobile__caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .gallery-full-item {
    width: auto;
    max-width: 100%;
    margin: 20px auto 60px;

    @include text-styles(1rem, normal, "Gordita");
  }

  .gallery-immersive--close {
    border-radius: 8px;
    box-shadow: 4px 4px 6px 0 rgba(229, 229, 229, .6);
    border: solid 1px #ececec;
    top: 20px;
    right: 20px;
    color: #212126;
    position: absolute;
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      box-shadow: none;
    }
  }

  .gallery-caption-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 89px;
    text-align: center;

    @include text-styles(.75rem, normal, "Gordita");

    .gallery-caption-trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 26px;
      border-radius: 2px;
      box-shadow: inset 0 4px 6px 0 rgba(171, 194, 212, .5);
      background-image: linear-gradient(to bottom, #e7edf2, #f5f7fa);
      color: #9b9b9b;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 4px;
      float: left;
      text-decoration: none;
      letter-spacing: -.36px;
    }

    .is-active {
      box-shadow: 4px 4px 6px 0 rgba(229, 229, 229, .6);
      background: #fff;
      color: #212126;
      border-top: 1px solid #ececec;
      border-left: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
    }

    div {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
    }
  }
}

.mobile-display {
  display: flex;
  height: fill-available;
  min-height: 52vw;
}

.gallery {
  overflow-x: hidden;
}

.gallery-sticky {
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  height: 84px;
  box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
  z-index: 2;
}

.mosaic-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) { // targeting 767px since iPad Mini's width is 768px and it has to have DT view

  .hidden-small {
    display: none;
  }

  .gallery__immersive .gallery-sticky .gallery-count {
    border-radius: 6px;
    padding: 20px 0;
  }

  .gallery-headline {
    font-size: 1.4rem;
  }

  .gallery-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    max-height: 411px;
  }

  .mosaic-container {
    height: 50%;
    width: 100%;
    position: relative;
    overflow: hidden;

    .mosaic-image {
      margin: 0;
      padding: 0;
      height: 100%;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .mobile-change {
    background: rgba(0, 0, 0, .6);
    border-radius: 6px;
    padding: 20px 0;
    color: #fff;
    z-index: 100;
    position: relative;
    width: 150px;
    height: auto;
    font-weight: 300;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icon-text {
      font-size: 1.25rem;
      letter-spacing: -.33px;
    }
  }

  .view-gallery {
    height: 100%;
  }

  .gallery-overlay {
    opacity: 1;
    background: #000;
  }

  .icon-sticky {
    width: 39px;
    height: 32px;
  }

  .gallery-full {
    position: relative;
    padding-bottom: 84px;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
    z-index: 2;
    -webkit-overflow-scrolling: touch;

    .gallery-full-item {
      width: auto;
      max-width: 100%;
      margin: 20px auto 60px;
      font: 1rem/2.25;

      img {
        width: 100vw;
        display: block;
        margin: 0 auto;
      }

      .gallery-credit:not(:empty) {
        text-align: right;
        margin: 10px 20px 0;

        @include text-styles(.75rem, normal, "Gordita");
      }

      .gallery-caption {
        text-align: left;
        margin: 10px 20px;
        line-height: 1.63rem;
      }
    }
  }
}

@media (min-width: 768px) {

  .hidden-large {
    display: none;
  }

  .icon-gallery {
    filter: none;
  }

  .gallery-container {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 480px;
  }

  .gallery-caption-icons-box {
    position: relative;
    top: auto;
    bottom: 0;
    box-sizing: border-box;
    height: auto;
    width: 180px;
    margin: 1.875rem auto .5rem;
  }

  .gallery-caption-container {
    position: relative;
    top: auto;
    bottom: 0;
    box-sizing: border-box;
    height: auto;
    margin: .313rem auto 6rem;
    min-width: auto;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: calc(100% - 80px);
    }

    @media (min-width: 1024px) {
      width: 100%;
      max-width: 932px;
    }

    .gallery-caption {
      @include text-styles(1rem, 1.88, "Gordita");
    
      color: #313132;
    }
  }

  .gallery-count {
    width: 100px;
    letter-spacing: -.2px;
    text-align: center;
    color: #212126;
    top: 0;
    left: 0;
    transform: none;
    margin: 0 auto 10px;

    @include text-styles(1rem, normal, "Gordita");

    .gallery-count-prev {
      left: 0;
    }

    .gallery-count-next {
      right: 0;
    }
  }

  .gallery-image {
    background: #efefef;
    // min-width: 720px;
    margin: 0 7.5px;

    .is-focused {
      opacity: 1;
    }

    .lazyload-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
}
