@import "./../../../../src/styles/base/mixins";

.ampAd {
  display: none;

  &.shown:not([hidden]) {
    position: relative;
    text-align: center;
    display: block;
    margin: 30px auto 20px;
  }
}

amp-ad.shown:not([hidden]) + .ampAdLabel {
  @include advertisement-label;
}

amp-fx-flying-carpet.shown:not([hidden]) + .ampAdLabel {
  @include advertisement-label;
}

.teads-ad.c-section {

  .ampAd {

    &.shown:not([hidden]) + .ampAdLabel {

      &:before {
        content: "";
      }
    }
  }
}
