@import "./../../../../src/styles/base/mixins";

.ampAd {
  display: none;

  &:not([hidden]) {
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px 0;

    @include advertisement-label;
  }
}

.teads-ad {

  &.c-section {

    .ampAd {

      &:not([hidden]) {
        
        &:before {
          content: "";
        }
      }
    }
  }
}

amp-fx-flying-carpet.ampAd:not([hidden]) {
  margin: 0;
  padding: 0;
}
