@import "../../../../src/styles/base/breakpoints";
@import "../../../../src/styles/base/fonts";
@import "../../../../src/styles/base/mixins";

//default image styles. Default scenario is assumed to be thumbnail in main content

main.c-amp-video {
  padding-top: 0;
}

@include amp-exclude {
  
  .c-video-component {
    flex: 1 0 100%;
    position: relative;
  
    &:focus {
      outline: none;
      box-shadow: none;
      -webkit-tap-highlight-color: transparent;

      .powa-processed .powa-pane .powa-share {
        display: flex;
      }
    }

    &:hover {

      .powa-processed .powa-pane .powa-share {
        display: flex;
      }
    }
  
    @include breakpoint(tablet) {
      flex: 1 0 66%;
    }
  
    .c-caption {
      top: 4.875rem;
      -webkit-tap-highlight-color: transparent;
  
      .photo-caption-btn {
        top: -1.5em;
  
        @include breakpoint(desktop-sm) {
          top: -2em;
        }
      }
    }
  
    .powa-bar-time-and-scrubbers {
      justify-content: center;
  
      .powa-bar-scrubbers {
        width: 85%;
      }
    }
  }
  
  .video-component {
    position: relative;
  
    &:focus {
      outline: none;
      box-shadow: none;
    }
  
    .video-blocker {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1000;
      top: 0;
      cursor: default;
    }
  
    video {
      width: 100%;
  
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  
  .powa {
  
    &:focus {
      outline: none;
      box-shadow: none;
      -webkit-tap-highlight-color: transparent;
    }
  }
  
  .video-credit-text {
    text-align: right;
    display: none;
    position: absolute;
    right: 0;
    margin-top: 2px;
  
    @include text-styles(.75rem, 1, "Gordita");
  
    @include breakpoint(desktop-sm) {
      display: block;
    }
  
    &.is-inline {
      display: block;
    }
  }
}
