@import "./../../../src/styles/base";

.c-columnistFeature {
  margin-bottom: $min-Msection-margin;
  box-sizing: border-box;

  @include breakpoint(desktop-sm) {
    width: 100%;
    margin-bottom: $min-DTsection-margin;
    margin-left: -5px;
    padding: 0 0 0 20px;
    border-left: solid 1px #cdcdcd;
  }

  .c-title {
    @include text-styles(1.875rem, 1, "Gordita-Bold");
    
    color: #313132;
    letter-spacing: -.38px;
    padding-bottom: 20px;
    text-align: center;

    @include breakpoint(desktop-sm) {
      letter-spacing: -.5px;
      text-align: left;
    }
  }

  .c-columnistList {

    .c-singleStory {
      list-style: none;
      margin-bottom: 15px;
      text-align: left;
      border-bottom: 1px solid #cdcdcd;

      &:last-child {
        border: none;
      }

      .authorName {
        @include text-styles(1.125rem, 1, "Gordita-Bold");

        color: #313132;

        @include breakpoint(desktop-sm) {
          letter-spacing: -.23px;
        }
      }

      .headline {
        @include text-styles(1rem, normal, "Lora");

        display: block;
        text-decoration: none;
        letter-spacing: -.33px;
        color: #313132;
        font-weight: 500;
        margin: 5px 0 $min-margin;
      }
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}
