.nav-copyright-links {
  flex-wrap: wrap;
  line-height: 1.8;
  
  a {
    display: flex;

    &:not(:last-child) {

      &:after {
        content: "|";
        display: block;
        padding-left: 10px;
      }
    }
  }
}
