@import "../../../src/styles/base";

.border-top {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 10px;

  &.c-sectionHome {
    max-width: 1540px;
    margin-bottom: 5px;

    @include breakpoint(tablet) {
      margin-bottom: 10px;
    }

    @include between-breakpoints(mobile, tablet) {
      width: 100%;
      padding: 0;
      border: none;
    }

    &[class*="RP0"] {
      display: none;
  
      @include between-breakpoints(tablet, desktop-sm) {
        display: flex;
        padding-top: 20px;
      }
    }
  }

  &.HP01,
  &.HP02,
  &.HS02 {
    margin-bottom: 0;
  }
}

.arc_ad[class*="HP0"].ccad-noslotshadow .border-top.HP02 {
  display: none;
}
