@import "../../../../../../src/styles/base/mixins";

.borders {
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  padding: 1.2em 0 1.3em 1.4em;
  display: flex;
}
.prefix {
  width: 1em;
  margin: auto;
  padding-right: 2.5em;
  -webkit-text-stroke: 0.3px #000000;
  @include text-styles(2.5rem, 1, "Average");
  color: #313132;
}
.interstitial{
  padding: 0 1.1em 0 1.1em;
  text-align: left;
}
.link {
  padding: 0 0 0 3em;
  margin: auto;
  @include text-styles(1.25rem, 1.75, "Gordita");
  letter-spacing: normal;
  color: #000000;
}