@import "../../../../src/styles/base/mixins";
@import "../../../../src/styles/base/breakpoints";

.author-menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  overflow: hidden;
  z-index: 1;
  display: none;

  @include breakpoint(tablet) {
    width: 300px;
    background-color: #fff;
    position: static;
    overflow: initial;
  }
}

.author-menu {
  height: 40%;
  margin-top: 40%;
  margin-right: 20%;
  overflow: scroll;

  @include breakpoint(tablet) {
    width: 300px;
    height: 100%;
    margin: 0;
    overflow: initial;
  }

  .author-menu-item {
    @include text-styles(1.2rem, 2, "Gordita");

    color: #fff;
    text-align: right;
    list-style-type: none;
    padding: 0 13px;
    font-weight: 600;

    @include breakpoint(tablet) {
      @include text-styles(.875rem, 3rem, "Gordita");

      color: #9b9b9b;
      cursor: pointer;
      text-align: left;
    }

    &.active {
      color: #2e81b7;

      @include breakpoint(tablet) {
        @include text-styles(1rem, 3rem, "Gordita");

        background-color: #fff;
        border-top: none;
        position: relative;
      }

      &.active:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
      }
    }

    &:not(.active) + li:not(.active) {
      @include breakpoint(tablet) {
        border-top: 1px solid #9b9b9b;
      }
    }
  }
}

.mobile-fader {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 100;

  @include breakpoint(tablet) {
    display: none;
  }
}

.staff {
  height: 800px;
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  position: relative;
  
  @include breakpoint(tablet) {
    width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
  }
}
