@import "./../../../../src/styles/base/mixins";
@import "./../../../../src/styles/base/breakpoints";

.c-copyright {
  background-color: #f1f1f2;

  @include amp-only {
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
    background-color: #fff;
    margin-bottom: 1.13rem;
  }

  .copyright {
    padding: 35px 20px;
    text-align: center;
    margin: 0 auto;

    a {
      color: #2e81b7;
      cursor: pointer;
    }

    @include amp-only {
      text-align: left;
      padding: 17px 19px;
    }

    @include text-styles(.75rem, 1.75, "Gordita");

    @include breakpoint(desktop-sm) {
      padding: 25px 30px 20px;
      max-width: 1600px;
    }
  }
}
