@import "./../../../../src/styles/base/mixins";
@import "./../../../../src/styles/base/breakpoints";

article {
  /*
  The nativo script replaces the .story-nativo_placeholder--moap and
  .story-nativo_placeholder--boap elements with .ntv-moap and .ntv-boap elements
 */

  .ntv-moap:before {
    @include text-styles(1rem, 1, "Gordita");

    @include breakpoint(desktop-sm) {
      @include text-styles(1.125rem, 1, "Gordita");
    }

    @include section();

    font-style: italic;
    content: "Article continues below";
    margin-bottom: 25px;
    padding: 0 $min-margin;
  }

  .taboola-split {
    display: flex;
  }

  .ntv-moap,
  .ntv-boap {
    @media (max-width: 747px) {
      max-width: initial;
    }

    .ntvAdChoicesLink {
      @include section();

      box-sizing: border-box;
      position: relative;
    }

    .ntv-enter {
      box-sizing: border-box;
      padding-left: calc((100% - 340px) / 2);
      padding-right: calc((100% - 340px) / 2);
      margin-bottom: 1.13rem;

      @include breakpoint(tablet) {
        padding-right: calc((100% - 88.3%) / 2);
        padding-left: calc((100% - 88.3%) / 2);
      }

      @include breakpoint(desktop-sm) {
        padding-left: calc((100% - 83.9%) / 2);
        padding-right: calc((100% - 83.9%) / 2);
        margin-bottom: 2.5rem;
      }

      @include breakpoint(desktop-lg) {
        padding-left: calc(((100% - 60.7%) / 2));
        padding-right: calc(((100% - 60.7%) / 2));
      }

      /*
  1780px comes from 1080px / .607 (60.7%)
  1780px is the screen width at which 60.7% of the screen width becomes more than 1080px
  Since 1080px is the max width of the contentElements, to keep the content of the Nativo element within
  this boundary, our padding calculations changes at 1780px.
  */
      @media (min-width: 1780px) {
        padding-left: calc(((100% - 1080px) / 2));
        padding-right: calc(((100% - 1080px) / 2));
      }

      .ntv-disclaimer {
        @include text-styles(.75rem, 1, "Gordita-Medium");

        font-weight: 500;
        display: inline-flex;
        padding: 0;
        background: none;
        text-transform: uppercase;
        color: #000;

        @include amp-exclude {
          
          a {
            color: #000 !important; /*stylelint-disable declaration-no-important*/
          }
        }
      }

      .ntv-byline {
        box-sizing: border-box;
        font-weight: 400;

        @include text-styles(1rem, 1.25, "Gordita");
      }
    }
  }
}

@include amp-only {

  .c-ntv-moap {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    text-align: center;

    .nativo-lead-text {
      display: none;
    }

    amp-ad[type="nativo"]:not([hidden]) + .nativo-lead-text {
      position: relative;
      display: block;
      font: italic .875rem "Gordita", "Arial", sans-serif;
    }
  }
}
