/* stylelint-disable declaration-no-important */
@import "./../../../../src/styles/base/mixins";
@import "./../../../../src/styles/base/breakpoints";

article {
  /*
  The nativo script replaces the .story-nativo_placeholder--moap and
  .story-nativo_placeholder--boap elements with .ntv-moap and .ntv-boap elements
 */

  .c-image-component,
  .c-video-component {
    clear: left;
  }

  .taboola-split {
    display: flex;
  }

  .ntv-moap:before {
    @include text-styles(1rem, 1, "Gordita");

    @include breakpoint(desktop-sm) {
      @include text-styles(1.125rem, 1, "Gordita");
    }

    @include section();

    font-style: italic;
    content: "Article continues below";
    margin-bottom: 25px;
    padding: 0 $min-margin;
  }

  .ntv-moap,
  .ntv-boap {
    @include amp-exclude {
      float: none;
    }
  
    margin: 0 auto;
    padding: 0;
    text-align: left;

    @media (max-width: 747px) {
      max-width: initial;
    }

    .ntvAdChoicesLink {
      @include section();

      box-sizing: border-box;
      position: relative;
    }

    .ntv-enter {
      box-sizing: border-box;
      background: #ededed;
      box-shadow: none;
      padding: 12px;
      margin-bottom: 1.25rem;

      @include breakpoint(tablet) {
        padding: 20px;
      }

      @include breakpoint(desktop-sm) {
        margin-bottom: 1.875rem;
      }

      .ntv-disclaimer {
        @include text-styles(.625rem, 1.25rem, "Gordita-Medium");

        font-weight: 500;
        display: inline-flex;
        padding: 0;
        background: none;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 5px;

        @include amp-exclude {

          a {
            color: #000 !important;
          }
        }

        @include breakpoint(tablet) {
          @include text-styles(.6875rem, 1.25rem, "Gordita-Medium");
        }
      }

      @include amp-exclude {

        .ntv-image img {
          border-radius: none !important;
        }
      }

      .ntv-byline {
        box-sizing: border-box;
        font-weight: 400;
        letter-spacing: -.19px;
        padding: 8px 0;
        border-radius: 0;
        text-align: center;

        @include text-styles(.625rem, 1, "Gordita");
      }

      .ntv-title {
        letter-spacing: -.31px;
        margin: 0;

        @include text-styles(1rem, 1.375, "Gordita");

        @include breakpoint(tablet) {
          letter-spacing: -.42px;

          @include text-styles(1.375rem, 1.875rem, "Gordita");
        }
      }
    }
  }
}

@include amp-only {

  .c-ntv-moap {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    text-align: center;

    .nativo-lead-text {
      display: none;
    }

    amp-ad[type="nativo"]:not([hidden]) + .nativo-lead-text {
      position: relative;
      display: block;
      font: italic .875rem "Gordita", "Arial", sans-serif;
    }
  }
}
