.article-timestamp {
  height: 24px;
  font-family: "Gordita";
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #9b9b9b;
}
