/* Breakpoints: */
$breakpoint: (
  mobile: 767px,
  tablet: 1023px,
  desktop-sm: 1279px
) !default;

@mixin breakpoint($point) {
  /* Equal or less than 767px */
  @if $point == mobile {
    /* stylelint-disable-next-line */
    @media only screen and (max-width: map-get($breakpoint, mobile)) {
      @content;
    }
  }

  /* Equal or less than 1023px */
  @if $point == tablet {
    /* stylelint-disable-next-line */
    @media only screen and (max-width: map-get($breakpoint, tablet)) {
      @content;
    }
  }

  /* Equal or less than 1279px */
  @if $point == desktop-sm {
    /* stylelint-disable-next-line */
    @media only screen and (max-width: map-get($breakpoint, desktop-sm)) {
      @content;
    }
  }

  /* Equal or greater than 1280px */
  @if $point == desktop-lg {
    /* stylelint-disable-next-line */
    @media only screen and (min-width: map-get($breakpoint, desktop-sm) + 1) {
      @content;
    }
  }
}
