@import "./../../../src/styles/base";

.c-homeLeadContainer {
  /////////////////
  // Common styles
  ////////////////
  width: 100%;
  margin-bottom: $min-Msection-margin;

  @include breakpoint(desktop-sm) {
    margin-bottom: $min-DTsection-margin;
  }

  @include between-breakpoints(tablet, desktop-sm) {
    margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  .c-label-wrapper:empty {
    display: none;
  }

  a {
    color: inherit;
  }

  img {
    border-radius: 6px;
  }

  .column-2 {
    margin-bottom: 25px;
  }

  .home-headline {
    margin-left: -$min-margin;
    margin-right: -$min-margin;
    overflow: hidden;

    img {
      border-radius: 0;
    }

    @include breakpoint(tablet) {
      margin-left: 0;
      margin-right: 0;

      img {
        border-radius: 6px;
      }
    }
  }

  .homeList-image {
    margin-right: 1rem;
    display: inline-block;
    position: relative;
    height: fit-content;
  }

  @include breakpoint(desktop-sm) {
    display: flex;
    justify-content: space-between;

    .column-2 {
      width: 59%;
      margin-bottom: 0;
    }

    .column-3 {
      width: 39%;
    }
  }

  .c-homeList {
    display: flex;

    &:last-child {
      margin-bottom: 0;

      @include breakpoint(desktop-sm) {
        margin-bottom: initial;
      }
    }

    .c-sponsorOverlay,
    .image-component-image .sponsored-story {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    @include breakpoint(tablet) {
      align-items: flex-start;
    }

    @include breakpoint(desktop-sm) {
      display: block;
    }

    .homeList-text {

      .section-label {
        @include text-styles(.75rem, 1, "Gordita");

        font-weight: 600;
      }

      .headline {
        @include text-styles(1rem, 1.38, "Lora");

        letter-spacing: -.09px;

        @include between-breakpoints(tablet,desktop-sm) {
          @include text-styles(.938rem, 1.47, "Lora");

          letter-spacing: -.08px;
        }
      }
    }
  }

  /////////////////////
  // One-Two Item Display Class Styles
  /////////////////////

  &.one-two-item-display-class {

    .column-1 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      
      @include breakpoint(desktop-sm) {
        flex-direction: row;
      }

      .home-headline {
        flex: 1;
        margin-bottom: 40px;

        @include breakpoint(desktop-sm) {
          margin: 0 2% 0 0;
          padding-bottom: 1.75rem;
        }

        .headline {
          @include text-styles(1.25rem, 1.25, "Average");
        }
      }

      .home-headline:last-child {
        @include breakpoint(desktop-sm) {
          margin-right: 0;
        }
      }
    }

    &.one-column {

      .home-headline {
        padding-top: 48%;

        @include breakpoint(tablet) {
          padding-top: 53%;
        }
      }

      .home-headline.sponsored {
        padding-top: 60%;

        @include breakpoint(tablet) {
          padding-top: 54%;
        }
      }
    }

    &.two-columns {

      .home-headline {
        @include breakpoint(desktop-sm) {
          padding-top: 24%;
        }
      }

      .home-headline.sponsored {
        @include breakpoint(desktop-sm) {
          padding-top: 26%;
        }
      }
    }

    &.three-columns {

      .home-headline {
        @include breakpoint(desktop-sm) {
          padding-top: 14%;
        }
      }

      .home-headline.sponsored {
        @include breakpoint(desktop-sm) {
          padding-top: 16%;
        }
      }
    }

    &.four-columns {

      .home-headline {
        @include breakpoint(desktop-sm) {
          padding-top: 10%;
        }
      }

      .home-headline.sponsored {
        @include breakpoint(desktop-sm) {
          padding-top: 12%;
        }
      }
    }
  }

  /////////////////////
  // Top Display Class Styles
  /////////////////////

  &.top-photo-display-class {
    @include breakpoint(desktop-sm) {
      display: block;
    }

    @include breakpoint(desktop-lg) {
      display: flex;
    }

    .column-2 {
      @include between-breakpoints(desktop-sm, desktop-lg) {
        width: 100%;
        margin-bottom: 3rem;
      }
    }

    .column-3 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include between-breakpoints(desktop-sm, desktop-lg) {
        width: calc(100% + 20px);
        flex-wrap: nowrap;
        margin: 0 -10px;
      }

      .c-homeList {
        box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
        padding: 20px 15px;
        margin: 0 -15px 1rem;

        @include breakpoint(tablet) {
          margin-right: 0;
          margin-left: 0;
        }

        @include breakpoint(desktop-sm) {
          box-shadow: none;
          padding: 0 10px;
        }

        @include breakpoint(desktop-lg) {
          width: 48%;
          padding: 0;
        }

        .homeList-image {
          max-width: calc(45% - 7.5px);

          @include breakpoint(desktop-sm) {
            max-width: 100%;
            margin: 0 0 .6rem;
          }
        }

        .homeList-text {
          max-width: 65%;
          text-align: left;

          @include breakpoint(desktop-sm) {
            max-width: 100%;
          }

          .c-label-wrapper {
            text-align: left;
            margin: 0 0 7px;

            @include breakpoint(desktop-sm) {
              margin: 0 auto .4rem;
              text-align: left;
            }

            @include breakpoint(desktop-lg) {
              text-align: left;
              min-height: initial;
            }

            &:empty {
              display: none;
            }
          }

          .headline {
            margin-bottom: 0;

            @include breakpoint(desktop-sm) {
              text-align: left;
            }
          }
        }
      }
    }
  }

  /////////////////////
  // Left Photo Display Class Styles
  /////////////////////

  &.left-photo-display-class {

    .c-homeList {
      margin-bottom: 1rem;
      box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
      padding: 20px;
      margin-left: -$min-margin;
      margin-right: -$min-margin;

      @include breakpoint(tablet) {
        margin-right: 0;
        margin-left: 0;
      }

      @include breakpoint(desktop-sm) {
        display: flex;
        padding: 0;
        box-shadow: none;
      }

      .homeList-image {
        max-width: calc(45% - 7.5px);

        @include breakpoint(desktop-sm) {
          max-width: 30%;
        }
      }

      .homeList-text {
        @include breakpoint(desktop-sm) {
          max-width: 70%;
        }

        .c-label-wrapper {
          text-align: left;
          margin: 0 0 7px;
        }

        .headline {
          text-align: left;
        }
      }
    }
  }

  /////////////////////
  //  No Photo Display Class Styles
  /////////////////////

  &.no-photo-display-class {

    .b-sectionTitle {
      text-align: left;
    }

    .c-homeList {

      .c-label-wrapper {
        text-align: left;
        margin: .6rem 0 .4rem;
      }

      .headline {
        text-align: left;
      }

      .homeList-image {
        display: none;
      }

      .homeList-text {
        padding-bottom: .6rem;
        border-bottom: 1px solid #cdcdcd;
        width: 100%;
      }

      &:first-child {

        .c-label-wrapper {
          margin-top: 0;
        }
      }

      &:last-child {

        .homeList-text {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  /////////////////////
  // Center Lead Display Class Styles
  /////////////////////

  &.center-lead-display-class {
    flex-direction: column;
    display: flex;

    @include breakpoint(desktop-sm) {
      flex-direction: row;
    }

    .column-1,
    .column-3 {
      margin-right: -$min-margin;
      margin-left: -$min-margin;

      @include breakpoint(tablet) {
        margin-right: 0;
        margin-left: 0;
      }

      @include breakpoint(desktop-sm) {
        width: 22%;
      }
    }

    .column-2 {
      order: -1;

      @include breakpoint(desktop-sm) {
        width: 52%;
        order: 0;
      }
    }

    .c-homeList {
      margin-bottom: 1rem;
      box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
      padding: 20px;

      @include breakpoint(desktop-sm) {
        box-shadow: none;
        padding: 0;
      }

      .homeList-image {
        max-width: calc(45% - 7.5px);

        @include breakpoint(desktop-sm) {
          max-width: 100%;
          margin: 0 0 .6rem;
        }
      }

      .homeList-text {
        width: 50%;

        @include breakpoint(desktop-sm) {
          width: 100%;
        }

        .c-label-wrapper {
          text-align: left;
          margin: 0 0 7px;

          @include breakpoint(desktop-sm) {
            margin: 0 auto .4rem;
            text-align: left;
          }

          @include breakpoint(desktop-lg) {
            text-align: left;
          }
        }

        .headline {
          margin-bottom: 0;

          @include breakpoint(desktop-sm) {
            text-align: left;
          }
        }
      }
    }
  }
}
