@import "./../../../src/styles/base";

.c-homeLeadContainer {
  /////////////////
  // Common styles
  ////////////////
  width: 100%;
  margin-bottom: 15px;

  @include breakpoint(tablet) {
    margin-bottom: $min-Msection-margin;
  }

  @include breakpoint(desktop-sm) {
    margin-bottom: $min-DTsection-margin;
  }

  .c-label-wrapper:empty {
    display: none;
  }

  a {
    color: inherit;
  }

  .headline {
    margin-bottom: $min-margin;
  }

  .homeList-text {
    padding-bottom: $min-margin;
  }

  .c-tease-icon .tease-icon {
    border-radius: 0;
  }

  .article-timestamp {
    line-height: 1;
  }

  .home-headline {
    overflow: hidden;

    img {
      border-radius: 0;
    }

    @include breakpoint(tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .homeList-image {
    margin-right: 1rem;
    display: inline-block;
    position: relative;
    height: fit-content;
  }

  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;

    .column-2 {
      width: 59%;
      margin-bottom: 0;
    }

    .column-3 {
      width: 39%;
    }
  }

  .c-homeList {
    display: flex;

    &:last-child {
      margin-bottom: 0;

      @include breakpoint(desktop-sm) {
        margin-bottom: initial;
      }
    }

    @include breakpoint(tablet) {
      align-items: flex-start;
    }

    @include breakpoint(desktop-sm) {
      display: block;
    }

    .homeList-text {

      .section-label {
        @include text-styles(.75rem, 1, "Gordita");

        font-weight: 600;
      }

      .headline {
        @include text-styles(1rem, 1.38, "Lora");

        margin-bottom: 10px;
        letter-spacing: -.09px;

        @include between-breakpoints(tablet,desktop-sm) {
          @include text-styles(.938rem, 1.47, "Lora");

          letter-spacing: -.08px;
        }
      }
    }
  }

  /////////////////////
  // One-Two Item Display Class Styles
  /////////////////////

  &.one-two-item-display-class {

    .column-1 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      
      @include breakpoint(desktop-sm) {
        flex-direction: row;
      }

      .home-headline {
        flex: 1;
        margin-bottom: 40px;

        @include breakpoint(desktop-sm) {
          margin: 0 2% 0 0;
          padding-bottom: 1.75rem;
        }

        .headline {
          @include text-styles(1.25rem, 1, "Lora");
        }
      }

      .home-headline:last-child {
        @include breakpoint(desktop-sm) {
          margin-right: 0;
        }
      }
    }

    &.one-column {

      .home-headline {
        padding-top: 48%;

        @include breakpoint(tablet) {
          padding-top: 53%;
        }
      }

      .home-headline.sponsored {
        padding-top: 60%;

        @include breakpoint(tablet) {
          padding-top: 54%;
        }
      }
    }

    &.two-columns {

      .home-headline {
        @include breakpoint(desktop-sm) {
          padding-top: 24%;
        }
      }

      .home-headline.sponsored {
        @include breakpoint(desktop-sm) {
          padding-top: 26%;
        }
      }
    }

    &.three-columns {

      .home-headline {
        @include breakpoint(desktop-sm) {
          padding-top: 14%;
        }
      }

      .home-headline.sponsored {
        @include breakpoint(desktop-sm) {
          padding-top: 16%;
        }
      }
    }

    &.four-columns {

      .home-headline {
        @include breakpoint(desktop-sm) {
          padding-top: 10%;
        }
      }

      .home-headline.sponsored {
        @include breakpoint(desktop-sm) {
          padding-top: 12%;
        }
      }
    }
  }

  /////////////////////
  // Top Display Class Styles
  /////////////////////

  &.top-photo-display-class {
    @include breakpoint(desktop-sm) {
      display: block;
    }

    @include breakpoint(desktop-lg) {
      display: flex;
    }

    .c-homeList .homeList-text .c-tease-icon {
      margin-left: 0;
    }

    .column-2 {
      @include between-breakpoints(desktop-sm, desktop-lg) {
        width: 100%;
        margin-bottom: 3rem;
      }
    }

    .column-3 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include between-breakpoints(desktop-sm, desktop-lg) {
        width: calc(100% + 20px);
        flex-wrap: nowrap;
        margin: 0 -10px;
      }

      .c-homeList {
        padding: 20px 15px;
        margin: 0 -15px 1rem;

        @include breakpoint(tablet) {
          margin-right: 0;
          margin-left: 0;
        }

        @include breakpoint(desktop-sm) {
          box-shadow: none;
          padding: 0 10px;
        }

        @include breakpoint(desktop-lg) {
          width: 48%;
          padding: 0;
        }

        .homeList-image {
          max-width: calc(45% - 7.5px);

          @include breakpoint(desktop-sm) {
            max-width: 100%;
            margin: 0 0 .6rem;
          }
        }

        .homeList-text {
          max-width: 65%;
          text-align: left;

          @include breakpoint(desktop-sm) {
            max-width: 100%;
          }

          .c-label-wrapper {
            text-align: left;
            margin: 0 0 7px;

            @include breakpoint(desktop-sm) {
              margin: 0 auto .4rem;
              text-align: left;
            }

            @include breakpoint(desktop-lg) {
              text-align: left;
              min-height: initial;
            }

            &:empty {
              display: none;
            }
          }

          .headline {
            margin-bottom: 0;

            @include breakpoint(desktop-sm) {
              text-align: left;
            }
          }
        }
      }
    }
  }

  /////////////////////
  // Left Photo Display Class Styles
  /////////////////////

  &.left-photo-display-class {

    .column-1 .home-headline {
      @include breakpoint(desktop-lg) {
        position: relative;
        padding-top: 50%;
      }
    }

    .c-homeList {
      margin-bottom: 1rem;
      padding: 20px;
      margin-left: -$min-margin;
      margin-right: -$min-margin;

      @include breakpoint(tablet) {
        margin-right: 0;
        margin-left: 0;
      }

      @include breakpoint(desktop-sm) {
        display: flex;
        padding: 0;
        box-shadow: none;
      }

      .homeList-image {
        max-width: calc(45% - 7.5px);

        @include breakpoint(desktop-sm) {
          max-width: 30%;
        }
      }

      .homeList-text {
        @include breakpoint(desktop-sm) {
          max-width: 70%;
        }

        .c-label-wrapper {
          text-align: left;
          margin: 0 0 7px;
        }

        .headline {
          text-align: left;
        }
      }
    }
  }

  /////////////////////
  //  No Photo Display Class Styles
  /////////////////////

  &.no-photo-display-class {

    .b-sectionTitle {
      text-align: left;
    }

    .c-homeList {

      .c-label-wrapper {
        text-align: left;
        margin: .6rem 0 .4rem;
      }

      .homeList-image {
        display: none;
      }

      .home-headline,
      .homeList-text {
        margin: 10px 0 0;
        border-bottom: 1px solid #cdcdcd;
        width: 100%;
        text-align: left;
        padding-bottom: 10px;
      }

      &:first-child {

        .c-label-wrapper {
          margin-top: 0;
        }
      }

      &:last-child {
          
        .homeList-text {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  /////////////////////
  // Redesigned Lead - No Photo Class Styles - Will be used with the Synopsis Feature mainly
  /////////////////////

  &.redesigned-no-photo-display-class {
    justify-content: flex-start;

    .b-sectionTitle {
      text-align: left;
    }

    .column-2 {
      width: 100%;

      @include between-breakpoints(mobile,tablet) {
        margin-bottom: 10px;
      }

      @include breakpoint(tablet) {
        width: 52%;
      }

      .home-headline {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;

        @include between-breakpoints(mobile,tablet) {
          margin: 0 auto;
        }

        .homeList-image {
          margin-right: 0;

          .c-image-component {
            position: relative;
  
            img {
              border-radius: 0;
            }
          }
        }

        .headline-box {
          background: none;
          border-radius: 0;
          box-shadow: unset;
          padding: 0 0 10px;
          max-width: 100%;

          .headline {
            margin: 0 0 10px;
          }
        }
      }
    }

    .column-3 {

      .c-homeList {

        .c-label-wrapper {
          text-align: left;
          margin: .6rem 0 .4rem;
        }
  
        .homeList-image {
          display: none;
        }
  
        .home-headline,
        .homeList-text {
          margin: $min-margin 0 0;
          border-bottom: 1px solid #cdcdcd;
          width: 100%;
          text-align: left;

          .headline {
            margin-bottom: 5px;
          }
        }
  
        &:first-child {

          .homeList-text {
            margin-top: 0;

            .c-label-wrapper {
              margin-top: 0;
            }
          }
        }
  
        &:last-child {
            
          .homeList-text {
            border: none;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  /////////////////////
  // Center Lead Display Class Styles
  /////////////////////

  &.center-lead-display-class {
    flex-direction: column;
    display: flex;

    @include breakpoint(desktop-sm) {
      flex-direction: row;
    }

    .column-1,
    .column-3 {
      margin-right: -$min-margin;
      margin-left: -$min-margin;

      @include breakpoint(tablet) {
        margin-right: 0;
        margin-left: 0;
      }

      @include breakpoint(desktop-sm) {
        width: 22%;
      }
    }

    .column-2 {
      order: -1;

      @include breakpoint(desktop-sm) {
        width: 52%;
        order: 0;
      }
    }

    .c-homeList {
      margin-bottom: 1rem;
      box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
      padding: 20px;

      @include breakpoint(desktop-sm) {
        box-shadow: none;
        padding: 0;
      }

      .homeList-image {
        max-width: calc(45% - 7.5px);

        @include breakpoint(desktop-sm) {
          max-width: 100%;
          margin: 0 0 .6rem;
        }
      }

      .homeList-text {
        width: 50%;

        @include breakpoint(desktop-sm) {
          width: 100%;
        }

        .c-label-wrapper {
          text-align: left;
          margin: 0 0 7px;

          @include breakpoint(desktop-sm) {
            margin: 0 auto .4rem;
            text-align: left;
          }

          @include breakpoint(desktop-lg) {
            text-align: left;
          }
        }

        .headline {
          margin-bottom: 0;

          @include breakpoint(desktop-sm) {
            text-align: left;
          }
        }
      }
    }
  }

  /////////////////////
  // Left Photo No Photo Display Class Styles
  /////////////////////

  &.left-photo-no-photo-display-class {
    
    .column-1 {
      padding-bottom: 30px;

      @include breakpoint(tablet) {
        padding-bottom: 0;
        margin-right: 15px;
      }
    }

    .column-2 {
      @include breakpoint(tablet) {
        border-left: 1px solid #cdcdcd;
        padding-left: 15px;
      }
    }

    .column-1,
    .column-2 {
      width: inherit;
      
      @include breakpoint(tablet) {
        max-width: 350px;
      }

      @include breakpoint(desktop-sm) {
        width: 50%;
      }
    }

    .c-homeList {
      border-bottom: 1px solid #cdcdcd;

      .homeList-image {
        margin-bottom: 1rem;

        &:empty {
          display: none;
        }

        @include breakpoint(tablet) {
          width: 80px;
          height: 80px;
        }

        @include breakpoint(desktop-sm) {
          width: 60px;
          height: 60px;

          &:empty {
            display: block;
          }
        }

        @include breakpoint(desktop-nav) {

          &:empty {
            display: none;
          }
        }
      }

      @include breakpoint(desktop-sm) {

        &.left-photo {
          display: flex;
          flex-wrap: wrap;
        }
      }

      @include breakpoint(desktop-nav) {
        display: flex;

        &.left-photo {
          flex-wrap: nowrap;
        }
      }

      .homeList-text {
        @include breakpoint(desktop-sm) {
          max-width: 168px;
        }

        @include breakpoint(desktop-lg) {
          max-width: none;
        }

        .headline {
          letter-spacing: -.1px;
          margin-bottom: 0;

          @include text-styles(1rem, 1.22, "Lora-Bold");
        }
      }

      &.no-photo {
        padding-top: 15px;
        width: 100%;

        .homeList-text {
          @include breakpoint(desktop-sm) {
            width: 100%;
          }

          .headline {
            @include text-styles(1rem, 1.38, "Lora");
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .c-image-component .image-component-image {

      .c-tease-icon {
        display: none;
      }
    }

    .lazyload-wrapper {
      width: 80px;
      height: 80px;
      overflow: hidden;

      @include breakpoint(desktop-sm) {
        width: 60px;
        height: 60px;
      }
    }

    img {
      border-radius: 0;
    }
  }
}
