$font: (
  primary: "Output Black",
  secondary: "Output Regular",
  tertiary: "Output Light"
) !default;

/* stylelint-disable */
// Declare your font faces in this file.
// Make sure to put your font files within the ../fonts folder!

// Example font face:
// @font-face {
//   font-family: 'Montserrat';
//   font-weight: 400;
//   src:  url('./../../../resources/fonts/montserrat/Montserrat-Regular.woff') format('woff');
// }

/* stylelint-enable */

@font-face {
  font-family: "Gordita";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("./../../../resources/fonts/gordita/gorditaregular-webfont.woff")
    format("woff");
<<<<<<< HEAD:src/base/framework/_fonts.scss
}
=======
}
>>>>>>> ce8088a47d3d628281e70e736b0f664a1e1b5868:src/styles/base/_fonts.scss
