/* stylelint-disable */
.fusion-app {
  overflow-x: hidden;

  & > div[type="rendering"] {
    & > section:not([id="0"]) {
      transition: transform 500ms cubic-bezier(0.56, 1.65, 0.77, 0.88);
      transition-timing-function: cubic-bezier(0.56, 1.65, 0.77, 0.88);
      position: relative;
    }
  }

  section {
    &.scroll {
      position: sticky;
      top: 0;
    }
  }

/* stylelint-enable */  

  main {
    padding-top: 1.25rem;
  }
}

/* stylelint-disable declaration-no-important */
/* Added hover state to links - APD-1459 */

.c-flatpage,
.c-listPage,
.c-searchPage,
.c-sectionContent,
.c-staff-page-main,
.c-homepageContent,
.c-sectionCentered,
.c-staffBioPage {
  
  a[href]:hover {
    color: #494949 !important;
  }
}
