.b-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid #a8a8a8;
}

.b-flexRow {
  display: flex;
  width: 100%;
}

.b-flexCenter {
  justify-content: center;
  align-items: center;
}

.b-margin-bottom-1 {
  margin-bottom: 1em;
}

.b-margin-bottom-2 {
  margin-bottom: 2em;
}

.b-margin-bottom-3 {
  margin-bottom: 3em;
}

.b-margin-bottom-4 {
  margin-bottom: 4em;
}

.b-margin-bottom-5 {
  margin-bottom: 5em;
}
