@import "./../../../../src/styles/base";

.home-headline {
  position: relative;
  padding-top: 50%;

  @include breakpoint(tablet) {
    padding-top: 46%;
  }

  &.sponsored {
    padding-top: 54%;

    @include breakpoint(tablet) {
      padding-top: 53%;
    }

    .homeList-image {
      position: absolute;
      top: 0;
      width: 100%;

      .c-image-component {
        position: initial;
      }

      .c-sponsorOverlay {
        height: 60px;
        display: flex;
        align-items: flex-start;
        padding-top: 10px;

        @media (min-width: 450px) {
          height: 65px;
        }

        @include breakpoint(tablet) {
          height: 45px;
        }

        @include breakpoint(desktop-sm) {
          height: 50px;
        }

        @include breakpoint(desktop-lg) {
          height: 55px;
        }
      }
    }
  }

  .c-image-component {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .headline-box {
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
    text-align: left;
    padding: 20px;
    position: relative;
    box-sizing: border-box;

    .section-label {
      @include text-styles(.75rem, 1, "Gordita");

      font-weight: 600;
    }

    .headline {
      display: block;
      margin-top: 10px;
      letter-spacing: -.31px;

      @include text-styles(1.563rem, 1.12, "Lora-Bold");

      @include breakpoint(tablet) {
        @include text-styles(1.625rem, 1.12, "Lora-Bold");

        letter-spacing: -.43px;
      }

      @include breakpoint(desktop-sm) {
        @include text-styles(1.875rem, 1.13, "Lora-Bold");

        letter-spacing: -.5px;
      }
    }
  }
}

.c-homeLeadContainer .home-headline:not(.sponsored) .homeList-image {
  position: initial;
}
