@import "./../../../../src/styles/base";

.home-headline {
  position: relative;
  padding-top: 50%;

  @include breakpoint(tablet) {
    padding-top: 46%;
  }

  &.sponsored {
    padding-top: 54%;

    @include breakpoint(tablet) {
      padding-top: 53%;
    }

    .homeList-image {
      position: absolute;
      top: 0;
      width: 100%;

      .c-image-component {
        position: initial;
      }

      .c-sponsorOverlay {
        height: 40px;
        display: flex;
        align-items: flex-start;
        padding-top: 10px;

        @media (min-width: 400px) {
          height: 45px;
        }

        @include breakpoint(desktop-sm) {
          height: 55px;
          padding-top: 13px;
        }
      }
    }
  }

  .c-image-component {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .headline-box {
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, .1);
    text-align: center;
    max-width: 90%;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;

    .section-label {
      @include text-styles(.75rem, 1, "Gordita");

      font-weight: 600;
    }

    .headline {
      display: block;
      margin-top: 10px;

      @include text-styles(1.4rem, 1.23, "Average");

      @include breakpoint(desktop-sm) {
        @include text-styles(2vw, 1.29, "Average");
      }

      @media (min-width: 1600px) {
        @include text-styles(2rem, 1.29, "Average");
      }
    }
  }
}

.c-homeLeadContainer .home-headline:not(.sponsored) .homeList-image {
  position: initial;
}
